body {
  box-sizing: border-box;
  position: relative;
}

.carousel-caption {
  padding-bottom: 12%;
}
.carousel-caption h3 {
  font-size: 4rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 1.25rem;
  color: #cdbcdd;
}

#team {
  background: linear-gradient(#e26161, #e0dbdb);
}

#menu .card {
  box-shadow: 2px 5px 20px #777;
}

#ad {
  background: url("../img/bs/wine.jpg");
  background-attachment: fixed;
  background-position: 0 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#video .meat {
  padding-top: 100px;
}

#testimonials {
  background: #444;
}
#testimonials .test {
  padding: 100px;
}
#testimonials .carousel-item {
  min-height: 200px;
}
#testimonials .carousel-item .active {
  border: none;
}

#main-footer {
  background: #000000;
  color: #fff;
}

#main-footer .container {
  text-align: center;
  padding: 1rem;
}

#contact .custom_btn {
  margin-top: 90px;
  margin-bottom: 30px;
  padding: 5px 40px;
}
