body {
  margin: 0;
  padding: 0;
  background-color: #e6f3fe;
}
#hidden_row_all {
  display: none;
  position: absolute;
  height: 100%;
  z-index: 80;
  width: 100%;
  background-color: #e6f3fe;
}
#close {
  margin-left: 90%;
  margin-top: 10%;
  cursor: pointer;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  font-size: 30px;
}
#three_lines {
  cursor: pointer;
}
.hidden_title {
  font-size: 20px;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  text-align: center;
  /* border-bottom: 5px solid black; */
  letter-spacing: 2px;
}
.hr {
  height: 10px;
  width: 85%;
  background-color: black;
}
.hidden_row {
  display: none;
}
.right_icon {
  display: block;
  float: right;
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 60;
}
.right_icon img {
  /* position: fixed; */
  display: block;
  padding: 30px;
  cursor: pointer;
  /* float: right; */
}

.first_row {
  background-color: #e6f3fe;
  overflow: auto;
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
  top: 0;
  z-index: 80;
  box-shadow: 0 5px black;

  /* box-shadow: 0px 5px white; */
}

.first_row ul {
  /* background-color: yellow; */

  width: 95%;
  position: relative;
}
.first_row #header_price_list:hover,
.first_row #header_our_services:hover,
.first_row #header_contact:hover {
  opacity: 0.5;
}

.first_row li {
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  cursor: pointer;
  display: inline;
  font-size: 1.2em;
  padding: 0 20px;
  line-height: 20px;
  /* margin:  0 auto; */
}
.laundry {
  letter-spacing: 3px;
}
.second_row {
  width: 85%;
  height: 30px;
  /* position: fixed; */
  /* box-sizing: border-box; */
  top: 50px;
  /* padding: 30px; */
  margin: 0 auto;
  background-color: white;
  position: sticky;
  z-index: 40;
  /* padding: 20px; */
}
.third_row {
  /* box-shadow:0 5px white; */
  height: 70vw;
  width: 85%;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
}

.circle_container {
  height: 50vw;
  width: 50vw;
  border-radius: 40vw;
  border: 1vw solid black;
  margin: auto;
}
.inside_circle {
  height: 46vw;
  width: 46vw;
  border-radius: 23vw;

  background-color: #e6f3fe;
  margin: auto;
  margin-top: 4%;
}
.inside_circle_text {
  font-size: 3.5vw;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  /* margin: 4%; */
  margin-top: 10%;

  width: 44vw;
  position: absolute;

  box-sizing: border-box;
  /* line-height: 60px; */
  word-break: break-all;
  text-align: center;
  z-index: 30;
}
.clothes {
  /* margin-left: 80px; */
  height: 36vw;
  width: 36vw;
  /* text-align: center; */
  overflow: auto;
  /* object-fit: cover; */
  /* position: relative; */
  margin-left: 12%;
  margin-top: 10%;
}

.arrow {
  transform: rotate(90deg);
  margin-left: 42%;
  font-weight: bold;
  text-align: center;
  height: 8vw;
  width: 8vw;
  cursor: pointer;
  /* opacity: 0.6; */
}
.arrow:hover {
  opacity: 0.5;
}
.our_service {
  margin-top: 10%;
  font-size: 3.5vw;
  letter-spacing: 4.9px;
  margin-left: 25%;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
}
#container1,
#container2,
#container3 {
  width: 1%;
  height: 15px;
  margin-left: 25%;
  background-color: black;
  position: absolute;
}
.service_text {
  width: 500px;
  margin-left: 25%;
  box-sizing: border-box;
  position: relative;
  font-family: brandon-grot-w01-light;
  font-size: 21px;
  margin-top: 8%;
  /* z-index: 20; */
  /* text-align: center; */
}
.self_service_background,
.full_service_background,
.drop_off_service_background {
  height: 400px;
  width: 85%;
  margin: 0 auto;
  /* text-align: center; */
  /* border: 1px solid black; */
  /* top: auto; */
  position: relative;
  /* margin-left: 25%; */
  /* margin-left: 7.5%;
  margin-top: 10%; */
  overflow: auto;
  background-color: white;
  padding: 0;
  /* top: 0; */
}
/* .full_service_background{
  background-color: inherit;
} */
.self_service_container {
  /* height: 350px; */
  width: 85%;
  height: 400px;
  margin: 0 auto;
  margin-top: -400px;
  /* text-align: center; */
  /* border: 1px solid black; */
  position: relative;
  /* padding-bottom: 5%; */
}
.drop_off_service_container {
  /* height: 350px; */
  width: 85%;
  margin: 0 auto;
  height: 400px;
  margin-top: -400px;
  /* margin-top: -10%; */
  /* background-color: white; */
  padding: 0;
  position: relative;
  /* padding-bottom: 5%; */
  /* border: 1px solid black; */
}
.full_service_container {
  /* height: 350px; */
  width: 85%;
  height: 400px;
  margin: 0 auto;
  margin-top: -400px;
  /* margin-top: -10%; */
  /* background-color: lightblue; */
  padding: 0;
  position: relative;
}
.circle {
  /* position: relative; */
  margin-left: 20%;
  margin-top: 8%;
  float: left;
  display: inline;
  position: relative;
}

.service {
  font-size: 3.5vw;
  letter-spacing: 0.08em;
  margin-left: 35%;
  position: relative;
  /* margin-top: 10%; */
  padding-top: 8%;
  line-height: 2em;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  /* display: flex; */
}

.service_title {
  font-family: brandon-grot-w01-light;
  font-size: 21px;
  margin-left: 35%;
  position: relative;
  line-height: 3em;
  opacity: 1;
  /* margin-top: 5%; */
}
.service_note {
  font-family: brandon-grot-w01-light;
  font-size: 16px;
  /* margin-left: 20%;
  margin-top: 10%; */
  box-sizing: border-box;
  width: 60%;
  margin-left: 35%;
  position: relative;
  padding-bottom: 5%;
  /* width: 300px; */
}
.c {
  display: flex;
  right: 20%;
}
.price_row {
  width: 85%;
  /* width: 1230px; */
  box-sizing: border-box;
  /* height: 300px; */
  /* border: 2px solid black; */
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  overflow: auto;
}
.price_container svg {
  float: left;
  margin-left: 20%;
  margin-top: 8%;
  position: relative;
}
#price_container2 {
  /* backface-visibility:hidden; */
  /* opacity: 0.6; */
  /* background: rgba(230, 243, 254,1); */
  background-color: #e6f3fe;
}
/* #price_clothes2 ul{
float: left;
} */
.price_container {
  margin: 0 auto;
  width: 33.33%;
  /* height: 300px; */
  background-color: lightblue;
  box-sizing: border-box;
  float: left;
  display: block;
}

.price_clothes ul {
  font-family: brandon-grot-w01-light;
  font-size: 16px;
  /* float: left; */
  position: relative;
  float: left;

  /* margin-left: -20%; */
  box-sizing: border-box;
  /* margin-top: 5%; */
}
.price_clothes li {
  /* line-height: 28.8px; */
  display: block;
  /* float: left; */
  /* display: inline; */
  /* position: relative; */
  /* left: 0;
  margin: auto; */
  /* float: left; */
}
.price_service_text {
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  font-size: 20px;
  line-height: 24px;
  /* text-align: center; */
  /* letter-spacing: 0.3em; */
  margin-top: 10%;
  /* margin-left: 40%;  */
}
/* .a{
  display: inline;

} */

.price_list ul {
  font-family: brandon-grot-w01-light;
  font-size: 16px;
  /* float: right; */
  /* margin-right: 10%;
  position: relative; */
  box-sizing: border-box;
  margin-right: 10%;
  position: relative;
  /* background-color: red; */
  /* height: 200px; */
}
.price_list li {
  display: block;
  /* line-height: 28.8px; */
}
.contact_container {
  /* position:relative; */
  width: 600px;
  height: 300px;
  box-sizing: border-box;
  /* display: grid; */

  /* float: left; */
  margin-left: 25%;
}
.address_container,
.tele_container,
.email_container,
.open_hours_container {
  /* float: left; */
  /* display: flex; */
  /* display: block; */
  /* margin: 0 50px; */
  width: 250px;

  box-sizing: border-box;
  /* border: 1px solid blue; */
  /* padding-left: 30px; */
  /* box-sizing: border-box; */
}
.tele_container,
.open_hours_container {
  /* float: right; */
  margin-top: -20%;
  margin-left: 60%;
}

.address_container,
.email_container {
  margin-top: 10%;
}
.open_hours_container {
  margin-top: -15%;
}
.email_container {
  margin-top: 15%;
}
.address,
.tele,
.email,
.open_hours {
  font-size: 24px;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  /* margin-left: 25%;
  margin-top: 7%; */
  /* float: left; */
}
.info {
  font-family: brandon-grot-w01-light;
  font-size: 21px;
}

.map_row {
  width: 80%;
  /* margin: 3px auto; */
  margin: 0 auto;
  /* margin-left: -25%; */
  /* border: 2px solid black; */
  /* margin-left: -20%; */
  box-sizing: border-box;
  height: 500px;
}
/* .arrow_up_container{
  width: 100%;
  background: url('img/4.webp') no-repeat center center;
  height: 200px;
} */
.arrow_up_container {
  position: relative;
  display: block;
  cursor: pointer;
  /* display: block; */
}

.arrow_up {
  transform: rotate(270deg);
  position: absolute;
  /* text-align: center; */
  /* top: 0; */
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  cursor: pointer;
}
.arrow_up:hover {
  opacity: 0.5;
}
.back_to_top {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10 black", sans-serif;
  margin-top: 30px;
}

footer h6 {
  font-size: 16px;
  text-align: center;
  font-family: brandon-grot-w01-light;
}

@font-face {
  font-family: brandon-grot-w01-light;
  src: url("../fonts/brandon-light1.otf");
}
@font-face {
  font-family: microbrew;
  src: url("../fonts/microbrew-three.woff");
}
/* @media screen and (max-width:800px) and (min-width:590px) {

.price_row{
  display: block;

}
.price_container{
  width: 100%;
  float: none;
  display: block;
} */

@media screen and (max-width: 770px) {
  /* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */
  .first_row {
    display: none;
  }
  .self_service_container {
    /* height: 500px; */
  }
  .circle svg {
    height: 60px;
    width: 60px;
  }

  .self_service_container {
    /* height: 350px; */
    width: 85%;
    margin: 0 auto;
    margin-top: -350px;
    /* text-align: center; */
    /* border: 1px solid black; */
    position: relative;
    padding: 0;
  }
  .service_title {
    line-height: 1em;
    /* font-family :"arial black", arial-w01-black, arial-w02-black, "arial-w10 black", sans-serif; */
    /* display: flex; */
  }
  .hidden_row {
    display: block;
  }
  .hidden_row ul {
    /* display: inline; */
    text-align: center;
  }
  .hidden_row li {
    display: inline;
    padding: auto;
    /* float: right; */
  }
  .hidden_row li img {
    float: right;
    margin-right: 5%;
  }
  .hidden_row_laundry {
    letter-spacing: 0.5em;
    text-align: center;
    width: 80%;
    /* margin: 0 auto; */
  }

  .second_row {
    width: 100%;
    height: 30px;
    /* position: fixed; */
    /* box-sizing: border-box; */
    /* top:50px; */
    /* padding: 30px; */
    margin: 0 auto;
    background-color: white;
    position: relative;
    z-index: 0;
    /* padding: 20px; */
  }
  .third_row {
    width: 100%;
    /* position: relative; */
  }
  .right_icon {
    display: inline;
    float: none;
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 60;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: auto;
    text-align: center;
    /* background-color: white; */
  }
  .right_icon img {
    display: inline;
    padding: 20px;
    text-align: center;
  }

  .service_text {
    width: 85%;
    margin-left: 10%;
    box-sizing: border-box;
    position: relative;
    font-family: brandon-grot-w01-light;
    font-size: 21px;
    margin-top: 8%;
    /* z-index: 20; */
    /* text-align: center; */
  }
  .self_service_background,
  .full_service_background,
  .drop_off_service_background {
    display: none;
  }
  .self_service_container,
  .drop_off_service_container,
  .full_service_container {
    /* height: 350px; */
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    /* text-align: center; */
    /* border: 1px solid black; */
    position: relative;
    padding: 0;
  }
  .drop_off_service_container {
    background-color: white;
  }

  .address_container,
  .tele_container,
  .email_container,
  .open_hours_container {
    width: 100%;
    box-sizing: border-box;
  }
  .contact_container {
    /* position:relative; */
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin-left: 10%;
  }
  .address_container,
  .tele_container,
  .email_container,
  .open_hours_container {
    width: 100%;
    padding-top: 10%;

    box-sizing: border-box;
    /* border: 1px solid blue; */
    /* padding-left: 30px; */
    /* box-sizing: border-box; */
  }

  /* .service{
  margin-left: 10%;
} */
  .our_service {
    margin-top: 10%;
    font-size: 3.5vw;
    letter-spacing: 4.9px;
    margin-left: 10%;
    /* text-align: center; */
    font-family: "arial black", arial-w01-black, arial-w02-black,
      "arial-w10 black", sans-serif;
  }

  .tele_container,
  .open_hours_container {
    /* float: right; */
    margin-top: 0;
    margin-left: 0;
  }

  .address_container,
  .email_container {
    margin-top: 0;
  }
  .open_hours_container {
    margin-top: 0;
  }
  .email_container {
    margin-top: 0;
  }
  #container1,
  #container2,
  #container3 {
    width: 1%;
    height: 15px;
    margin-left: 10%;
    background-color: black;
    position: absolute;
  }

  .service {
    font-size: 5vw;
    letter-spacing: 0.08em;
    margin-left: 35%;
    position: relative;
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    line-height: 2em;
    font-family: "arial black", arial-w01-black, arial-w02-black,
      "arial-w10 black", sans-serif;
    /* display: flex; */
  }

  .service_title {
    font-family: brandon-grot-w01-light;
    font-size: 21px;
    margin-left: 10%;
    position: relative;
    line-height: 2em;
    padding-bottom: 5%;
    opacity: 1;
    /* margin-top: 5%; */
  }
  .service_note {
    font-family: brandon-grot-w01-light;
    font-size: 16px;
    /* margin-left: 20%;
  margin-top: 10%; */
    box-sizing: border-box;
    width: 85%;
    margin-left: 10%;
    position: relative;
    /* width: 300px; */
  }
  .price_container {
    /* margin: 0 auto; */
    width: 100%;
    position: relative;
    /* height: 300px; */
    background-color: lightblue;
    box-sizing: border-box;
    float: none;
    display: block;
  }

  .price_clothes ul {
    font-family: brandon-grot-w01-light;
    font-size: 16px;
    /* float: left; */
    position: relative;
    float: left;

    /* margin-left: -20%; */
    box-sizing: border-box;
    /* margin-top: 5%; */
  }
  .price_clothes li {
    /* line-height: 28.8px; */
    display: block;
  }
  .price_service_text {
    font-family: "arial black", arial-w01-black, arial-w02-black,
      "arial-w10 black", sans-serif;
    font-size: 20px;
    line-height: 24px;
    /* text-align: center; */
    /* letter-spacing: 0.3em; */
    margin-top: 0;
    padding-top: 5%;
    /* margin-left: 20%; */
    /* background: red; */
    text-align: center;
    /* margin-left: 40%;  */
  }

  .price_list ul {
    font-family: brandon-grot-w01-light;
    font-size: 16px;

    box-sizing: border-box;
    margin-right: 10%;
    position: relative;
  }
  .price_list li {
    display: block;
    /* line-height: 28.8px; */
  }
  .price_row {
    width: 100%;
    /* width: 1230px; */
    box-sizing: border-box;
    /* height: 300px; */
    /* border: 2px solid black; */
    margin: 10% auto;
    /* margin-top: 30px; */
    position: relative;
    overflow: auto;
  }
  .price_container {
    width: 100%;
    float: none;
    display: block;
  }
  .circle {
    /* position: relative; */
    margin-left: 10%;
    margin-top: 4%;
    float: left;
    display: inline;
    position: relative;
  }
  .price_container svg {
    float: left;
    margin-left: 10%;
    margin-top: 4%;
    position: relative;
  }
  .map_row {
    width: 85%;
    /* margin: 3px auto; */
    margin: 0 auto;
    padding-top: 5%;
    /* margin-left: -25%; */
    /* border: 2px solid black; */
    /* margin-left: -20%; */
    box-sizing: border-box;
    height: 500px;
  }
  .circle_container {
    height: 50vw;
    width: 50vw;
    border-radius: 40vw;
    border: 10px solid black;
    margin: auto;
    margin-top: -5%;
  }
  .arrow {
    transform: rotate(90deg);

    font-weight: bold;
    text-align: center;
    height: auto;
    width: auto;
    cursor: pointer;
    position: absolute;

    margin: auto;
    top: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0.6; */
  }
  .arrow_up {
    transform: rotate(270deg);
    position: absolute;
    /* text-align: center; */
    /* top: 0; */
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    cursor: pointer;
  }
}
