@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap);
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1b2735;
}

#header {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#header .name {
  font-size: 5rem;
  background: -webkit-linear-gradient(white, #31235a);
  -webkit-background-clip: text;
  background-clip: text;
}

#header .web-title {
  font-size: 2rem;
  display: inherit;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1395px 18px #FFF , 1300px 92px #FFF , 1188px 1478px #FFF , 236px 609px #FFF , 940px 290px #FFF , 617px 873px #FFF , 1861px 568px #FFF , 1063px 1515px #FFF , 311px 1147px #FFF , 1056px 781px #FFF , 636px 615px #FFF , 489px 1291px #FFF , 601px 799px #FFF , 1354px 1310px #FFF , 1099px 1479px #FFF , 1258px 1156px #FFF , 1725px 700px #FFF , 339px 701px #FFF , 1420px 1774px #FFF , 665px 853px #FFF , 794px 205px #FFF , 668px 471px #FFF , 982px 1427px #FFF , 1998px 1956px #FFF , 1717px 194px #FFF , 757px 1874px #FFF , 1762px 1014px #FFF , 1591px 453px #FFF , 332px 637px #FFF , 923px 133px #FFF , 1457px 608px #FFF , 1254px 1766px #FFF , 1861px 289px #FFF , 1187px 663px #FFF , 1376px 1265px #FFF , 801px 515px #FFF , 544px 1451px #FFF , 1042px 1217px #FFF , 1706px 1676px #FFF , 1758px 1356px #FFF , 661px 1113px #FFF , 1474px 663px #FFF , 1773px 11px #FFF , 548px 1225px #FFF , 1192px 851px #FFF , 690px 1047px #FFF , 772px 1287px #FFF , 689px 231px #FFF , 970px 1px #FFF , 1936px 936px #FFF , 304px 1945px #FFF , 1991px 1226px #FFF , 151px 386px #FFF , 1458px 50px #FFF , 1364px 696px #FFF , 1670px 1416px #FFF , 791px 317px #FFF , 1179px 1643px #FFF , 942px 1597px #FFF , 1288px 1264px #FFF , 273px 631px #FFF , 1332px 414px #FFF , 612px 635px #FFF , 1861px 47px #FFF , 1555px 267px #FFF , 987px 1538px #FFF , 96px 294px #FFF , 15px 1011px #FFF , 1217px 1718px #FFF , 403px 1706px #FFF , 1211px 1327px #FFF , 1602px 1686px #FFF , 1727px 677px #FFF , 332px 1922px #FFF , 819px 845px #FFF , 709px 1781px #FFF , 1166px 1128px #FFF , 974px 1272px #FFF , 1288px 1766px #FFF , 1813px 720px #FFF , 1698px 123px #FFF , 1255px 835px #FFF , 1893px 1410px #FFF , 470px 402px #FFF , 1424px 739px #FFF , 1703px 990px #FFF , 1942px 1324px #FFF , 1664px 1686px #FFF , 1301px 1640px #FFF , 1003px 1131px #FFF , 1830px 1656px #FFF , 165px 1627px #FFF , 1783px 1310px #FFF , 1375px 1742px #FFF , 328px 1379px #FFF , 196px 1383px #FFF , 847px 308px #FFF , 76px 1940px #FFF , 1769px 887px #FFF , 774px 729px #FFF , 1074px 194px #FFF , 1482px 427px #FFF , 163px 1754px #FFF , 568px 176px #FFF , 1361px 2px #FFF , 877px 313px #FFF , 1279px 219px #FFF , 1004px 231px #FFF , 1213px 1839px #FFF , 1969px 619px #FFF , 1690px 23px #FFF , 159px 1720px #FFF , 1195px 415px #FFF , 1968px 1562px #FFF , 1175px 1085px #FFF , 1288px 1624px #FFF , 625px 138px #FFF , 1908px 473px #FFF , 382px 1947px #FFF , 1937px 113px #FFF , 1630px 839px #FFF , 1590px 1095px #FFF , 105px 1494px #FFF , 1906px 1198px #FFF , 512px 686px #FFF , 1924px 797px #FFF , 59px 904px #FFF , 1179px 1005px #FFF , 653px 1460px #FFF , 299px 1318px #FFF , 251px 1215px #FFF , 701px 1852px #FFF , 755px 725px #FFF , 1648px 583px #FFF , 257px 1321px #FFF , 307px 585px #FFF , 1171px 1851px #FFF , 1873px 90px #FFF , 39px 1847px #FFF , 1508px 765px #FFF , 1557px 400px #FFF , 1760px 539px #FFF , 1296px 497px #FFF , 850px 441px #FFF , 1590px 1473px #FFF , 329px 1366px #FFF , 249px 1817px #FFF , 1289px 1318px #FFF , 1173px 1303px #FFF , 560px 593px #FFF , 1695px 1360px #FFF , 1506px 521px #FFF , 1565px 198px #FFF , 1222px 610px #FFF , 883px 557px #FFF , 1124px 895px #FFF , 884px 72px #FFF , 407px 1656px #FFF , 382px 848px #FFF , 1050px 1225px #FFF , 1859px 1769px #FFF , 1608px 910px #FFF , 27px 1455px #FFF , 174px 889px #FFF , 343px 1259px #FFF , 1409px 1705px #FFF , 88px 534px #FFF , 1972px 1976px #FFF , 1540px 563px #FFF , 1917px 1742px #FFF , 160px 992px #FFF , 1857px 1910px #FFF , 1393px 1242px #FFF , 1111px 1105px #FFF , 309px 1474px #FFF , 5px 1328px #FFF , 1180px 682px #FFF , 1344px 1414px #FFF , 1223px 495px #FFF , 1600px 448px #FFF , 1655px 219px #FFF , 112px 772px #FFF , 475px 1294px #FFF , 276px 1487px #FFF , 1256px 715px #FFF , 1907px 1705px #FFF , 332px 960px #FFF , 1810px 954px #FFF , 371px 1345px #FFF , 1107px 999px #FFF , 1481px 1185px #FFF , 1975px 1789px #FFF , 35px 885px #FFF , 1026px 1305px #FFF , 1021px 678px #FFF , 902px 625px #FFF , 948px 1533px #FFF , 608px 256px #FFF , 825px 1548px #FFF , 135px 86px #FFF , 1005px 1771px #FFF , 383px 1470px #FFF , 1542px 902px #FFF , 720px 465px #FFF , 430px 1320px #FFF , 142px 1587px #FFF , 745px 383px #FFF , 344px 257px #FFF , 1592px 742px #FFF , 991px 879px #FFF , 228px 1455px #FFF , 1137px 878px #FFF , 215px 523px #FFF , 1678px 1124px #FFF , 1344px 535px #FFF , 1840px 510px #FFF , 1420px 1193px #FFF , 1932px 1840px #FFF , 149px 809px #FFF , 967px 1559px #FFF , 1741px 516px #FFF , 1322px 1124px #FFF , 1130px 1360px #FFF , 879px 1091px #FFF , 558px 23px #FFF , 328px 780px #FFF , 870px 822px #FFF , 99px 936px #FFF , 746px 1745px #FFF , 1488px 1807px #FFF , 1339px 437px #FFF , 994px 417px #FFF , 1959px 1152px #FFF , 1817px 40px #FFF , 267px 135px #FFF , 517px 470px #FFF , 1989px 135px #FFF , 1795px 1781px #FFF , 1536px 1443px #FFF , 1917px 195px #FFF , 968px 1974px #FFF , 1175px 358px #FFF , 1694px 1088px #FFF , 302px 1797px #FFF , 1589px 20px #FFF , 952px 930px #FFF , 425px 655px #FFF , 281px 1319px #FFF , 1459px 1512px #FFF , 1305px 1818px #FFF , 1516px 699px #FFF , 1861px 1298px #FFF , 114px 745px #FFF , 1741px 1284px #FFF , 1190px 309px #FFF , 1113px 1838px #FFF , 427px 734px #FFF , 853px 392px #FFF , 845px 1040px #FFF , 1927px 8px #FFF , 1387px 603px #FFF , 104px 740px #FFF , 251px 1948px #FFF , 1378px 212px #FFF , 507px 1864px #FFF , 1944px 739px #FFF , 291px 981px #FFF , 1037px 1267px #FFF , 438px 223px #FFF , 1792px 1727px #FFF , 868px 619px #FFF , 444px 1148px #FFF , 743px 1079px #FFF , 1288px 473px #FFF , 347px 831px #FFF , 1835px 361px #FFF , 836px 450px #FFF , 281px 1427px #FFF , 1186px 280px #FFF , 505px 1510px #FFF , 1217px 282px #FFF , 1446px 567px #FFF , 1179px 595px #FFF , 1773px 883px #FFF , 1368px 523px #FFF , 1751px 122px #FFF , 352px 1055px #FFF , 1082px 41px #FFF , 1197px 1086px #FFF , 80px 332px #FFF , 584px 1301px #FFF , 952px 1137px #FFF , 1860px 204px #FFF , 975px 289px #FFF , 773px 1513px #FFF , 440px 1333px #FFF , 1017px 1768px #FFF , 1453px 1486px #FFF , 945px 934px #FFF , 569px 474px #FFF , 1559px 907px #FFF , 1533px 819px #FFF , 679px 1725px #FFF , 413px 827px #FFF , 1326px 1559px #FFF , 323px 1010px #FFF , 1909px 1209px #FFF , 881px 151px #FFF , 1013px 419px #FFF , 1014px 766px #FFF , 541px 932px #FFF , 850px 577px #FFF , 869px 1820px #FFF , 1249px 1919px #FFF , 160px 276px #FFF , 1247px 1245px #FFF , 1989px 324px #FFF , 283px 1799px #FFF , 963px 1988px #FFF , 875px 67px #FFF , 1147px 505px #FFF , 95px 1390px #FFF , 726px 744px #FFF , 1201px 1787px #FFF , 110px 701px #FFF , 85px 635px #FFF , 268px 890px #FFF , 1160px 1900px #FFF , 1247px 446px #FFF , 1431px 1147px #FFF , 1191px 977px #FFF , 1672px 1844px #FFF , 448px 42px #FFF , 239px 1203px #FFF , 1127px 1723px #FFF , 964px 432px #FFF , 110px 807px #FFF , 810px 1289px #FFF , 118px 580px #FFF , 547px 744px #FFF , 106px 1943px #FFF , 1658px 1433px #FFF , 850px 982px #FFF , 1096px 1795px #FFF , 1673px 96px #FFF , 900px 157px #FFF , 1711px 1372px #FFF , 1361px 130px #FFF , 1142px 1819px #FFF , 826px 309px #FFF , 1131px 345px #FFF , 122px 849px #FFF , 559px 1018px #FFF , 1742px 1000px #FFF , 237px 998px #FFF , 939px 779px #FFF , 84px 1885px #FFF , 1119px 713px #FFF , 8px 308px #FFF , 1101px 1427px #FFF , 1349px 1654px #FFF , 1194px 1999px #FFF , 303px 816px #FFF , 770px 1608px #FFF , 292px 751px #FFF , 153px 757px #FFF , 602px 509px #FFF , 1217px 298px #FFF , 58px 305px #FFF , 231px 1672px #FFF , 1458px 1849px #FFF , 277px 851px #FFF , 36px 1470px #FFF , 1995px 1707px #FFF , 1145px 660px #FFF , 283px 466px #FFF , 259px 1706px #FFF , 34px 1264px #FFF , 1894px 400px #FFF , 1000px 977px #FFF , 1757px 1922px #FFF , 332px 73px #FFF , 555px 1390px #FFF , 584px 1147px #FFF , 189px 1478px #FFF , 1262px 1567px #FFF , 425px 1261px #FFF , 1998px 1312px #FFF , 707px 91px #FFF , 1186px 886px #FFF , 1605px 1968px #FFF , 1712px 820px #FFF , 1665px 816px #FFF , 746px 658px #FFF , 1748px 1483px #FFF , 1137px 1283px #FFF , 1914px 1645px #FFF , 911px 1297px #FFF , 240px 1525px #FFF , 33px 1693px #FFF , 1063px 290px #FFF , 1927px 706px #FFF , 194px 1215px #FFF , 666px 1440px #FFF , 1322px 661px #FFF , 1552px 1432px #FFF , 674px 1258px #FFF , 1476px 385px #FFF , 1670px 387px #FFF , 1761px 665px #FFF , 1900px 1214px #FFF , 951px 1781px #FFF , 1722px 1186px #FFF , 963px 1318px #FFF , 496px 254px #FFF , 1686px 1791px #FFF , 185px 492px #FFF , 861px 1151px #FFF , 640px 347px #FFF , 680px 1309px #FFF , 1634px 1089px #FFF , 1057px 663px #FFF , 1567px 1672px #FFF , 87px 582px #FFF , 1260px 1100px #FFF , 609px 1435px #FFF , 1447px 1619px #FFF , 703px 725px #FFF , 1150px 1848px #FFF , 1024px 134px #FFF , 1165px 881px #FFF , 543px 413px #FFF , 772px 1236px #FFF , 1995px 61px #FFF , 1744px 1281px #FFF , 1133px 897px #FFF , 1004px 980px #FFF , 1937px 143px #FFF , 651px 1424px #FFF , 532px 920px #FFF , 17px 1805px #FFF , 634px 26px #FFF , 1507px 1947px #FFF , 1275px 72px #FFF , 1852px 452px #FFF , 1372px 1257px #FFF , 880px 664px #FFF , 458px 451px #FFF , 1314px 1750px #FFF , 715px 1732px #FFF , 1304px 863px #FFF , 1988px 1697px #FFF , 396px 747px #FFF , 712px 667px #FFF , 1217px 1251px #FFF , 1253px 1878px #FFF , 1792px 152px #FFF , 1486px 630px #FFF , 664px 1811px #FFF , 1108px 558px #FFF , 465px 688px #FFF , 1825px 1970px #FFF , 418px 1103px #FFF , 585px 31px #FFF , 857px 227px #FFF , 1859px 351px #FFF , 1259px 529px #FFF , 1557px 481px #FFF , 251px 1227px #FFF , 1472px 1685px #FFF , 1547px 818px #FFF , 1757px 1089px #FFF , 396px 601px #FFF , 1540px 826px #FFF , 505px 885px #FFF , 464px 1265px #FFF , 410px 132px #FFF , 1074px 1011px #FFF , 35px 943px #FFF , 1488px 1932px #FFF , 1973px 385px #FFF , 1808px 779px #FFF , 339px 315px #FFF , 1435px 1276px #FFF , 708px 1365px #FFF , 1527px 308px #FFF , 1199px 1853px #FFF , 23px 76px #FFF , 700px 1895px #FFF , 1436px 628px #FFF , 1400px 231px #FFF , 1233px 367px #FFF , 1521px 1513px #FFF , 416px 1230px #FFF , 250px 1044px #FFF , 216px 446px #FFF , 903px 302px #FFF , 15px 1050px #FFF , 841px 1469px #FFF , 1452px 1166px #FFF , 436px 1010px #FFF , 944px 201px #FFF , 389px 463px #FFF , 1216px 1039px #FFF , 1127px 1406px #FFF , 1337px 304px #FFF , 460px 558px #FFF , 1634px 1147px #FFF , 1692px 1908px #FFF , 552px 1465px #FFF , 289px 641px #FFF , 568px 1830px #FFF , 491px 283px #FFF , 714px 1853px #FFF , 569px 643px #FFF , 999px 1114px #FFF , 1781px 891px #FFF , 1362px 634px #FFF , 225px 120px #FFF , 995px 886px #FFF , 703px 637px #FFF , 1413px 133px #FFF , 941px 1786px #FFF , 348px 17px #FFF , 416px 1455px #FFF , 1850px 532px #FFF , 266px 698px #FFF , 1082px 1554px #FFF , 626px 997px #FFF , 417px 414px #FFF , 992px 1993px #FFF , 263px 13px #FFF , 539px 1846px #FFF , 260px 76px #FFF , 708px 1415px #FFF , 388px 970px #FFF , 1706px 1655px #FFF , 1376px 1716px #FFF , 350px 1667px #FFF , 1758px 1122px #FFF , 1156px 295px #FFF , 26px 1972px #FFF , 1565px 34px #FFF , 513px 643px #FFF , 40px 1049px #FFF , 294px 1281px #FFF , 1032px 432px #FFF , 450px 527px #FFF , 1730px 1024px #FFF , 1823px 1828px #FFF , 1144px 1759px #FFF , 44px 1650px #FFF , 1934px 1098px #FFF , 504px 556px #FFF , 1218px 1563px #FFF , 1372px 1194px #FFF , 429px 84px #FFF , 723px 849px #FFF , 40px 1507px #FFF , 1731px 1723px #FFF , 155px 1580px #FFF , 1877px 1519px #FFF , 1354px 1715px #FFF , 890px 1910px #FFF , 804px 1484px #FFF , 208px 337px #FFF , 1054px 1681px #FFF , 1442px 191px #FFF , 1887px 651px #FFF , 917px 493px #FFF , 1783px 1208px #FFF , 544px 1347px #FFF , 1804px 1288px #FFF , 188px 1579px #FFF , 1815px 1766px #FFF , 78px 27px #FFF , 213px 1271px #FFF , 865px 1436px #FFF , 996px 1619px #FFF , 512px 958px #FFF , 763px 409px #FFF , 331px 590px #FFF , 1695px 1665px #FFF , 262px 297px #FFF , 1419px 210px #FFF , 338px 1548px #FFF , 1359px 708px #FFF , 384px 1608px #FFF , 871px 1791px #FFF , 793px 972px #FFF , 168px 1867px #FFF , 776px 1523px #FFF , 651px 1966px #FFF , 899px 219px #FFF , 537px 1499px #FFF , 247px 278px #FFF , 1802px 796px #FFF , 266px 1776px #FFF , 1652px 1918px #FFF , 45px 1593px #FFF , 88px 848px #FFF , 1431px 1663px #FFF , 1334px 597px #FFF , 1594px 1426px #FFF , 995px 685px #FFF , 719px 953px #FFF , 1126px 1663px #FFF , 1747px 1890px #FFF , 1018px 1023px #FFF , 1807px 1555px #FFF , 87px 1759px #FFF , 341px 246px #FFF , 893px 1419px #FFF , 1553px 1584px #FFF , 1312px 1847px #FFF , 91px 706px #FFF , 386px 1312px #FFF , 1683px 1278px #FFF , 770px 499px #FFF , 561px 204px #FFF , 1453px 1376px #FFF , 845px 1307px #FFF , 959px 689px #FFF , 1567px 1983px #FFF , 605px 1755px #FFF , 957px 1303px #FFF , 1431px 617px #FFF , 917px 990px #FFF , 1868px 1526px #FFF , 883px 10px #FFF , 1954px 439px #FFF , 1730px 1703px #FFF , 1461px 1116px #FFF , 912px 194px #FFF , 1786px 280px #FFF , 1336px 1282px #FFF , 1910px 1801px #FFF , 1290px 1427px #FFF , 879px 744px #FFF , 1962px 1711px #FFF , 667px 2000px #FFF , 393px 101px #FFF , 1218px 1585px #FFF , 916px 972px #FFF , 1840px 1295px #FFF , 1137px 1953px #FFF , 70px 1049px #FFF , 420px 1522px #FFF , 5px 1867px #FFF , 802px 760px #FFF , 808px 1752px #FFF , 1838px 1121px #FFF , 175px 1171px #FFF , 1302px 154px #FFF , 1580px 1321px #FFF , 1364px 1305px #FFF , 1650px 1061px #FFF , 1560px 551px #FFF , 969px 306px #FFF , 323px 1715px #FFF , 895px 1664px #FFF , 1907px 1797px #FFF , 1290px 416px #FFF , 1728px 1859px #FFF , 1139px 980px #FFF , 745px 244px #FFF , 369px 1700px #FFF , 264px 774px #FFF , 1883px 1370px #FFF , 110px 1165px #FFF , 1066px 1651px #FFF , 907px 140px #FFF , 867px 1697px #FFF , 1989px 1008px #FFF , 1748px 274px #FFF , 1109px 107px #FFF , 1193px 656px #FFF , 605px 166px #FFF , 1942px 156px #FFF , 1642px 703px #FFF , 379px 19px #FFF , 1474px 1705px #FFF , 193px 1934px #FFF , 1673px 435px #FFF , 206px 1398px #FFF , 591px 1298px #FFF , 1350px 479px #FFF , 311px 1489px #FFF , 915px 255px #FFF , 252px 966px #FFF , 208px 532px #FFF , 1832px 1448px #FFF , 29px 719px #FFF , 348px 817px #FFF , 608px 289px #FFF , 201px 1338px #FFF , 1858px 59px #FFF , 1242px 279px #FFF , 1918px 1812px #FFF , 1067px 590px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1395px 18px #FFF , 1300px 92px #FFF , 1188px 1478px #FFF , 236px 609px #FFF , 940px 290px #FFF , 617px 873px #FFF , 1861px 568px #FFF , 1063px 1515px #FFF , 311px 1147px #FFF , 1056px 781px #FFF , 636px 615px #FFF , 489px 1291px #FFF , 601px 799px #FFF , 1354px 1310px #FFF , 1099px 1479px #FFF , 1258px 1156px #FFF , 1725px 700px #FFF , 339px 701px #FFF , 1420px 1774px #FFF , 665px 853px #FFF , 794px 205px #FFF , 668px 471px #FFF , 982px 1427px #FFF , 1998px 1956px #FFF , 1717px 194px #FFF , 757px 1874px #FFF , 1762px 1014px #FFF , 1591px 453px #FFF , 332px 637px #FFF , 923px 133px #FFF , 1457px 608px #FFF , 1254px 1766px #FFF , 1861px 289px #FFF , 1187px 663px #FFF , 1376px 1265px #FFF , 801px 515px #FFF , 544px 1451px #FFF , 1042px 1217px #FFF , 1706px 1676px #FFF , 1758px 1356px #FFF , 661px 1113px #FFF , 1474px 663px #FFF , 1773px 11px #FFF , 548px 1225px #FFF , 1192px 851px #FFF , 690px 1047px #FFF , 772px 1287px #FFF , 689px 231px #FFF , 970px 1px #FFF , 1936px 936px #FFF , 304px 1945px #FFF , 1991px 1226px #FFF , 151px 386px #FFF , 1458px 50px #FFF , 1364px 696px #FFF , 1670px 1416px #FFF , 791px 317px #FFF , 1179px 1643px #FFF , 942px 1597px #FFF , 1288px 1264px #FFF , 273px 631px #FFF , 1332px 414px #FFF , 612px 635px #FFF , 1861px 47px #FFF , 1555px 267px #FFF , 987px 1538px #FFF , 96px 294px #FFF , 15px 1011px #FFF , 1217px 1718px #FFF , 403px 1706px #FFF , 1211px 1327px #FFF , 1602px 1686px #FFF , 1727px 677px #FFF , 332px 1922px #FFF , 819px 845px #FFF , 709px 1781px #FFF , 1166px 1128px #FFF , 974px 1272px #FFF , 1288px 1766px #FFF , 1813px 720px #FFF , 1698px 123px #FFF , 1255px 835px #FFF , 1893px 1410px #FFF , 470px 402px #FFF , 1424px 739px #FFF , 1703px 990px #FFF , 1942px 1324px #FFF , 1664px 1686px #FFF , 1301px 1640px #FFF , 1003px 1131px #FFF , 1830px 1656px #FFF , 165px 1627px #FFF , 1783px 1310px #FFF , 1375px 1742px #FFF , 328px 1379px #FFF , 196px 1383px #FFF , 847px 308px #FFF , 76px 1940px #FFF , 1769px 887px #FFF , 774px 729px #FFF , 1074px 194px #FFF , 1482px 427px #FFF , 163px 1754px #FFF , 568px 176px #FFF , 1361px 2px #FFF , 877px 313px #FFF , 1279px 219px #FFF , 1004px 231px #FFF , 1213px 1839px #FFF , 1969px 619px #FFF , 1690px 23px #FFF , 159px 1720px #FFF , 1195px 415px #FFF , 1968px 1562px #FFF , 1175px 1085px #FFF , 1288px 1624px #FFF , 625px 138px #FFF , 1908px 473px #FFF , 382px 1947px #FFF , 1937px 113px #FFF , 1630px 839px #FFF , 1590px 1095px #FFF , 105px 1494px #FFF , 1906px 1198px #FFF , 512px 686px #FFF , 1924px 797px #FFF , 59px 904px #FFF , 1179px 1005px #FFF , 653px 1460px #FFF , 299px 1318px #FFF , 251px 1215px #FFF , 701px 1852px #FFF , 755px 725px #FFF , 1648px 583px #FFF , 257px 1321px #FFF , 307px 585px #FFF , 1171px 1851px #FFF , 1873px 90px #FFF , 39px 1847px #FFF , 1508px 765px #FFF , 1557px 400px #FFF , 1760px 539px #FFF , 1296px 497px #FFF , 850px 441px #FFF , 1590px 1473px #FFF , 329px 1366px #FFF , 249px 1817px #FFF , 1289px 1318px #FFF , 1173px 1303px #FFF , 560px 593px #FFF , 1695px 1360px #FFF , 1506px 521px #FFF , 1565px 198px #FFF , 1222px 610px #FFF , 883px 557px #FFF , 1124px 895px #FFF , 884px 72px #FFF , 407px 1656px #FFF , 382px 848px #FFF , 1050px 1225px #FFF , 1859px 1769px #FFF , 1608px 910px #FFF , 27px 1455px #FFF , 174px 889px #FFF , 343px 1259px #FFF , 1409px 1705px #FFF , 88px 534px #FFF , 1972px 1976px #FFF , 1540px 563px #FFF , 1917px 1742px #FFF , 160px 992px #FFF , 1857px 1910px #FFF , 1393px 1242px #FFF , 1111px 1105px #FFF , 309px 1474px #FFF , 5px 1328px #FFF , 1180px 682px #FFF , 1344px 1414px #FFF , 1223px 495px #FFF , 1600px 448px #FFF , 1655px 219px #FFF , 112px 772px #FFF , 475px 1294px #FFF , 276px 1487px #FFF , 1256px 715px #FFF , 1907px 1705px #FFF , 332px 960px #FFF , 1810px 954px #FFF , 371px 1345px #FFF , 1107px 999px #FFF , 1481px 1185px #FFF , 1975px 1789px #FFF , 35px 885px #FFF , 1026px 1305px #FFF , 1021px 678px #FFF , 902px 625px #FFF , 948px 1533px #FFF , 608px 256px #FFF , 825px 1548px #FFF , 135px 86px #FFF , 1005px 1771px #FFF , 383px 1470px #FFF , 1542px 902px #FFF , 720px 465px #FFF , 430px 1320px #FFF , 142px 1587px #FFF , 745px 383px #FFF , 344px 257px #FFF , 1592px 742px #FFF , 991px 879px #FFF , 228px 1455px #FFF , 1137px 878px #FFF , 215px 523px #FFF , 1678px 1124px #FFF , 1344px 535px #FFF , 1840px 510px #FFF , 1420px 1193px #FFF , 1932px 1840px #FFF , 149px 809px #FFF , 967px 1559px #FFF , 1741px 516px #FFF , 1322px 1124px #FFF , 1130px 1360px #FFF , 879px 1091px #FFF , 558px 23px #FFF , 328px 780px #FFF , 870px 822px #FFF , 99px 936px #FFF , 746px 1745px #FFF , 1488px 1807px #FFF , 1339px 437px #FFF , 994px 417px #FFF , 1959px 1152px #FFF , 1817px 40px #FFF , 267px 135px #FFF , 517px 470px #FFF , 1989px 135px #FFF , 1795px 1781px #FFF , 1536px 1443px #FFF , 1917px 195px #FFF , 968px 1974px #FFF , 1175px 358px #FFF , 1694px 1088px #FFF , 302px 1797px #FFF , 1589px 20px #FFF , 952px 930px #FFF , 425px 655px #FFF , 281px 1319px #FFF , 1459px 1512px #FFF , 1305px 1818px #FFF , 1516px 699px #FFF , 1861px 1298px #FFF , 114px 745px #FFF , 1741px 1284px #FFF , 1190px 309px #FFF , 1113px 1838px #FFF , 427px 734px #FFF , 853px 392px #FFF , 845px 1040px #FFF , 1927px 8px #FFF , 1387px 603px #FFF , 104px 740px #FFF , 251px 1948px #FFF , 1378px 212px #FFF , 507px 1864px #FFF , 1944px 739px #FFF , 291px 981px #FFF , 1037px 1267px #FFF , 438px 223px #FFF , 1792px 1727px #FFF , 868px 619px #FFF , 444px 1148px #FFF , 743px 1079px #FFF , 1288px 473px #FFF , 347px 831px #FFF , 1835px 361px #FFF , 836px 450px #FFF , 281px 1427px #FFF , 1186px 280px #FFF , 505px 1510px #FFF , 1217px 282px #FFF , 1446px 567px #FFF , 1179px 595px #FFF , 1773px 883px #FFF , 1368px 523px #FFF , 1751px 122px #FFF , 352px 1055px #FFF , 1082px 41px #FFF , 1197px 1086px #FFF , 80px 332px #FFF , 584px 1301px #FFF , 952px 1137px #FFF , 1860px 204px #FFF , 975px 289px #FFF , 773px 1513px #FFF , 440px 1333px #FFF , 1017px 1768px #FFF , 1453px 1486px #FFF , 945px 934px #FFF , 569px 474px #FFF , 1559px 907px #FFF , 1533px 819px #FFF , 679px 1725px #FFF , 413px 827px #FFF , 1326px 1559px #FFF , 323px 1010px #FFF , 1909px 1209px #FFF , 881px 151px #FFF , 1013px 419px #FFF , 1014px 766px #FFF , 541px 932px #FFF , 850px 577px #FFF , 869px 1820px #FFF , 1249px 1919px #FFF , 160px 276px #FFF , 1247px 1245px #FFF , 1989px 324px #FFF , 283px 1799px #FFF , 963px 1988px #FFF , 875px 67px #FFF , 1147px 505px #FFF , 95px 1390px #FFF , 726px 744px #FFF , 1201px 1787px #FFF , 110px 701px #FFF , 85px 635px #FFF , 268px 890px #FFF , 1160px 1900px #FFF , 1247px 446px #FFF , 1431px 1147px #FFF , 1191px 977px #FFF , 1672px 1844px #FFF , 448px 42px #FFF , 239px 1203px #FFF , 1127px 1723px #FFF , 964px 432px #FFF , 110px 807px #FFF , 810px 1289px #FFF , 118px 580px #FFF , 547px 744px #FFF , 106px 1943px #FFF , 1658px 1433px #FFF , 850px 982px #FFF , 1096px 1795px #FFF , 1673px 96px #FFF , 900px 157px #FFF , 1711px 1372px #FFF , 1361px 130px #FFF , 1142px 1819px #FFF , 826px 309px #FFF , 1131px 345px #FFF , 122px 849px #FFF , 559px 1018px #FFF , 1742px 1000px #FFF , 237px 998px #FFF , 939px 779px #FFF , 84px 1885px #FFF , 1119px 713px #FFF , 8px 308px #FFF , 1101px 1427px #FFF , 1349px 1654px #FFF , 1194px 1999px #FFF , 303px 816px #FFF , 770px 1608px #FFF , 292px 751px #FFF , 153px 757px #FFF , 602px 509px #FFF , 1217px 298px #FFF , 58px 305px #FFF , 231px 1672px #FFF , 1458px 1849px #FFF , 277px 851px #FFF , 36px 1470px #FFF , 1995px 1707px #FFF , 1145px 660px #FFF , 283px 466px #FFF , 259px 1706px #FFF , 34px 1264px #FFF , 1894px 400px #FFF , 1000px 977px #FFF , 1757px 1922px #FFF , 332px 73px #FFF , 555px 1390px #FFF , 584px 1147px #FFF , 189px 1478px #FFF , 1262px 1567px #FFF , 425px 1261px #FFF , 1998px 1312px #FFF , 707px 91px #FFF , 1186px 886px #FFF , 1605px 1968px #FFF , 1712px 820px #FFF , 1665px 816px #FFF , 746px 658px #FFF , 1748px 1483px #FFF , 1137px 1283px #FFF , 1914px 1645px #FFF , 911px 1297px #FFF , 240px 1525px #FFF , 33px 1693px #FFF , 1063px 290px #FFF , 1927px 706px #FFF , 194px 1215px #FFF , 666px 1440px #FFF , 1322px 661px #FFF , 1552px 1432px #FFF , 674px 1258px #FFF , 1476px 385px #FFF , 1670px 387px #FFF , 1761px 665px #FFF , 1900px 1214px #FFF , 951px 1781px #FFF , 1722px 1186px #FFF , 963px 1318px #FFF , 496px 254px #FFF , 1686px 1791px #FFF , 185px 492px #FFF , 861px 1151px #FFF , 640px 347px #FFF , 680px 1309px #FFF , 1634px 1089px #FFF , 1057px 663px #FFF , 1567px 1672px #FFF , 87px 582px #FFF , 1260px 1100px #FFF , 609px 1435px #FFF , 1447px 1619px #FFF , 703px 725px #FFF , 1150px 1848px #FFF , 1024px 134px #FFF , 1165px 881px #FFF , 543px 413px #FFF , 772px 1236px #FFF , 1995px 61px #FFF , 1744px 1281px #FFF , 1133px 897px #FFF , 1004px 980px #FFF , 1937px 143px #FFF , 651px 1424px #FFF , 532px 920px #FFF , 17px 1805px #FFF , 634px 26px #FFF , 1507px 1947px #FFF , 1275px 72px #FFF , 1852px 452px #FFF , 1372px 1257px #FFF , 880px 664px #FFF , 458px 451px #FFF , 1314px 1750px #FFF , 715px 1732px #FFF , 1304px 863px #FFF , 1988px 1697px #FFF , 396px 747px #FFF , 712px 667px #FFF , 1217px 1251px #FFF , 1253px 1878px #FFF , 1792px 152px #FFF , 1486px 630px #FFF , 664px 1811px #FFF , 1108px 558px #FFF , 465px 688px #FFF , 1825px 1970px #FFF , 418px 1103px #FFF , 585px 31px #FFF , 857px 227px #FFF , 1859px 351px #FFF , 1259px 529px #FFF , 1557px 481px #FFF , 251px 1227px #FFF , 1472px 1685px #FFF , 1547px 818px #FFF , 1757px 1089px #FFF , 396px 601px #FFF , 1540px 826px #FFF , 505px 885px #FFF , 464px 1265px #FFF , 410px 132px #FFF , 1074px 1011px #FFF , 35px 943px #FFF , 1488px 1932px #FFF , 1973px 385px #FFF , 1808px 779px #FFF , 339px 315px #FFF , 1435px 1276px #FFF , 708px 1365px #FFF , 1527px 308px #FFF , 1199px 1853px #FFF , 23px 76px #FFF , 700px 1895px #FFF , 1436px 628px #FFF , 1400px 231px #FFF , 1233px 367px #FFF , 1521px 1513px #FFF , 416px 1230px #FFF , 250px 1044px #FFF , 216px 446px #FFF , 903px 302px #FFF , 15px 1050px #FFF , 841px 1469px #FFF , 1452px 1166px #FFF , 436px 1010px #FFF , 944px 201px #FFF , 389px 463px #FFF , 1216px 1039px #FFF , 1127px 1406px #FFF , 1337px 304px #FFF , 460px 558px #FFF , 1634px 1147px #FFF , 1692px 1908px #FFF , 552px 1465px #FFF , 289px 641px #FFF , 568px 1830px #FFF , 491px 283px #FFF , 714px 1853px #FFF , 569px 643px #FFF , 999px 1114px #FFF , 1781px 891px #FFF , 1362px 634px #FFF , 225px 120px #FFF , 995px 886px #FFF , 703px 637px #FFF , 1413px 133px #FFF , 941px 1786px #FFF , 348px 17px #FFF , 416px 1455px #FFF , 1850px 532px #FFF , 266px 698px #FFF , 1082px 1554px #FFF , 626px 997px #FFF , 417px 414px #FFF , 992px 1993px #FFF , 263px 13px #FFF , 539px 1846px #FFF , 260px 76px #FFF , 708px 1415px #FFF , 388px 970px #FFF , 1706px 1655px #FFF , 1376px 1716px #FFF , 350px 1667px #FFF , 1758px 1122px #FFF , 1156px 295px #FFF , 26px 1972px #FFF , 1565px 34px #FFF , 513px 643px #FFF , 40px 1049px #FFF , 294px 1281px #FFF , 1032px 432px #FFF , 450px 527px #FFF , 1730px 1024px #FFF , 1823px 1828px #FFF , 1144px 1759px #FFF , 44px 1650px #FFF , 1934px 1098px #FFF , 504px 556px #FFF , 1218px 1563px #FFF , 1372px 1194px #FFF , 429px 84px #FFF , 723px 849px #FFF , 40px 1507px #FFF , 1731px 1723px #FFF , 155px 1580px #FFF , 1877px 1519px #FFF , 1354px 1715px #FFF , 890px 1910px #FFF , 804px 1484px #FFF , 208px 337px #FFF , 1054px 1681px #FFF , 1442px 191px #FFF , 1887px 651px #FFF , 917px 493px #FFF , 1783px 1208px #FFF , 544px 1347px #FFF , 1804px 1288px #FFF , 188px 1579px #FFF , 1815px 1766px #FFF , 78px 27px #FFF , 213px 1271px #FFF , 865px 1436px #FFF , 996px 1619px #FFF , 512px 958px #FFF , 763px 409px #FFF , 331px 590px #FFF , 1695px 1665px #FFF , 262px 297px #FFF , 1419px 210px #FFF , 338px 1548px #FFF , 1359px 708px #FFF , 384px 1608px #FFF , 871px 1791px #FFF , 793px 972px #FFF , 168px 1867px #FFF , 776px 1523px #FFF , 651px 1966px #FFF , 899px 219px #FFF , 537px 1499px #FFF , 247px 278px #FFF , 1802px 796px #FFF , 266px 1776px #FFF , 1652px 1918px #FFF , 45px 1593px #FFF , 88px 848px #FFF , 1431px 1663px #FFF , 1334px 597px #FFF , 1594px 1426px #FFF , 995px 685px #FFF , 719px 953px #FFF , 1126px 1663px #FFF , 1747px 1890px #FFF , 1018px 1023px #FFF , 1807px 1555px #FFF , 87px 1759px #FFF , 341px 246px #FFF , 893px 1419px #FFF , 1553px 1584px #FFF , 1312px 1847px #FFF , 91px 706px #FFF , 386px 1312px #FFF , 1683px 1278px #FFF , 770px 499px #FFF , 561px 204px #FFF , 1453px 1376px #FFF , 845px 1307px #FFF , 959px 689px #FFF , 1567px 1983px #FFF , 605px 1755px #FFF , 957px 1303px #FFF , 1431px 617px #FFF , 917px 990px #FFF , 1868px 1526px #FFF , 883px 10px #FFF , 1954px 439px #FFF , 1730px 1703px #FFF , 1461px 1116px #FFF , 912px 194px #FFF , 1786px 280px #FFF , 1336px 1282px #FFF , 1910px 1801px #FFF , 1290px 1427px #FFF , 879px 744px #FFF , 1962px 1711px #FFF , 667px 2000px #FFF , 393px 101px #FFF , 1218px 1585px #FFF , 916px 972px #FFF , 1840px 1295px #FFF , 1137px 1953px #FFF , 70px 1049px #FFF , 420px 1522px #FFF , 5px 1867px #FFF , 802px 760px #FFF , 808px 1752px #FFF , 1838px 1121px #FFF , 175px 1171px #FFF , 1302px 154px #FFF , 1580px 1321px #FFF , 1364px 1305px #FFF , 1650px 1061px #FFF , 1560px 551px #FFF , 969px 306px #FFF , 323px 1715px #FFF , 895px 1664px #FFF , 1907px 1797px #FFF , 1290px 416px #FFF , 1728px 1859px #FFF , 1139px 980px #FFF , 745px 244px #FFF , 369px 1700px #FFF , 264px 774px #FFF , 1883px 1370px #FFF , 110px 1165px #FFF , 1066px 1651px #FFF , 907px 140px #FFF , 867px 1697px #FFF , 1989px 1008px #FFF , 1748px 274px #FFF , 1109px 107px #FFF , 1193px 656px #FFF , 605px 166px #FFF , 1942px 156px #FFF , 1642px 703px #FFF , 379px 19px #FFF , 1474px 1705px #FFF , 193px 1934px #FFF , 1673px 435px #FFF , 206px 1398px #FFF , 591px 1298px #FFF , 1350px 479px #FFF , 311px 1489px #FFF , 915px 255px #FFF , 252px 966px #FFF , 208px 532px #FFF , 1832px 1448px #FFF , 29px 719px #FFF , 348px 817px #FFF , 608px 289px #FFF , 201px 1338px #FFF , 1858px 59px #FFF , 1242px 279px #FFF , 1918px 1812px #FFF , 1067px 590px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 744px #FFF , 1646px 1526px #FFF , 1245px 1421px #FFF , 1205px 227px #FFF , 1211px 1931px #FFF , 1942px 892px #FFF , 1527px 1005px #FFF , 131px 1234px #FFF , 683px 146px #FFF , 1041px 330px #FFF , 407px 1947px #FFF , 201px 572px #FFF , 1640px 1374px #FFF , 1667px 1270px #FFF , 434px 165px #FFF , 1593px 332px #FFF , 461px 1543px #FFF , 595px 884px #FFF , 1543px 969px #FFF , 1628px 1881px #FFF , 121px 1511px #FFF , 543px 1630px #FFF , 15px 584px #FFF , 218px 395px #FFF , 766px 1877px #FFF , 1658px 933px #FFF , 599px 777px #FFF , 1513px 1940px #FFF , 12px 1724px #FFF , 1939px 1537px #FFF , 1565px 597px #FFF , 92px 1189px #FFF , 304px 612px #FFF , 1592px 290px #FFF , 669px 939px #FFF , 575px 841px #FFF , 104px 752px #FFF , 1658px 1196px #FFF , 15px 697px #FFF , 1629px 1840px #FFF , 959px 1033px #FFF , 191px 1754px #FFF , 537px 127px #FFF , 1511px 103px #FFF , 135px 635px #FFF , 640px 1881px #FFF , 1941px 257px #FFF , 238px 631px #FFF , 1636px 1521px #FFF , 139px 755px #FFF , 1353px 516px #FFF , 1671px 571px #FFF , 276px 1094px #FFF , 1949px 257px #FFF , 1352px 1699px #FFF , 1872px 1608px #FFF , 1016px 680px #FFF , 1140px 1700px #FFF , 1849px 1921px #FFF , 1267px 548px #FFF , 1553px 1918px #FFF , 1541px 1197px #FFF , 1604px 1648px #FFF , 1095px 1131px #FFF , 1523px 1179px #FFF , 1933px 1837px #FFF , 1861px 213px #FFF , 103px 1389px #FFF , 720px 1941px #FFF , 1206px 1121px #FFF , 261px 1725px #FFF , 934px 857px #FFF , 1248px 1265px #FFF , 422px 612px #FFF , 169px 34px #FFF , 776px 1387px #FFF , 256px 441px #FFF , 67px 308px #FFF , 1325px 981px #FFF , 1490px 528px #FFF , 1974px 341px #FFF , 478px 1410px #FFF , 1312px 949px #FFF , 1625px 1226px #FFF , 566px 295px #FFF , 696px 1389px #FFF , 1796px 1813px #FFF , 1908px 1841px #FFF , 1282px 15px #FFF , 404px 2px #FFF , 1218px 678px #FFF , 1119px 197px #FFF , 550px 524px #FFF , 1777px 415px #FFF , 1998px 1698px #FFF , 77px 1509px #FFF , 1880px 1974px #FFF , 756px 636px #FFF , 1214px 23px #FFF , 185px 211px #FFF , 810px 1940px #FFF , 1060px 1990px #FFF , 590px 793px #FFF , 793px 90px #FFF , 1725px 1730px #FFF , 1050px 1357px #FFF , 1639px 1682px #FFF , 401px 693px #FFF , 672px 890px #FFF , 886px 448px #FFF , 599px 316px #FFF , 754px 569px #FFF , 1739px 1187px #FFF , 929px 230px #FFF , 468px 930px #FFF , 1652px 1837px #FFF , 8px 541px #FFF , 1988px 779px #FFF , 1309px 727px #FFF , 514px 777px #FFF , 659px 345px #FFF , 1290px 1858px #FFF , 399px 1089px #FFF , 477px 358px #FFF , 689px 415px #FFF , 1920px 1618px #FFF , 1781px 1323px #FFF , 1263px 1061px #FFF , 1587px 1386px #FFF , 358px 160px #FFF , 1162px 1458px #FFF , 1861px 1131px #FFF , 1279px 1452px #FFF , 302px 655px #FFF , 629px 1308px #FFF , 1786px 1943px #FFF , 1367px 903px #FFF , 1572px 537px #FFF , 1457px 712px #FFF , 1571px 1560px #FFF , 931px 30px #FFF , 483px 1008px #FFF , 900px 51px #FFF , 667px 1198px #FFF , 716px 629px #FFF , 1606px 1941px #FFF , 205px 1265px #FFF , 203px 117px #FFF , 1104px 1434px #FFF , 1224px 994px #FFF , 755px 1090px #FFF , 1607px 734px #FFF , 127px 1759px #FFF , 1438px 282px #FFF , 665px 1894px #FFF , 760px 164px #FFF , 29px 1593px #FFF , 279px 822px #FFF , 124px 842px #FFF , 1384px 1463px #FFF , 224px 1598px #FFF , 62px 790px #FFF , 1607px 239px #FFF , 1573px 1371px #FFF , 1409px 1014px #FFF , 802px 1674px #FFF , 1228px 1073px #FFF , 535px 52px #FFF , 1537px 1288px #FFF , 612px 849px #FFF , 695px 1961px #FFF , 1281px 1053px #FFF , 537px 1247px #FFF , 997px 509px #FFF , 719px 49px #FFF , 1871px 359px #FFF , 1197px 127px #FFF , 1340px 1758px #FFF , 1536px 173px #FFF , 714px 573px #FFF , 1023px 846px #FFF , 1723px 1655px #FFF , 993px 672px #FFF , 1262px 1189px #FFF , 522px 1110px #FFF , 35px 1996px #FFF , 1906px 1581px #FFF , 1680px 428px #FFF , 337px 1747px #FFF , 1879px 456px #FFF , 181px 1035px #FFF , 293px 1573px #FFF , 1225px 558px #FFF , 804px 1776px #FFF , 46px 1719px #FFF , 1313px 1364px #FFF , 55px 422px #FFF , 375px 1420px #FFF , 356px 1678px #FFF , 1811px 1894px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 744px #FFF , 1646px 1526px #FFF , 1245px 1421px #FFF , 1205px 227px #FFF , 1211px 1931px #FFF , 1942px 892px #FFF , 1527px 1005px #FFF , 131px 1234px #FFF , 683px 146px #FFF , 1041px 330px #FFF , 407px 1947px #FFF , 201px 572px #FFF , 1640px 1374px #FFF , 1667px 1270px #FFF , 434px 165px #FFF , 1593px 332px #FFF , 461px 1543px #FFF , 595px 884px #FFF , 1543px 969px #FFF , 1628px 1881px #FFF , 121px 1511px #FFF , 543px 1630px #FFF , 15px 584px #FFF , 218px 395px #FFF , 766px 1877px #FFF , 1658px 933px #FFF , 599px 777px #FFF , 1513px 1940px #FFF , 12px 1724px #FFF , 1939px 1537px #FFF , 1565px 597px #FFF , 92px 1189px #FFF , 304px 612px #FFF , 1592px 290px #FFF , 669px 939px #FFF , 575px 841px #FFF , 104px 752px #FFF , 1658px 1196px #FFF , 15px 697px #FFF , 1629px 1840px #FFF , 959px 1033px #FFF , 191px 1754px #FFF , 537px 127px #FFF , 1511px 103px #FFF , 135px 635px #FFF , 640px 1881px #FFF , 1941px 257px #FFF , 238px 631px #FFF , 1636px 1521px #FFF , 139px 755px #FFF , 1353px 516px #FFF , 1671px 571px #FFF , 276px 1094px #FFF , 1949px 257px #FFF , 1352px 1699px #FFF , 1872px 1608px #FFF , 1016px 680px #FFF , 1140px 1700px #FFF , 1849px 1921px #FFF , 1267px 548px #FFF , 1553px 1918px #FFF , 1541px 1197px #FFF , 1604px 1648px #FFF , 1095px 1131px #FFF , 1523px 1179px #FFF , 1933px 1837px #FFF , 1861px 213px #FFF , 103px 1389px #FFF , 720px 1941px #FFF , 1206px 1121px #FFF , 261px 1725px #FFF , 934px 857px #FFF , 1248px 1265px #FFF , 422px 612px #FFF , 169px 34px #FFF , 776px 1387px #FFF , 256px 441px #FFF , 67px 308px #FFF , 1325px 981px #FFF , 1490px 528px #FFF , 1974px 341px #FFF , 478px 1410px #FFF , 1312px 949px #FFF , 1625px 1226px #FFF , 566px 295px #FFF , 696px 1389px #FFF , 1796px 1813px #FFF , 1908px 1841px #FFF , 1282px 15px #FFF , 404px 2px #FFF , 1218px 678px #FFF , 1119px 197px #FFF , 550px 524px #FFF , 1777px 415px #FFF , 1998px 1698px #FFF , 77px 1509px #FFF , 1880px 1974px #FFF , 756px 636px #FFF , 1214px 23px #FFF , 185px 211px #FFF , 810px 1940px #FFF , 1060px 1990px #FFF , 590px 793px #FFF , 793px 90px #FFF , 1725px 1730px #FFF , 1050px 1357px #FFF , 1639px 1682px #FFF , 401px 693px #FFF , 672px 890px #FFF , 886px 448px #FFF , 599px 316px #FFF , 754px 569px #FFF , 1739px 1187px #FFF , 929px 230px #FFF , 468px 930px #FFF , 1652px 1837px #FFF , 8px 541px #FFF , 1988px 779px #FFF , 1309px 727px #FFF , 514px 777px #FFF , 659px 345px #FFF , 1290px 1858px #FFF , 399px 1089px #FFF , 477px 358px #FFF , 689px 415px #FFF , 1920px 1618px #FFF , 1781px 1323px #FFF , 1263px 1061px #FFF , 1587px 1386px #FFF , 358px 160px #FFF , 1162px 1458px #FFF , 1861px 1131px #FFF , 1279px 1452px #FFF , 302px 655px #FFF , 629px 1308px #FFF , 1786px 1943px #FFF , 1367px 903px #FFF , 1572px 537px #FFF , 1457px 712px #FFF , 1571px 1560px #FFF , 931px 30px #FFF , 483px 1008px #FFF , 900px 51px #FFF , 667px 1198px #FFF , 716px 629px #FFF , 1606px 1941px #FFF , 205px 1265px #FFF , 203px 117px #FFF , 1104px 1434px #FFF , 1224px 994px #FFF , 755px 1090px #FFF , 1607px 734px #FFF , 127px 1759px #FFF , 1438px 282px #FFF , 665px 1894px #FFF , 760px 164px #FFF , 29px 1593px #FFF , 279px 822px #FFF , 124px 842px #FFF , 1384px 1463px #FFF , 224px 1598px #FFF , 62px 790px #FFF , 1607px 239px #FFF , 1573px 1371px #FFF , 1409px 1014px #FFF , 802px 1674px #FFF , 1228px 1073px #FFF , 535px 52px #FFF , 1537px 1288px #FFF , 612px 849px #FFF , 695px 1961px #FFF , 1281px 1053px #FFF , 537px 1247px #FFF , 997px 509px #FFF , 719px 49px #FFF , 1871px 359px #FFF , 1197px 127px #FFF , 1340px 1758px #FFF , 1536px 173px #FFF , 714px 573px #FFF , 1023px 846px #FFF , 1723px 1655px #FFF , 993px 672px #FFF , 1262px 1189px #FFF , 522px 1110px #FFF , 35px 1996px #FFF , 1906px 1581px #FFF , 1680px 428px #FFF , 337px 1747px #FFF , 1879px 456px #FFF , 181px 1035px #FFF , 293px 1573px #FFF , 1225px 558px #FFF , 804px 1776px #FFF , 46px 1719px #FFF , 1313px 1364px #FFF , 55px 422px #FFF , 375px 1420px #FFF , 356px 1678px #FFF , 1811px 1894px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 598px 1919px #FFF , 654px 462px #FFF , 1474px 1694px #FFF , 1958px 1686px #FFF , 270px 1413px #FFF , 93px 1309px #FFF , 585px 1270px #FFF , 1698px 1360px #FFF , 578px 1420px #FFF , 1307px 1346px #FFF , 299px 980px #FFF , 413px 1115px #FFF , 1048px 537px #FFF , 1507px 508px #FFF , 822px 1684px #FFF , 140px 55px #FFF , 419px 1924px #FFF , 1669px 196px #FFF , 760px 1841px #FFF , 1235px 1519px #FFF , 1745px 1754px #FFF , 777px 1632px #FFF , 168px 1045px #FFF , 219px 1038px #FFF , 495px 1953px #FFF , 658px 1284px #FFF , 1098px 390px #FFF , 1981px 100px #FFF , 551px 1997px #FFF , 1663px 1663px #FFF , 200px 1683px #FFF , 1922px 278px #FFF , 1521px 979px #FFF , 944px 149px #FFF , 1873px 572px #FFF , 1860px 1128px #FFF , 931px 1219px #FFF , 1199px 850px #FFF , 1912px 891px #FFF , 1618px 701px #FFF , 1019px 829px #FFF , 1498px 77px #FFF , 763px 507px #FFF , 163px 774px #FFF , 937px 700px #FFF , 1511px 78px #FFF , 1863px 1025px #FFF , 1825px 548px #FFF , 802px 1864px #FFF , 1815px 1769px #FFF , 1079px 969px #FFF , 247px 633px #FFF , 257px 1455px #FFF , 1140px 864px #FFF , 1125px 1295px #FFF , 278px 269px #FFF , 1388px 872px #FFF , 1383px 110px #FFF , 832px 1232px #FFF , 210px 292px #FFF , 1942px 631px #FFF , 1945px 330px #FFF , 1734px 596px #FFF , 1684px 919px #FFF , 1824px 37px #FFF , 1315px 224px #FFF , 856px 910px #FFF , 1639px 91px #FFF , 62px 211px #FFF , 1490px 591px #FFF , 355px 906px #FFF , 1706px 176px #FFF , 1592px 1936px #FFF , 18px 656px #FFF , 420px 1137px #FFF , 1383px 621px #FFF , 1705px 38px #FFF , 601px 1193px #FFF , 1962px 33px #FFF , 856px 788px #FFF , 405px 971px #FFF , 1545px 1893px #FFF , 218px 769px #FFF , 356px 1480px #FFF , 1571px 1009px #FFF , 1480px 1940px #FFF , 1927px 741px #FFF , 1209px 826px #FFF , 1620px 628px #FFF , 674px 1231px #FFF , 349px 45px #FFF , 402px 1879px #FFF , 833px 119px #FFF , 497px 931px #FFF , 987px 1629px #FFF , 764px 102px #FFF , 1181px 1338px #FFF , 783px 544px #FFF , 1007px 1334px #FFF , 1086px 1611px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 598px 1919px #FFF , 654px 462px #FFF , 1474px 1694px #FFF , 1958px 1686px #FFF , 270px 1413px #FFF , 93px 1309px #FFF , 585px 1270px #FFF , 1698px 1360px #FFF , 578px 1420px #FFF , 1307px 1346px #FFF , 299px 980px #FFF , 413px 1115px #FFF , 1048px 537px #FFF , 1507px 508px #FFF , 822px 1684px #FFF , 140px 55px #FFF , 419px 1924px #FFF , 1669px 196px #FFF , 760px 1841px #FFF , 1235px 1519px #FFF , 1745px 1754px #FFF , 777px 1632px #FFF , 168px 1045px #FFF , 219px 1038px #FFF , 495px 1953px #FFF , 658px 1284px #FFF , 1098px 390px #FFF , 1981px 100px #FFF , 551px 1997px #FFF , 1663px 1663px #FFF , 200px 1683px #FFF , 1922px 278px #FFF , 1521px 979px #FFF , 944px 149px #FFF , 1873px 572px #FFF , 1860px 1128px #FFF , 931px 1219px #FFF , 1199px 850px #FFF , 1912px 891px #FFF , 1618px 701px #FFF , 1019px 829px #FFF , 1498px 77px #FFF , 763px 507px #FFF , 163px 774px #FFF , 937px 700px #FFF , 1511px 78px #FFF , 1863px 1025px #FFF , 1825px 548px #FFF , 802px 1864px #FFF , 1815px 1769px #FFF , 1079px 969px #FFF , 247px 633px #FFF , 257px 1455px #FFF , 1140px 864px #FFF , 1125px 1295px #FFF , 278px 269px #FFF , 1388px 872px #FFF , 1383px 110px #FFF , 832px 1232px #FFF , 210px 292px #FFF , 1942px 631px #FFF , 1945px 330px #FFF , 1734px 596px #FFF , 1684px 919px #FFF , 1824px 37px #FFF , 1315px 224px #FFF , 856px 910px #FFF , 1639px 91px #FFF , 62px 211px #FFF , 1490px 591px #FFF , 355px 906px #FFF , 1706px 176px #FFF , 1592px 1936px #FFF , 18px 656px #FFF , 420px 1137px #FFF , 1383px 621px #FFF , 1705px 38px #FFF , 601px 1193px #FFF , 1962px 33px #FFF , 856px 788px #FFF , 405px 971px #FFF , 1545px 1893px #FFF , 218px 769px #FFF , 356px 1480px #FFF , 1571px 1009px #FFF , 1480px 1940px #FFF , 1927px 741px #FFF , 1209px 826px #FFF , 1620px 628px #FFF , 674px 1231px #FFF , 349px 45px #FFF , 402px 1879px #FFF , 833px 119px #FFF , 497px 931px #FFF , 987px 1629px #FFF , 764px 102px #FFF , 1181px 1338px #FFF , 783px 544px #FFF , 1007px 1334px #FFF , 1086px 1611px #FFF;
}

#title {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .view-work {
  font-family: "lato", sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
#header .view-work:hover img {
  transform: rotate(180deg);
}
#header .view-work:hover::after {
  transform: scale(1);
  bottom: 100%;
  left: 100%;
}
#header .view-work::after {
  content: attr(data-tool-tip);
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.3);
  color: #fff;
  padding: 1em 1em;
  border-radius: 10px;
  bottom: 50%;
  left: 50%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
}

.view-work-container {
  display: inline-block;
  margin-top: 5rem;
}

#header .view-work a {
  text-decoration: none;
}

#header .view-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

#header .view-work img {
  max-width: 50px;
  position: relative;
  right: -11px;
  transition: transform 0.2s ease-in-out;
}

#projects {
  background-color: #1b2735;
  box-sizing: content-box;
}

#projects .projects-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

#projects .project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

#projects .projects-container img {
  max-width: 100%;
}

.about-me {
  font-size: 23px;
  color: #fff;
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 3rem;
  justify-self: baseline;
}

.front-end {
  color: rgba(67, 221, 16, 0.9);
}

.back-end {
  color: rgb(214, 144, 184);
  color: #df0f86;
}

.project-big-title, .about-big-title, .contact-big-title {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 3rem;
  text-align: center;
}

.project-big-title::before, .about-big-title::before, .contact-big-title::before {
  content: "";
  width: 100px;
  height: 6px;
  display: block;
  margin-top: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.tech-used {
  display: flex;
  justify-content: space-around;
}

.tech-used span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  color: #b15959;
  font-weight: 700;
}

.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

.title-line {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}

.project-content {
  max-width: 100%;
  height: 300px;
  border-top: none;
  padding: 1rem;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5019607843);
  box-sizing: border-box;
}
@media screen and (max-width: 927px) {
  .project-content {
    max-width: 640px;
    box-sizing: border-box;
  }
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
:root {
  /* Background-Colors */
  --green: #a4d6a6;
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --purple: hsl(231deg 12% 81%);
  --purple: #465295;
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: #e69e9e;
  --pink: hsl(295, 42%, 76%);
  --white: hsl(1, 0%, 100%);
  /* Hover Colors */
  --greenGreen: hsl(101, 100%, 30%);
  --blueBlue: hsl(210, 100%, 50%);
  --orangeOrange: hsl(34, 100%, 50%);
  --purplePurple: hsl(231, 100%, 60%);
  --yellowYellow: hsl(54, 50%, 42%);
  --brownBrown: hsl(20, 100%, 59%);
  --redRed: hsl(0, 100%, 60%);
  --pinkPink: hsl(295, 58%, 34%);
  --whiteWhite: rgb(145, 133, 133);
}

#about {
  background-color: #424fad;
  background-color: #1b2735;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

.back-end-tech {
  color: #fff;
}

.about-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.flex {
  position: relative;
  display: grid;
  place-content: center;
  width: 230px;
  height: 230px;
  -webkit-animation-name: planetRotate;
          animation-name: planetRotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  transition: 310ms;
  margin-bottom: 5rem;
}

@-webkit-keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-animation: counterRotate 60s linear 0s infinite;
          animation: counterRotate 60s linear 0s infinite;
}

.flex:hover .centered-image {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.centered-image > img {
  position: absolute;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: opacity 500ms;
  border-radius: 20px;
  opacity: 1;
}

.centered-image img:last-child:hover {
  opacity: 0;
}

.flex span a img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation-name: planetScaleUpDown;
          animation-name: planetScaleUpDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: planetScaleUpDown 500ms 5s;
}

@-webkit-keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.flex span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(80deg * var(--i)));
}

.bg {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  transform: translateX(-30%);
  -webkit-animation: counterRotatePlanet 60s linear infinite alternate;
          animation: counterRotatePlanet 60s linear infinite alternate;
}

@-webkit-keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.laravel {
  background-color: var(--blue);
}

.laravel::before {
  content: "Laravel";
  border-radius: inherit;
}

.laravel:hover::before {
  background-color: var(--blueBlue);
  opacity: 1;
}

.vue {
  background-color: var(--orange);
}

.vue::before {
  content: "Vue";
  border-radius: inherit;
  transform: rotate(200deg);
}

.vue:hover::before {
  background-color: var(--orangeOrange);
  opacity: 1;
}

.react {
  background-color: var(--purple);
}

.react::before {
  content: "React";
  border-radius: inherit;
  transform: rotate(-42deg);
}

.react:hover::before {
  background-color: var(--purplePurple);
  opacity: 1;
}

.bootstrap {
  background-color: var(--yellow);
}

.bootstrap::before {
  content: "Bootstrap";
  border-radius: inherit;
  transform: rotate(240deg);
}

.bootstrap:hover::before {
  background-color: var(--yellowYellow);
  opacity: 1;
}

.php {
  background-color: var(--green);
}

.php::before {
  border-radius: inherit;
  transform: rotate(120deg);
  content: "PHP";
}

.php:hover::before {
  background-color: var(--greenGreen);
  opacity: 1;
}

.mysql {
  background-color: var(--brown);
}

.mysql::before {
  border-radius: inherit;
  transform: rotate(40deg);
  content: "MySQL";
}

.mysql:hover::before {
  background-color: var(--brownBrown);
  opacity: 1;
}

.gitlab {
  background-color: var(--red);
}

.gitlab::before {
  content: "GitLab";
  border-radius: inherit;
  transform: rotate(160deg);
}

.gitlab:hover::before {
  background-color: var(--redRed);
  opacity: 1;
}

.jquery {
  background-color: var(--pink);
}

.jquery::before {
  content: "jQuery";
  border-radius: inherit;
  transform: rotate(80deg);
}

.jquery:hover::before {
  background-color: var(--pinkPink);
  opacity: 1;
}

.js {
  background-color: var(--white);
}

.js::before {
  content: "JavaScript";
  border-radius: inherit;
}

.js:hover::before {
  background-color: var(--whiteWhite);
  opacity: 1;
}

:is(.laravel, .vue, .php, .mysql, .bootstrap, .react, .gitlab, .jquery, .js)::before {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms linear;
  font-weight: bolder;
  font-size: 15;
  border-radius: inherit;
}

.contact-container {
  background-color: #1b2735;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.section-divider {
  width: 100px;
  height: 6px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.contact-container input, .contact-container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.contact-container [type=submit] {
  box-sizing: content-box;
}

.contact-me-text {
  color: #fff;
}

.my-email {
  color: rgba(67, 221, 16, 0.9);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact input, #contact textarea {
    width: 60%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  #contact input, #contact textarea {
    width: 70%;
  }
}
.contact-container textarea::-moz-placeholder {
  font-family: Arial;
}
.contact-container textarea:-ms-input-placeholder {
  font-family: Arial;
}
.contact-container textarea::placeholder {
  font-family: Arial;
}

.contact-container [type=submit]:hover {
  background-color: #1b2735;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #contact input, #contact textarea {
    width: 80%;
  }
}
