@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap);
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1b2735;
}

#header {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#header .name {
  font-size: 5rem;
  background: -webkit-linear-gradient(white, #31235a);
  -webkit-background-clip: text;
  background-clip: text;
}

#header .web-title {
  font-size: 2rem;
  display: inherit;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 715px 1544px #FFF , 682px 374px #FFF , 473px 789px #FFF , 1608px 1888px #FFF , 148px 1174px #FFF , 611px 1141px #FFF , 217px 562px #FFF , 553px 1778px #FFF , 499px 1688px #FFF , 356px 761px #FFF , 452px 1697px #FFF , 186px 1540px #FFF , 675px 1232px #FFF , 1616px 24px #FFF , 1573px 105px #FFF , 1042px 939px #FFF , 349px 1789px #FFF , 1626px 49px #FFF , 117px 1524px #FFF , 304px 1263px #FFF , 1929px 588px #FFF , 570px 608px #FFF , 807px 1304px #FFF , 985px 648px #FFF , 1372px 769px #FFF , 736px 21px #FFF , 647px 579px #FFF , 351px 1221px #FFF , 1560px 207px #FFF , 271px 334px #FFF , 974px 1407px #FFF , 1838px 1267px #FFF , 1673px 1532px #FFF , 1467px 873px #FFF , 1211px 792px #FFF , 10px 791px #FFF , 1652px 570px #FFF , 1982px 1977px #FFF , 1413px 1011px #FFF , 374px 1462px #FFF , 1417px 1310px #FFF , 1704px 1648px #FFF , 784px 544px #FFF , 1954px 1132px #FFF , 257px 142px #FFF , 681px 986px #FFF , 861px 105px #FFF , 371px 1090px #FFF , 286px 439px #FFF , 519px 675px #FFF , 852px 1769px #FFF , 712px 1160px #FFF , 183px 728px #FFF , 87px 1882px #FFF , 508px 1590px #FFF , 165px 1359px #FFF , 673px 219px #FFF , 39px 1990px #FFF , 1512px 171px #FFF , 1585px 715px #FFF , 1032px 605px #FFF , 830px 725px #FFF , 1142px 1641px #FFF , 291px 553px #FFF , 1504px 1667px #FFF , 1255px 657px #FFF , 575px 1313px #FFF , 36px 269px #FFF , 1712px 94px #FFF , 170px 44px #FFF , 838px 1150px #FFF , 1996px 1879px #FFF , 719px 1359px #FFF , 483px 752px #FFF , 1471px 493px #FFF , 1754px 1753px #FFF , 764px 981px #FFF , 225px 1564px #FFF , 937px 1149px #FFF , 1550px 1414px #FFF , 1219px 1693px #FFF , 1383px 1140px #FFF , 727px 1450px #FFF , 924px 1947px #FFF , 70px 896px #FFF , 1990px 150px #FFF , 1944px 175px #FFF , 1389px 1090px #FFF , 627px 847px #FFF , 905px 1927px #FFF , 590px 44px #FFF , 1597px 1181px #FFF , 7px 1257px #FFF , 719px 915px #FFF , 1287px 624px #FFF , 154px 894px #FFF , 1630px 709px #FFF , 253px 814px #FFF , 517px 1930px #FFF , 1691px 252px #FFF , 1844px 765px #FFF , 1055px 1358px #FFF , 1649px 1755px #FFF , 257px 1681px #FFF , 1022px 369px #FFF , 945px 300px #FFF , 124px 662px #FFF , 1671px 1029px #FFF , 120px 1634px #FFF , 502px 1063px #FFF , 1899px 965px #FFF , 259px 92px #FFF , 1443px 1427px #FFF , 230px 1442px #FFF , 240px 1694px #FFF , 299px 254px #FFF , 1594px 478px #FFF , 1893px 926px #FFF , 497px 1765px #FFF , 1248px 1446px #FFF , 419px 195px #FFF , 1330px 1201px #FFF , 609px 1531px #FFF , 807px 29px #FFF , 1578px 1769px #FFF , 410px 1712px #FFF , 73px 856px #FFF , 1862px 202px #FFF , 593px 601px #FFF , 1454px 1484px #FFF , 1922px 1150px #FFF , 1357px 459px #FFF , 1804px 1203px #FFF , 1751px 1743px #FFF , 597px 890px #FFF , 682px 228px #FFF , 1154px 184px #FFF , 1849px 1387px #FFF , 1757px 1136px #FFF , 1925px 183px #FFF , 1756px 915px #FFF , 1421px 1160px #FFF , 1835px 1078px #FFF , 1780px 1354px #FFF , 1902px 71px #FFF , 479px 479px #FFF , 952px 1452px #FFF , 1296px 370px #FFF , 320px 1420px #FFF , 979px 1313px #FFF , 1627px 1436px #FFF , 335px 1895px #FFF , 1642px 683px #FFF , 241px 1852px #FFF , 606px 940px #FFF , 1433px 539px #FFF , 1656px 626px #FFF , 1649px 1116px #FFF , 1216px 1707px #FFF , 750px 881px #FFF , 320px 321px #FFF , 1393px 54px #FFF , 1226px 604px #FFF , 1094px 786px #FFF , 945px 1084px #FFF , 737px 477px #FFF , 1026px 631px #FFF , 946px 1255px #FFF , 333px 1079px #FFF , 230px 1157px #FFF , 1269px 1473px #FFF , 654px 946px #FFF , 1489px 1679px #FFF , 1611px 667px #FFF , 254px 1238px #FFF , 938px 642px #FFF , 170px 1173px #FFF , 33px 359px #FFF , 1740px 1403px #FFF , 602px 388px #FFF , 86px 1311px #FFF , 568px 1532px #FFF , 1500px 1308px #FFF , 676px 1191px #FFF , 431px 1278px #FFF , 198px 463px #FFF , 1532px 1005px #FFF , 278px 1593px #FFF , 146px 960px #FFF , 610px 1023px #FFF , 1635px 124px #FFF , 1290px 1107px #FFF , 1800px 1283px #FFF , 1401px 1782px #FFF , 365px 1298px #FFF , 616px 1026px #FFF , 726px 1203px #FFF , 1025px 156px #FFF , 200px 1797px #FFF , 1777px 1024px #FFF , 1607px 497px #FFF , 1528px 1105px #FFF , 1675px 210px #FFF , 668px 1537px #FFF , 349px 1971px #FFF , 739px 1569px #FFF , 146px 1856px #FFF , 925px 501px #FFF , 1849px 1955px #FFF , 815px 1089px #FFF , 845px 1226px #FFF , 576px 1444px #FFF , 165px 1592px #FFF , 1407px 1672px #FFF , 300px 611px #FFF , 1812px 177px #FFF , 1700px 1308px #FFF , 1471px 709px #FFF , 645px 538px #FFF , 600px 498px #FFF , 1494px 1364px #FFF , 249px 250px #FFF , 1136px 923px #FFF , 1846px 1510px #FFF , 1571px 645px #FFF , 81px 902px #FFF , 768px 1005px #FFF , 1362px 1341px #FFF , 1939px 739px #FFF , 1468px 178px #FFF , 1261px 5px #FFF , 891px 1171px #FFF , 1138px 684px #FFF , 1220px 865px #FFF , 17px 1812px #FFF , 991px 733px #FFF , 1926px 1152px #FFF , 1635px 152px #FFF , 918px 1192px #FFF , 1770px 1852px #FFF , 1354px 1379px #FFF , 560px 424px #FFF , 6px 915px #FFF , 1273px 992px #FFF , 1824px 445px #FFF , 847px 912px #FFF , 803px 1246px #FFF , 979px 920px #FFF , 1644px 1067px #FFF , 549px 1753px #FFF , 1208px 474px #FFF , 1818px 1588px #FFF , 1628px 450px #FFF , 1924px 165px #FFF , 1799px 1669px #FFF , 643px 576px #FFF , 1147px 1182px #FFF , 642px 38px #FFF , 336px 1038px #FFF , 1117px 1455px #FFF , 150px 714px #FFF , 1387px 565px #FFF , 494px 1432px #FFF , 1054px 517px #FFF , 935px 627px #FFF , 1844px 1195px #FFF , 793px 1120px #FFF , 94px 615px #FFF , 426px 459px #FFF , 502px 1435px #FFF , 199px 761px #FFF , 1231px 1798px #FFF , 1032px 205px #FFF , 598px 1992px #FFF , 13px 1751px #FFF , 818px 1914px #FFF , 1603px 484px #FFF , 1256px 1812px #FFF , 1943px 1388px #FFF , 1263px 550px #FFF , 1416px 1688px #FFF , 1423px 1224px #FFF , 1679px 1293px #FFF , 737px 851px #FFF , 953px 221px #FFF , 1715px 1880px #FFF , 138px 239px #FFF , 539px 1986px #FFF , 913px 1945px #FFF , 590px 507px #FFF , 1584px 966px #FFF , 461px 788px #FFF , 1328px 675px #FFF , 1626px 1856px #FFF , 51px 865px #FFF , 613px 809px #FFF , 776px 1386px #FFF , 358px 932px #FFF , 1476px 1420px #FFF , 1950px 260px #FFF , 414px 406px #FFF , 1444px 1566px #FFF , 1320px 1428px #FFF , 248px 1615px #FFF , 1018px 1418px #FFF , 1797px 34px #FFF , 157px 1774px #FFF , 1456px 820px #FFF , 997px 241px #FFF , 451px 1627px #FFF , 285px 1693px #FFF , 1721px 533px #FFF , 1797px 1472px #FFF , 1879px 1566px #FFF , 1810px 638px #FFF , 530px 1022px #FFF , 849px 1892px #FFF , 660px 1596px #FFF , 1236px 175px #FFF , 35px 663px #FFF , 262px 1216px #FFF , 734px 1992px #FFF , 514px 489px #FFF , 1218px 993px #FFF , 1082px 910px #FFF , 401px 254px #FFF , 1013px 1562px #FFF , 1909px 1469px #FFF , 906px 1183px #FFF , 49px 1249px #FFF , 1005px 1395px #FFF , 291px 1026px #FFF , 1219px 543px #FFF , 615px 1248px #FFF , 597px 1029px #FFF , 487px 32px #FFF , 473px 1016px #FFF , 220px 1150px #FFF , 792px 1302px #FFF , 980px 1732px #FFF , 519px 1743px #FFF , 1463px 574px #FFF , 492px 1176px #FFF , 1018px 507px #FFF , 711px 903px #FFF , 1738px 226px #FFF , 1726px 570px #FFF , 1296px 264px #FFF , 1999px 1401px #FFF , 585px 1713px #FFF , 283px 174px #FFF , 1579px 405px #FFF , 737px 1343px #FFF , 835px 589px #FFF , 77px 872px #FFF , 864px 1949px #FFF , 1356px 947px #FFF , 1476px 953px #FFF , 669px 1040px #FFF , 572px 1999px #FFF , 752px 764px #FFF , 394px 1970px #FFF , 861px 831px #FFF , 288px 1274px #FFF , 1432px 1697px #FFF , 1862px 903px #FFF , 1605px 528px #FFF , 809px 1397px #FFF , 400px 1233px #FFF , 695px 1812px #FFF , 788px 1151px #FFF , 199px 1134px #FFF , 1113px 61px #FFF , 1253px 617px #FFF , 650px 1531px #FFF , 503px 1569px #FFF , 1548px 1259px #FFF , 96px 1753px #FFF , 1768px 394px #FFF , 1573px 1910px #FFF , 1749px 1259px #FFF , 16px 53px #FFF , 608px 663px #FFF , 529px 1361px #FFF , 546px 1157px #FFF , 297px 1604px #FFF , 751px 334px #FFF , 1057px 1315px #FFF , 440px 974px #FFF , 1387px 1592px #FFF , 1609px 21px #FFF , 1660px 1360px #FFF , 695px 1637px #FFF , 954px 958px #FFF , 1475px 738px #FFF , 1986px 431px #FFF , 1424px 1750px #FFF , 1567px 233px #FFF , 793px 340px #FFF , 216px 1416px #FFF , 1274px 358px #FFF , 19px 325px #FFF , 1783px 1545px #FFF , 358px 989px #FFF , 538px 1165px #FFF , 857px 43px #FFF , 840px 1435px #FFF , 270px 540px #FFF , 1137px 1237px #FFF , 485px 1175px #FFF , 254px 975px #FFF , 1753px 1585px #FFF , 143px 847px #FFF , 234px 1459px #FFF , 1855px 1996px #FFF , 1198px 1582px #FFF , 687px 674px #FFF , 1884px 937px #FFF , 1766px 88px #FFF , 1573px 1163px #FFF , 633px 239px #FFF , 1410px 528px #FFF , 355px 1118px #FFF , 1395px 1848px #FFF , 1067px 639px #FFF , 1288px 813px #FFF , 329px 367px #FFF , 620px 686px #FFF , 11px 1068px #FFF , 1350px 196px #FFF , 1342px 594px #FFF , 1930px 882px #FFF , 1015px 223px #FFF , 729px 1098px #FFF , 1451px 268px #FFF , 306px 1089px #FFF , 435px 1268px #FFF , 1100px 46px #FFF , 1443px 1018px #FFF , 1827px 1928px #FFF , 903px 1001px #FFF , 1956px 1006px #FFF , 654px 1972px #FFF , 1702px 501px #FFF , 426px 392px #FFF , 1628px 912px #FFF , 1661px 1875px #FFF , 78px 1238px #FFF , 872px 1397px #FFF , 986px 451px #FFF , 523px 1798px #FFF , 983px 400px #FFF , 1720px 1392px #FFF , 613px 1401px #FFF , 499px 1187px #FFF , 1943px 413px #FFF , 1973px 1639px #FFF , 1196px 1939px #FFF , 1854px 190px #FFF , 356px 1067px #FFF , 1973px 345px #FFF , 1616px 1731px #FFF , 1248px 1294px #FFF , 1447px 817px #FFF , 724px 1484px #FFF , 1859px 324px #FFF , 226px 618px #FFF , 221px 1383px #FFF , 1561px 1960px #FFF , 1662px 1710px #FFF , 1576px 1731px #FFF , 1113px 1698px #FFF , 656px 1099px #FFF , 1218px 877px #FFF , 1840px 673px #FFF , 1950px 424px #FFF , 1851px 1174px #FFF , 1028px 1653px #FFF , 713px 456px #FFF , 786px 46px #FFF , 1795px 1347px #FFF , 1428px 148px #FFF , 1590px 1003px #FFF , 1913px 835px #FFF , 1873px 23px #FFF , 673px 1816px #FFF , 578px 1601px #FFF , 379px 1601px #FFF , 1479px 939px #FFF , 1737px 1038px #FFF , 1650px 669px #FFF , 886px 986px #FFF , 281px 1510px #FFF , 1718px 509px #FFF , 757px 1655px #FFF , 1915px 1344px #FFF , 690px 1287px #FFF , 1743px 1053px #FFF , 1677px 668px #FFF , 583px 552px #FFF , 1205px 664px #FFF , 302px 1547px #FFF , 1980px 512px #FFF , 63px 322px #FFF , 1255px 1698px #FFF , 958px 1847px #FFF , 1968px 217px #FFF , 197px 659px #FFF , 1974px 1378px #FFF , 1254px 1303px #FFF , 1301px 1352px #FFF , 984px 204px #FFF , 252px 920px #FFF , 361px 839px #FFF , 552px 370px #FFF , 397px 1557px #FFF , 1823px 1624px #FFF , 1695px 1215px #FFF , 1988px 1740px #FFF , 146px 1416px #FFF , 1265px 1386px #FFF , 1689px 1568px #FFF , 1293px 1214px #FFF , 1878px 860px #FFF , 464px 2px #FFF , 743px 1671px #FFF , 216px 1408px #FFF , 706px 1720px #FFF , 1448px 1912px #FFF , 1401px 462px #FFF , 394px 897px #FFF , 998px 1084px #FFF , 805px 1607px #FFF , 563px 1942px #FFF , 1234px 784px #FFF , 805px 1484px #FFF , 1228px 394px #FFF , 1383px 985px #FFF , 310px 1998px #FFF , 1392px 403px #FFF , 1079px 29px #FFF , 412px 1123px #FFF , 55px 109px #FFF , 1511px 1473px #FFF , 1451px 225px #FFF , 1301px 1792px #FFF , 1239px 30px #FFF , 512px 1123px #FFF , 925px 807px #FFF , 470px 1634px #FFF , 1117px 1171px #FFF , 16px 508px #FFF , 1473px 1563px #FFF , 1381px 885px #FFF , 527px 987px #FFF , 1759px 651px #FFF , 1514px 757px #FFF , 1454px 848px #FFF , 656px 62px #FFF , 923px 1275px #FFF , 930px 1206px #FFF , 1972px 1696px #FFF , 185px 545px #FFF , 681px 446px #FFF , 222px 414px #FFF , 164px 1774px #FFF , 202px 770px #FFF , 205px 283px #FFF , 148px 142px #FFF , 371px 1522px #FFF , 200px 263px #FFF , 1010px 442px #FFF , 1950px 999px #FFF , 1639px 150px #FFF , 1730px 1989px #FFF , 1188px 196px #FFF , 96px 1717px #FFF , 1498px 1984px #FFF , 653px 671px #FFF , 1596px 690px #FFF , 276px 185px #FFF , 1811px 1127px #FFF , 913px 1109px #FFF , 231px 1520px #FFF , 1881px 551px #FFF , 138px 692px #FFF , 1614px 353px #FFF , 402px 214px #FFF , 66px 348px #FFF , 377px 1525px #FFF , 1431px 1813px #FFF , 179px 1400px #FFF , 827px 1576px #FFF , 164px 231px #FFF , 1644px 320px #FFF , 1869px 1764px #FFF , 853px 1913px #FFF , 1260px 453px #FFF , 997px 1915px #FFF , 1315px 1076px #FFF , 1259px 1851px #FFF , 297px 642px #FFF , 434px 630px #FFF , 111px 1618px #FFF , 1429px 744px #FFF , 1748px 1315px #FFF , 1104px 1757px #FFF , 1390px 1751px #FFF , 689px 1193px #FFF , 400px 1531px #FFF , 69px 63px #FFF , 1454px 1110px #FFF , 540px 1748px #FFF , 799px 477px #FFF , 962px 1725px #FFF , 1392px 197px #FFF , 368px 1621px #FFF , 354px 1261px #FFF , 1182px 1133px #FFF , 1394px 1726px #FFF , 1522px 1907px #FFF , 257px 138px #FFF , 325px 1676px #FFF , 1992px 381px #FFF , 594px 755px #FFF , 905px 939px #FFF , 1997px 256px #FFF , 1016px 137px #FFF , 774px 1265px #FFF , 125px 1526px #FFF , 112px 1472px #FFF , 807px 1717px #FFF , 1470px 1750px #FFF , 1182px 1200px #FFF , 1997px 6px #FFF , 1505px 932px #FFF , 1702px 1321px #FFF , 901px 1836px #FFF , 943px 135px #FFF , 481px 1212px #FFF , 252px 1730px #FFF , 938px 1312px #FFF , 596px 50px #FFF , 645px 713px #FFF , 1263px 1632px #FFF , 478px 719px #FFF , 889px 1781px #FFF , 1705px 1706px #FFF , 954px 811px #FFF , 288px 822px #FFF , 376px 1718px #FFF , 87px 123px #FFF , 854px 1276px #FFF , 1967px 62px #FFF , 1850px 770px #FFF , 1316px 1322px #FFF , 648px 1259px #FFF , 1381px 460px #FFF , 980px 285px #FFF , 1914px 312px #FFF , 1734px 295px #FFF , 1235px 737px #FFF , 1267px 110px #FFF , 1588px 1128px #FFF , 213px 593px #FFF , 1933px 1796px #FFF , 1346px 222px #FFF , 497px 1872px #FFF , 942px 1409px #FFF , 1317px 564px #FFF , 1941px 351px #FFF , 447px 880px #FFF , 644px 1453px #FFF , 1921px 979px #FFF , 518px 1359px #FFF , 656px 785px #FFF , 1799px 456px #FFF , 1156px 1558px #FFF , 567px 94px #FFF , 1226px 544px #FFF , 1833px 176px #FFF , 450px 212px #FFF , 1048px 1190px #FFF , 984px 386px #FFF , 956px 844px #FFF , 1228px 1498px #FFF , 923px 324px #FFF , 567px 1435px #FFF , 773px 740px #FFF , 1970px 496px #FFF , 908px 1938px #FFF , 1276px 1946px #FFF , 804px 1243px #FFF , 1714px 751px #FFF , 685px 266px #FFF , 210px 1653px #FFF , 684px 464px #FFF , 436px 1159px #FFF , 471px 329px #FFF , 858px 1131px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 715px 1544px #FFF , 682px 374px #FFF , 473px 789px #FFF , 1608px 1888px #FFF , 148px 1174px #FFF , 611px 1141px #FFF , 217px 562px #FFF , 553px 1778px #FFF , 499px 1688px #FFF , 356px 761px #FFF , 452px 1697px #FFF , 186px 1540px #FFF , 675px 1232px #FFF , 1616px 24px #FFF , 1573px 105px #FFF , 1042px 939px #FFF , 349px 1789px #FFF , 1626px 49px #FFF , 117px 1524px #FFF , 304px 1263px #FFF , 1929px 588px #FFF , 570px 608px #FFF , 807px 1304px #FFF , 985px 648px #FFF , 1372px 769px #FFF , 736px 21px #FFF , 647px 579px #FFF , 351px 1221px #FFF , 1560px 207px #FFF , 271px 334px #FFF , 974px 1407px #FFF , 1838px 1267px #FFF , 1673px 1532px #FFF , 1467px 873px #FFF , 1211px 792px #FFF , 10px 791px #FFF , 1652px 570px #FFF , 1982px 1977px #FFF , 1413px 1011px #FFF , 374px 1462px #FFF , 1417px 1310px #FFF , 1704px 1648px #FFF , 784px 544px #FFF , 1954px 1132px #FFF , 257px 142px #FFF , 681px 986px #FFF , 861px 105px #FFF , 371px 1090px #FFF , 286px 439px #FFF , 519px 675px #FFF , 852px 1769px #FFF , 712px 1160px #FFF , 183px 728px #FFF , 87px 1882px #FFF , 508px 1590px #FFF , 165px 1359px #FFF , 673px 219px #FFF , 39px 1990px #FFF , 1512px 171px #FFF , 1585px 715px #FFF , 1032px 605px #FFF , 830px 725px #FFF , 1142px 1641px #FFF , 291px 553px #FFF , 1504px 1667px #FFF , 1255px 657px #FFF , 575px 1313px #FFF , 36px 269px #FFF , 1712px 94px #FFF , 170px 44px #FFF , 838px 1150px #FFF , 1996px 1879px #FFF , 719px 1359px #FFF , 483px 752px #FFF , 1471px 493px #FFF , 1754px 1753px #FFF , 764px 981px #FFF , 225px 1564px #FFF , 937px 1149px #FFF , 1550px 1414px #FFF , 1219px 1693px #FFF , 1383px 1140px #FFF , 727px 1450px #FFF , 924px 1947px #FFF , 70px 896px #FFF , 1990px 150px #FFF , 1944px 175px #FFF , 1389px 1090px #FFF , 627px 847px #FFF , 905px 1927px #FFF , 590px 44px #FFF , 1597px 1181px #FFF , 7px 1257px #FFF , 719px 915px #FFF , 1287px 624px #FFF , 154px 894px #FFF , 1630px 709px #FFF , 253px 814px #FFF , 517px 1930px #FFF , 1691px 252px #FFF , 1844px 765px #FFF , 1055px 1358px #FFF , 1649px 1755px #FFF , 257px 1681px #FFF , 1022px 369px #FFF , 945px 300px #FFF , 124px 662px #FFF , 1671px 1029px #FFF , 120px 1634px #FFF , 502px 1063px #FFF , 1899px 965px #FFF , 259px 92px #FFF , 1443px 1427px #FFF , 230px 1442px #FFF , 240px 1694px #FFF , 299px 254px #FFF , 1594px 478px #FFF , 1893px 926px #FFF , 497px 1765px #FFF , 1248px 1446px #FFF , 419px 195px #FFF , 1330px 1201px #FFF , 609px 1531px #FFF , 807px 29px #FFF , 1578px 1769px #FFF , 410px 1712px #FFF , 73px 856px #FFF , 1862px 202px #FFF , 593px 601px #FFF , 1454px 1484px #FFF , 1922px 1150px #FFF , 1357px 459px #FFF , 1804px 1203px #FFF , 1751px 1743px #FFF , 597px 890px #FFF , 682px 228px #FFF , 1154px 184px #FFF , 1849px 1387px #FFF , 1757px 1136px #FFF , 1925px 183px #FFF , 1756px 915px #FFF , 1421px 1160px #FFF , 1835px 1078px #FFF , 1780px 1354px #FFF , 1902px 71px #FFF , 479px 479px #FFF , 952px 1452px #FFF , 1296px 370px #FFF , 320px 1420px #FFF , 979px 1313px #FFF , 1627px 1436px #FFF , 335px 1895px #FFF , 1642px 683px #FFF , 241px 1852px #FFF , 606px 940px #FFF , 1433px 539px #FFF , 1656px 626px #FFF , 1649px 1116px #FFF , 1216px 1707px #FFF , 750px 881px #FFF , 320px 321px #FFF , 1393px 54px #FFF , 1226px 604px #FFF , 1094px 786px #FFF , 945px 1084px #FFF , 737px 477px #FFF , 1026px 631px #FFF , 946px 1255px #FFF , 333px 1079px #FFF , 230px 1157px #FFF , 1269px 1473px #FFF , 654px 946px #FFF , 1489px 1679px #FFF , 1611px 667px #FFF , 254px 1238px #FFF , 938px 642px #FFF , 170px 1173px #FFF , 33px 359px #FFF , 1740px 1403px #FFF , 602px 388px #FFF , 86px 1311px #FFF , 568px 1532px #FFF , 1500px 1308px #FFF , 676px 1191px #FFF , 431px 1278px #FFF , 198px 463px #FFF , 1532px 1005px #FFF , 278px 1593px #FFF , 146px 960px #FFF , 610px 1023px #FFF , 1635px 124px #FFF , 1290px 1107px #FFF , 1800px 1283px #FFF , 1401px 1782px #FFF , 365px 1298px #FFF , 616px 1026px #FFF , 726px 1203px #FFF , 1025px 156px #FFF , 200px 1797px #FFF , 1777px 1024px #FFF , 1607px 497px #FFF , 1528px 1105px #FFF , 1675px 210px #FFF , 668px 1537px #FFF , 349px 1971px #FFF , 739px 1569px #FFF , 146px 1856px #FFF , 925px 501px #FFF , 1849px 1955px #FFF , 815px 1089px #FFF , 845px 1226px #FFF , 576px 1444px #FFF , 165px 1592px #FFF , 1407px 1672px #FFF , 300px 611px #FFF , 1812px 177px #FFF , 1700px 1308px #FFF , 1471px 709px #FFF , 645px 538px #FFF , 600px 498px #FFF , 1494px 1364px #FFF , 249px 250px #FFF , 1136px 923px #FFF , 1846px 1510px #FFF , 1571px 645px #FFF , 81px 902px #FFF , 768px 1005px #FFF , 1362px 1341px #FFF , 1939px 739px #FFF , 1468px 178px #FFF , 1261px 5px #FFF , 891px 1171px #FFF , 1138px 684px #FFF , 1220px 865px #FFF , 17px 1812px #FFF , 991px 733px #FFF , 1926px 1152px #FFF , 1635px 152px #FFF , 918px 1192px #FFF , 1770px 1852px #FFF , 1354px 1379px #FFF , 560px 424px #FFF , 6px 915px #FFF , 1273px 992px #FFF , 1824px 445px #FFF , 847px 912px #FFF , 803px 1246px #FFF , 979px 920px #FFF , 1644px 1067px #FFF , 549px 1753px #FFF , 1208px 474px #FFF , 1818px 1588px #FFF , 1628px 450px #FFF , 1924px 165px #FFF , 1799px 1669px #FFF , 643px 576px #FFF , 1147px 1182px #FFF , 642px 38px #FFF , 336px 1038px #FFF , 1117px 1455px #FFF , 150px 714px #FFF , 1387px 565px #FFF , 494px 1432px #FFF , 1054px 517px #FFF , 935px 627px #FFF , 1844px 1195px #FFF , 793px 1120px #FFF , 94px 615px #FFF , 426px 459px #FFF , 502px 1435px #FFF , 199px 761px #FFF , 1231px 1798px #FFF , 1032px 205px #FFF , 598px 1992px #FFF , 13px 1751px #FFF , 818px 1914px #FFF , 1603px 484px #FFF , 1256px 1812px #FFF , 1943px 1388px #FFF , 1263px 550px #FFF , 1416px 1688px #FFF , 1423px 1224px #FFF , 1679px 1293px #FFF , 737px 851px #FFF , 953px 221px #FFF , 1715px 1880px #FFF , 138px 239px #FFF , 539px 1986px #FFF , 913px 1945px #FFF , 590px 507px #FFF , 1584px 966px #FFF , 461px 788px #FFF , 1328px 675px #FFF , 1626px 1856px #FFF , 51px 865px #FFF , 613px 809px #FFF , 776px 1386px #FFF , 358px 932px #FFF , 1476px 1420px #FFF , 1950px 260px #FFF , 414px 406px #FFF , 1444px 1566px #FFF , 1320px 1428px #FFF , 248px 1615px #FFF , 1018px 1418px #FFF , 1797px 34px #FFF , 157px 1774px #FFF , 1456px 820px #FFF , 997px 241px #FFF , 451px 1627px #FFF , 285px 1693px #FFF , 1721px 533px #FFF , 1797px 1472px #FFF , 1879px 1566px #FFF , 1810px 638px #FFF , 530px 1022px #FFF , 849px 1892px #FFF , 660px 1596px #FFF , 1236px 175px #FFF , 35px 663px #FFF , 262px 1216px #FFF , 734px 1992px #FFF , 514px 489px #FFF , 1218px 993px #FFF , 1082px 910px #FFF , 401px 254px #FFF , 1013px 1562px #FFF , 1909px 1469px #FFF , 906px 1183px #FFF , 49px 1249px #FFF , 1005px 1395px #FFF , 291px 1026px #FFF , 1219px 543px #FFF , 615px 1248px #FFF , 597px 1029px #FFF , 487px 32px #FFF , 473px 1016px #FFF , 220px 1150px #FFF , 792px 1302px #FFF , 980px 1732px #FFF , 519px 1743px #FFF , 1463px 574px #FFF , 492px 1176px #FFF , 1018px 507px #FFF , 711px 903px #FFF , 1738px 226px #FFF , 1726px 570px #FFF , 1296px 264px #FFF , 1999px 1401px #FFF , 585px 1713px #FFF , 283px 174px #FFF , 1579px 405px #FFF , 737px 1343px #FFF , 835px 589px #FFF , 77px 872px #FFF , 864px 1949px #FFF , 1356px 947px #FFF , 1476px 953px #FFF , 669px 1040px #FFF , 572px 1999px #FFF , 752px 764px #FFF , 394px 1970px #FFF , 861px 831px #FFF , 288px 1274px #FFF , 1432px 1697px #FFF , 1862px 903px #FFF , 1605px 528px #FFF , 809px 1397px #FFF , 400px 1233px #FFF , 695px 1812px #FFF , 788px 1151px #FFF , 199px 1134px #FFF , 1113px 61px #FFF , 1253px 617px #FFF , 650px 1531px #FFF , 503px 1569px #FFF , 1548px 1259px #FFF , 96px 1753px #FFF , 1768px 394px #FFF , 1573px 1910px #FFF , 1749px 1259px #FFF , 16px 53px #FFF , 608px 663px #FFF , 529px 1361px #FFF , 546px 1157px #FFF , 297px 1604px #FFF , 751px 334px #FFF , 1057px 1315px #FFF , 440px 974px #FFF , 1387px 1592px #FFF , 1609px 21px #FFF , 1660px 1360px #FFF , 695px 1637px #FFF , 954px 958px #FFF , 1475px 738px #FFF , 1986px 431px #FFF , 1424px 1750px #FFF , 1567px 233px #FFF , 793px 340px #FFF , 216px 1416px #FFF , 1274px 358px #FFF , 19px 325px #FFF , 1783px 1545px #FFF , 358px 989px #FFF , 538px 1165px #FFF , 857px 43px #FFF , 840px 1435px #FFF , 270px 540px #FFF , 1137px 1237px #FFF , 485px 1175px #FFF , 254px 975px #FFF , 1753px 1585px #FFF , 143px 847px #FFF , 234px 1459px #FFF , 1855px 1996px #FFF , 1198px 1582px #FFF , 687px 674px #FFF , 1884px 937px #FFF , 1766px 88px #FFF , 1573px 1163px #FFF , 633px 239px #FFF , 1410px 528px #FFF , 355px 1118px #FFF , 1395px 1848px #FFF , 1067px 639px #FFF , 1288px 813px #FFF , 329px 367px #FFF , 620px 686px #FFF , 11px 1068px #FFF , 1350px 196px #FFF , 1342px 594px #FFF , 1930px 882px #FFF , 1015px 223px #FFF , 729px 1098px #FFF , 1451px 268px #FFF , 306px 1089px #FFF , 435px 1268px #FFF , 1100px 46px #FFF , 1443px 1018px #FFF , 1827px 1928px #FFF , 903px 1001px #FFF , 1956px 1006px #FFF , 654px 1972px #FFF , 1702px 501px #FFF , 426px 392px #FFF , 1628px 912px #FFF , 1661px 1875px #FFF , 78px 1238px #FFF , 872px 1397px #FFF , 986px 451px #FFF , 523px 1798px #FFF , 983px 400px #FFF , 1720px 1392px #FFF , 613px 1401px #FFF , 499px 1187px #FFF , 1943px 413px #FFF , 1973px 1639px #FFF , 1196px 1939px #FFF , 1854px 190px #FFF , 356px 1067px #FFF , 1973px 345px #FFF , 1616px 1731px #FFF , 1248px 1294px #FFF , 1447px 817px #FFF , 724px 1484px #FFF , 1859px 324px #FFF , 226px 618px #FFF , 221px 1383px #FFF , 1561px 1960px #FFF , 1662px 1710px #FFF , 1576px 1731px #FFF , 1113px 1698px #FFF , 656px 1099px #FFF , 1218px 877px #FFF , 1840px 673px #FFF , 1950px 424px #FFF , 1851px 1174px #FFF , 1028px 1653px #FFF , 713px 456px #FFF , 786px 46px #FFF , 1795px 1347px #FFF , 1428px 148px #FFF , 1590px 1003px #FFF , 1913px 835px #FFF , 1873px 23px #FFF , 673px 1816px #FFF , 578px 1601px #FFF , 379px 1601px #FFF , 1479px 939px #FFF , 1737px 1038px #FFF , 1650px 669px #FFF , 886px 986px #FFF , 281px 1510px #FFF , 1718px 509px #FFF , 757px 1655px #FFF , 1915px 1344px #FFF , 690px 1287px #FFF , 1743px 1053px #FFF , 1677px 668px #FFF , 583px 552px #FFF , 1205px 664px #FFF , 302px 1547px #FFF , 1980px 512px #FFF , 63px 322px #FFF , 1255px 1698px #FFF , 958px 1847px #FFF , 1968px 217px #FFF , 197px 659px #FFF , 1974px 1378px #FFF , 1254px 1303px #FFF , 1301px 1352px #FFF , 984px 204px #FFF , 252px 920px #FFF , 361px 839px #FFF , 552px 370px #FFF , 397px 1557px #FFF , 1823px 1624px #FFF , 1695px 1215px #FFF , 1988px 1740px #FFF , 146px 1416px #FFF , 1265px 1386px #FFF , 1689px 1568px #FFF , 1293px 1214px #FFF , 1878px 860px #FFF , 464px 2px #FFF , 743px 1671px #FFF , 216px 1408px #FFF , 706px 1720px #FFF , 1448px 1912px #FFF , 1401px 462px #FFF , 394px 897px #FFF , 998px 1084px #FFF , 805px 1607px #FFF , 563px 1942px #FFF , 1234px 784px #FFF , 805px 1484px #FFF , 1228px 394px #FFF , 1383px 985px #FFF , 310px 1998px #FFF , 1392px 403px #FFF , 1079px 29px #FFF , 412px 1123px #FFF , 55px 109px #FFF , 1511px 1473px #FFF , 1451px 225px #FFF , 1301px 1792px #FFF , 1239px 30px #FFF , 512px 1123px #FFF , 925px 807px #FFF , 470px 1634px #FFF , 1117px 1171px #FFF , 16px 508px #FFF , 1473px 1563px #FFF , 1381px 885px #FFF , 527px 987px #FFF , 1759px 651px #FFF , 1514px 757px #FFF , 1454px 848px #FFF , 656px 62px #FFF , 923px 1275px #FFF , 930px 1206px #FFF , 1972px 1696px #FFF , 185px 545px #FFF , 681px 446px #FFF , 222px 414px #FFF , 164px 1774px #FFF , 202px 770px #FFF , 205px 283px #FFF , 148px 142px #FFF , 371px 1522px #FFF , 200px 263px #FFF , 1010px 442px #FFF , 1950px 999px #FFF , 1639px 150px #FFF , 1730px 1989px #FFF , 1188px 196px #FFF , 96px 1717px #FFF , 1498px 1984px #FFF , 653px 671px #FFF , 1596px 690px #FFF , 276px 185px #FFF , 1811px 1127px #FFF , 913px 1109px #FFF , 231px 1520px #FFF , 1881px 551px #FFF , 138px 692px #FFF , 1614px 353px #FFF , 402px 214px #FFF , 66px 348px #FFF , 377px 1525px #FFF , 1431px 1813px #FFF , 179px 1400px #FFF , 827px 1576px #FFF , 164px 231px #FFF , 1644px 320px #FFF , 1869px 1764px #FFF , 853px 1913px #FFF , 1260px 453px #FFF , 997px 1915px #FFF , 1315px 1076px #FFF , 1259px 1851px #FFF , 297px 642px #FFF , 434px 630px #FFF , 111px 1618px #FFF , 1429px 744px #FFF , 1748px 1315px #FFF , 1104px 1757px #FFF , 1390px 1751px #FFF , 689px 1193px #FFF , 400px 1531px #FFF , 69px 63px #FFF , 1454px 1110px #FFF , 540px 1748px #FFF , 799px 477px #FFF , 962px 1725px #FFF , 1392px 197px #FFF , 368px 1621px #FFF , 354px 1261px #FFF , 1182px 1133px #FFF , 1394px 1726px #FFF , 1522px 1907px #FFF , 257px 138px #FFF , 325px 1676px #FFF , 1992px 381px #FFF , 594px 755px #FFF , 905px 939px #FFF , 1997px 256px #FFF , 1016px 137px #FFF , 774px 1265px #FFF , 125px 1526px #FFF , 112px 1472px #FFF , 807px 1717px #FFF , 1470px 1750px #FFF , 1182px 1200px #FFF , 1997px 6px #FFF , 1505px 932px #FFF , 1702px 1321px #FFF , 901px 1836px #FFF , 943px 135px #FFF , 481px 1212px #FFF , 252px 1730px #FFF , 938px 1312px #FFF , 596px 50px #FFF , 645px 713px #FFF , 1263px 1632px #FFF , 478px 719px #FFF , 889px 1781px #FFF , 1705px 1706px #FFF , 954px 811px #FFF , 288px 822px #FFF , 376px 1718px #FFF , 87px 123px #FFF , 854px 1276px #FFF , 1967px 62px #FFF , 1850px 770px #FFF , 1316px 1322px #FFF , 648px 1259px #FFF , 1381px 460px #FFF , 980px 285px #FFF , 1914px 312px #FFF , 1734px 295px #FFF , 1235px 737px #FFF , 1267px 110px #FFF , 1588px 1128px #FFF , 213px 593px #FFF , 1933px 1796px #FFF , 1346px 222px #FFF , 497px 1872px #FFF , 942px 1409px #FFF , 1317px 564px #FFF , 1941px 351px #FFF , 447px 880px #FFF , 644px 1453px #FFF , 1921px 979px #FFF , 518px 1359px #FFF , 656px 785px #FFF , 1799px 456px #FFF , 1156px 1558px #FFF , 567px 94px #FFF , 1226px 544px #FFF , 1833px 176px #FFF , 450px 212px #FFF , 1048px 1190px #FFF , 984px 386px #FFF , 956px 844px #FFF , 1228px 1498px #FFF , 923px 324px #FFF , 567px 1435px #FFF , 773px 740px #FFF , 1970px 496px #FFF , 908px 1938px #FFF , 1276px 1946px #FFF , 804px 1243px #FFF , 1714px 751px #FFF , 685px 266px #FFF , 210px 1653px #FFF , 684px 464px #FFF , 436px 1159px #FFF , 471px 329px #FFF , 858px 1131px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1073px 1665px #FFF , 1098px 59px #FFF , 332px 1885px #FFF , 207px 460px #FFF , 670px 1473px #FFF , 1050px 1524px #FFF , 1033px 1468px #FFF , 1414px 226px #FFF , 273px 1820px #FFF , 717px 995px #FFF , 493px 62px #FFF , 1180px 1263px #FFF , 251px 97px #FFF , 1318px 1023px #FFF , 1417px 421px #FFF , 584px 1408px #FFF , 1605px 198px #FFF , 949px 1212px #FFF , 588px 1059px #FFF , 1603px 1269px #FFF , 1726px 209px #FFF , 1693px 162px #FFF , 633px 509px #FFF , 618px 1058px #FFF , 1081px 1602px #FFF , 1705px 1534px #FFF , 724px 1111px #FFF , 897px 50px #FFF , 1139px 1495px #FFF , 193px 1225px #FFF , 680px 1569px #FFF , 964px 1615px #FFF , 1559px 728px #FFF , 1078px 1083px #FFF , 823px 974px #FFF , 1139px 621px #FFF , 1081px 1016px #FFF , 1263px 1370px #FFF , 1943px 850px #FFF , 1951px 752px #FFF , 1011px 614px #FFF , 1202px 1973px #FFF , 678px 1294px #FFF , 1820px 1204px #FFF , 1063px 97px #FFF , 705px 1556px #FFF , 723px 1532px #FFF , 1138px 309px #FFF , 1647px 401px #FFF , 691px 1831px #FFF , 1563px 491px #FFF , 1013px 217px #FFF , 676px 1907px #FFF , 561px 1663px #FFF , 610px 1269px #FFF , 1834px 819px #FFF , 644px 1023px #FFF , 1253px 1416px #FFF , 1915px 147px #FFF , 1111px 1573px #FFF , 1416px 205px #FFF , 1190px 1193px #FFF , 1723px 1650px #FFF , 258px 1232px #FFF , 537px 12px #FFF , 334px 1257px #FFF , 1285px 955px #FFF , 92px 736px #FFF , 744px 252px #FFF , 1459px 249px #FFF , 554px 1195px #FFF , 657px 516px #FFF , 446px 1086px #FFF , 913px 735px #FFF , 1448px 1404px #FFF , 681px 1406px #FFF , 164px 1513px #FFF , 185px 87px #FFF , 1849px 1977px #FFF , 1464px 1520px #FFF , 508px 1333px #FFF , 1628px 53px #FFF , 1631px 280px #FFF , 1283px 1807px #FFF , 773px 1838px #FFF , 498px 1671px #FFF , 1878px 1285px #FFF , 1259px 1575px #FFF , 1541px 1092px #FFF , 305px 475px #FFF , 1048px 846px #FFF , 1861px 1222px #FFF , 1609px 1474px #FFF , 431px 1808px #FFF , 599px 665px #FFF , 1860px 1634px #FFF , 1423px 1565px #FFF , 40px 233px #FFF , 178px 1624px #FFF , 816px 1759px #FFF , 347px 782px #FFF , 915px 1348px #FFF , 570px 1133px #FFF , 1725px 520px #FFF , 1456px 639px #FFF , 605px 1636px #FFF , 1736px 820px #FFF , 682px 68px #FFF , 787px 431px #FFF , 1814px 235px #FFF , 1605px 1713px #FFF , 1271px 260px #FFF , 810px 308px #FFF , 702px 184px #FFF , 144px 1290px #FFF , 1043px 172px #FFF , 884px 340px #FFF , 13px 1498px #FFF , 1391px 1098px #FFF , 794px 7px #FFF , 1144px 1262px #FFF , 851px 99px #FFF , 1608px 1388px #FFF , 1846px 1097px #FFF , 1286px 81px #FFF , 753px 626px #FFF , 1614px 1483px #FFF , 227px 488px #FFF , 1459px 1420px #FFF , 550px 1374px #FFF , 1105px 1619px #FFF , 1666px 1808px #FFF , 1149px 1719px #FFF , 1505px 86px #FFF , 11px 1934px #FFF , 648px 475px #FFF , 1043px 1028px #FFF , 340px 1331px #FFF , 1291px 851px #FFF , 593px 1789px #FFF , 1866px 1377px #FFF , 373px 1180px #FFF , 1756px 311px #FFF , 847px 1026px #FFF , 969px 591px #FFF , 805px 334px #FFF , 1929px 1649px #FFF , 1605px 1324px #FFF , 951px 1270px #FFF , 1747px 266px #FFF , 849px 1px #FFF , 751px 1105px #FFF , 771px 204px #FFF , 5px 43px #FFF , 894px 1306px #FFF , 380px 587px #FFF , 1163px 686px #FFF , 242px 688px #FFF , 796px 323px #FFF , 338px 1039px #FFF , 514px 938px #FFF , 1002px 219px #FFF , 73px 783px #FFF , 1165px 197px #FFF , 1021px 815px #FFF , 1141px 556px #FFF , 217px 519px #FFF , 1393px 686px #FFF , 541px 132px #FFF , 1607px 106px #FFF , 1627px 1622px #FFF , 323px 1703px #FFF , 1737px 716px #FFF , 1671px 86px #FFF , 1584px 382px #FFF , 824px 1160px #FFF , 1745px 1439px #FFF , 1601px 606px #FFF , 614px 125px #FFF , 1471px 1283px #FFF , 686px 89px #FFF , 879px 66px #FFF , 1706px 1584px #FFF , 502px 1465px #FFF , 1005px 1175px #FFF , 159px 404px #FFF , 939px 1277px #FFF , 1159px 749px #FFF , 1226px 1115px #FFF , 123px 1199px #FFF , 114px 221px #FFF , 1356px 1844px #FFF , 228px 642px #FFF , 474px 1994px #FFF , 1031px 893px #FFF , 1648px 328px #FFF , 227px 1418px #FFF , 1117px 1759px #FFF , 544px 274px #FFF , 725px 1283px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1073px 1665px #FFF , 1098px 59px #FFF , 332px 1885px #FFF , 207px 460px #FFF , 670px 1473px #FFF , 1050px 1524px #FFF , 1033px 1468px #FFF , 1414px 226px #FFF , 273px 1820px #FFF , 717px 995px #FFF , 493px 62px #FFF , 1180px 1263px #FFF , 251px 97px #FFF , 1318px 1023px #FFF , 1417px 421px #FFF , 584px 1408px #FFF , 1605px 198px #FFF , 949px 1212px #FFF , 588px 1059px #FFF , 1603px 1269px #FFF , 1726px 209px #FFF , 1693px 162px #FFF , 633px 509px #FFF , 618px 1058px #FFF , 1081px 1602px #FFF , 1705px 1534px #FFF , 724px 1111px #FFF , 897px 50px #FFF , 1139px 1495px #FFF , 193px 1225px #FFF , 680px 1569px #FFF , 964px 1615px #FFF , 1559px 728px #FFF , 1078px 1083px #FFF , 823px 974px #FFF , 1139px 621px #FFF , 1081px 1016px #FFF , 1263px 1370px #FFF , 1943px 850px #FFF , 1951px 752px #FFF , 1011px 614px #FFF , 1202px 1973px #FFF , 678px 1294px #FFF , 1820px 1204px #FFF , 1063px 97px #FFF , 705px 1556px #FFF , 723px 1532px #FFF , 1138px 309px #FFF , 1647px 401px #FFF , 691px 1831px #FFF , 1563px 491px #FFF , 1013px 217px #FFF , 676px 1907px #FFF , 561px 1663px #FFF , 610px 1269px #FFF , 1834px 819px #FFF , 644px 1023px #FFF , 1253px 1416px #FFF , 1915px 147px #FFF , 1111px 1573px #FFF , 1416px 205px #FFF , 1190px 1193px #FFF , 1723px 1650px #FFF , 258px 1232px #FFF , 537px 12px #FFF , 334px 1257px #FFF , 1285px 955px #FFF , 92px 736px #FFF , 744px 252px #FFF , 1459px 249px #FFF , 554px 1195px #FFF , 657px 516px #FFF , 446px 1086px #FFF , 913px 735px #FFF , 1448px 1404px #FFF , 681px 1406px #FFF , 164px 1513px #FFF , 185px 87px #FFF , 1849px 1977px #FFF , 1464px 1520px #FFF , 508px 1333px #FFF , 1628px 53px #FFF , 1631px 280px #FFF , 1283px 1807px #FFF , 773px 1838px #FFF , 498px 1671px #FFF , 1878px 1285px #FFF , 1259px 1575px #FFF , 1541px 1092px #FFF , 305px 475px #FFF , 1048px 846px #FFF , 1861px 1222px #FFF , 1609px 1474px #FFF , 431px 1808px #FFF , 599px 665px #FFF , 1860px 1634px #FFF , 1423px 1565px #FFF , 40px 233px #FFF , 178px 1624px #FFF , 816px 1759px #FFF , 347px 782px #FFF , 915px 1348px #FFF , 570px 1133px #FFF , 1725px 520px #FFF , 1456px 639px #FFF , 605px 1636px #FFF , 1736px 820px #FFF , 682px 68px #FFF , 787px 431px #FFF , 1814px 235px #FFF , 1605px 1713px #FFF , 1271px 260px #FFF , 810px 308px #FFF , 702px 184px #FFF , 144px 1290px #FFF , 1043px 172px #FFF , 884px 340px #FFF , 13px 1498px #FFF , 1391px 1098px #FFF , 794px 7px #FFF , 1144px 1262px #FFF , 851px 99px #FFF , 1608px 1388px #FFF , 1846px 1097px #FFF , 1286px 81px #FFF , 753px 626px #FFF , 1614px 1483px #FFF , 227px 488px #FFF , 1459px 1420px #FFF , 550px 1374px #FFF , 1105px 1619px #FFF , 1666px 1808px #FFF , 1149px 1719px #FFF , 1505px 86px #FFF , 11px 1934px #FFF , 648px 475px #FFF , 1043px 1028px #FFF , 340px 1331px #FFF , 1291px 851px #FFF , 593px 1789px #FFF , 1866px 1377px #FFF , 373px 1180px #FFF , 1756px 311px #FFF , 847px 1026px #FFF , 969px 591px #FFF , 805px 334px #FFF , 1929px 1649px #FFF , 1605px 1324px #FFF , 951px 1270px #FFF , 1747px 266px #FFF , 849px 1px #FFF , 751px 1105px #FFF , 771px 204px #FFF , 5px 43px #FFF , 894px 1306px #FFF , 380px 587px #FFF , 1163px 686px #FFF , 242px 688px #FFF , 796px 323px #FFF , 338px 1039px #FFF , 514px 938px #FFF , 1002px 219px #FFF , 73px 783px #FFF , 1165px 197px #FFF , 1021px 815px #FFF , 1141px 556px #FFF , 217px 519px #FFF , 1393px 686px #FFF , 541px 132px #FFF , 1607px 106px #FFF , 1627px 1622px #FFF , 323px 1703px #FFF , 1737px 716px #FFF , 1671px 86px #FFF , 1584px 382px #FFF , 824px 1160px #FFF , 1745px 1439px #FFF , 1601px 606px #FFF , 614px 125px #FFF , 1471px 1283px #FFF , 686px 89px #FFF , 879px 66px #FFF , 1706px 1584px #FFF , 502px 1465px #FFF , 1005px 1175px #FFF , 159px 404px #FFF , 939px 1277px #FFF , 1159px 749px #FFF , 1226px 1115px #FFF , 123px 1199px #FFF , 114px 221px #FFF , 1356px 1844px #FFF , 228px 642px #FFF , 474px 1994px #FFF , 1031px 893px #FFF , 1648px 328px #FFF , 227px 1418px #FFF , 1117px 1759px #FFF , 544px 274px #FFF , 725px 1283px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 609px 653px #FFF , 46px 1899px #FFF , 1323px 968px #FFF , 1550px 1945px #FFF , 1755px 1231px #FFF , 1880px 866px #FFF , 70px 1628px #FFF , 1240px 739px #FFF , 359px 51px #FFF , 1774px 1452px #FFF , 1832px 821px #FFF , 888px 1236px #FFF , 1070px 1368px #FFF , 14px 1375px #FFF , 857px 1893px #FFF , 1280px 958px #FFF , 405px 1079px #FFF , 1142px 143px #FFF , 231px 986px #FFF , 1660px 814px #FFF , 1645px 2000px #FFF , 730px 885px #FFF , 1453px 1688px #FFF , 1150px 364px #FFF , 1961px 73px #FFF , 1084px 856px #FFF , 1862px 801px #FFF , 935px 15px #FFF , 1585px 240px #FFF , 830px 341px #FFF , 890px 244px #FFF , 1464px 968px #FFF , 830px 1570px #FFF , 1601px 1598px #FFF , 716px 518px #FFF , 52px 1133px #FFF , 999px 4px #FFF , 1445px 1676px #FFF , 1277px 1961px #FFF , 915px 1411px #FFF , 39px 1458px #FFF , 592px 860px #FFF , 1813px 1061px #FFF , 1248px 1297px #FFF , 854px 28px #FFF , 1743px 1748px #FFF , 93px 1818px #FFF , 1896px 368px #FFF , 1727px 1263px #FFF , 894px 1940px #FFF , 1829px 446px #FFF , 1328px 1337px #FFF , 879px 607px #FFF , 375px 51px #FFF , 1352px 364px #FFF , 995px 1848px #FFF , 1911px 1348px #FFF , 1335px 1316px #FFF , 1079px 309px #FFF , 1313px 911px #FFF , 1038px 1528px #FFF , 996px 1123px #FFF , 810px 242px #FFF , 969px 360px #FFF , 1213px 1993px #FFF , 1556px 907px #FFF , 2px 1527px #FFF , 1284px 1316px #FFF , 732px 117px #FFF , 125px 75px #FFF , 115px 876px #FFF , 1555px 533px #FFF , 414px 263px #FFF , 893px 719px #FFF , 408px 1625px #FFF , 215px 1389px #FFF , 430px 100px #FFF , 881px 813px #FFF , 1393px 774px #FFF , 1866px 908px #FFF , 241px 583px #FFF , 1003px 757px #FFF , 774px 246px #FFF , 722px 525px #FFF , 876px 1201px #FFF , 1137px 1533px #FFF , 1991px 858px #FFF , 307px 1373px #FFF , 375px 796px #FFF , 137px 1364px #FFF , 353px 657px #FFF , 1322px 1976px #FFF , 1616px 1454px #FFF , 359px 1207px #FFF , 1132px 324px #FFF , 537px 1421px #FFF , 799px 336px #FFF , 602px 512px #FFF , 824px 10px #FFF , 1618px 310px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 609px 653px #FFF , 46px 1899px #FFF , 1323px 968px #FFF , 1550px 1945px #FFF , 1755px 1231px #FFF , 1880px 866px #FFF , 70px 1628px #FFF , 1240px 739px #FFF , 359px 51px #FFF , 1774px 1452px #FFF , 1832px 821px #FFF , 888px 1236px #FFF , 1070px 1368px #FFF , 14px 1375px #FFF , 857px 1893px #FFF , 1280px 958px #FFF , 405px 1079px #FFF , 1142px 143px #FFF , 231px 986px #FFF , 1660px 814px #FFF , 1645px 2000px #FFF , 730px 885px #FFF , 1453px 1688px #FFF , 1150px 364px #FFF , 1961px 73px #FFF , 1084px 856px #FFF , 1862px 801px #FFF , 935px 15px #FFF , 1585px 240px #FFF , 830px 341px #FFF , 890px 244px #FFF , 1464px 968px #FFF , 830px 1570px #FFF , 1601px 1598px #FFF , 716px 518px #FFF , 52px 1133px #FFF , 999px 4px #FFF , 1445px 1676px #FFF , 1277px 1961px #FFF , 915px 1411px #FFF , 39px 1458px #FFF , 592px 860px #FFF , 1813px 1061px #FFF , 1248px 1297px #FFF , 854px 28px #FFF , 1743px 1748px #FFF , 93px 1818px #FFF , 1896px 368px #FFF , 1727px 1263px #FFF , 894px 1940px #FFF , 1829px 446px #FFF , 1328px 1337px #FFF , 879px 607px #FFF , 375px 51px #FFF , 1352px 364px #FFF , 995px 1848px #FFF , 1911px 1348px #FFF , 1335px 1316px #FFF , 1079px 309px #FFF , 1313px 911px #FFF , 1038px 1528px #FFF , 996px 1123px #FFF , 810px 242px #FFF , 969px 360px #FFF , 1213px 1993px #FFF , 1556px 907px #FFF , 2px 1527px #FFF , 1284px 1316px #FFF , 732px 117px #FFF , 125px 75px #FFF , 115px 876px #FFF , 1555px 533px #FFF , 414px 263px #FFF , 893px 719px #FFF , 408px 1625px #FFF , 215px 1389px #FFF , 430px 100px #FFF , 881px 813px #FFF , 1393px 774px #FFF , 1866px 908px #FFF , 241px 583px #FFF , 1003px 757px #FFF , 774px 246px #FFF , 722px 525px #FFF , 876px 1201px #FFF , 1137px 1533px #FFF , 1991px 858px #FFF , 307px 1373px #FFF , 375px 796px #FFF , 137px 1364px #FFF , 353px 657px #FFF , 1322px 1976px #FFF , 1616px 1454px #FFF , 359px 1207px #FFF , 1132px 324px #FFF , 537px 1421px #FFF , 799px 336px #FFF , 602px 512px #FFF , 824px 10px #FFF , 1618px 310px #FFF;
}

#title {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .view-work {
  font-family: "lato", sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
#header .view-work:hover img {
  transform: rotate(180deg);
}
#header .view-work:hover::after {
  transform: scale(1);
  bottom: 100%;
  left: 100%;
}
#header .view-work::after {
  content: attr(data-tool-tip);
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.3);
  color: #fff;
  padding: 1em 1em;
  border-radius: 10px;
  bottom: 50%;
  left: 50%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
}

.view-work-container {
  display: inline-block;
  margin-top: 5rem;
}

#header .view-work a {
  text-decoration: none;
}

#header .view-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

#header .view-work img {
  max-width: 50px;
  position: relative;
  right: -11px;
  transition: transform 0.2s ease-in-out;
}

#projects {
  background-color: #1b2735;
  box-sizing: content-box;
}

#projects .projects-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

#projects .project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

#projects .projects-container img {
  max-width: 100%;
}

.about-me {
  font-size: 23px;
  color: #fff;
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 3rem;
  justify-self: baseline;
}

.front-end {
  color: rgba(67, 221, 16, 0.9);
}

.back-end {
  color: rgb(214, 144, 184);
  color: #df0f86;
}

.project-big-title, .about-big-title, .contact-big-title {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 3rem;
  text-align: center;
}

.project-big-title::before, .about-big-title::before, .contact-big-title::before {
  content: "";
  width: 100px;
  height: 6px;
  display: block;
  margin-top: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.tech-used {
  display: flex;
  justify-content: space-around;
}

.tech-used span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  color: #b15959;
  font-weight: 700;
}

.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

.title-line {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}

.project-content {
  max-width: 100%;
  height: 300px;
  border-top: none;
  padding: 1rem;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5019607843);
  box-sizing: border-box;
}
@media screen and (max-width: 927px) {
  .project-content {
    max-width: 640px;
    box-sizing: border-box;
  }
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
:root {
  /* Background-Colors */
  --green: #a4d6a6;
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --purple: hsl(231deg 12% 81%);
  --purple: #465295;
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: #e69e9e;
  --pink: hsl(295, 42%, 76%);
  --white: hsl(1, 0%, 100%);
  /* Hover Colors */
  --greenGreen: hsl(101, 100%, 30%);
  --blueBlue: hsl(210, 100%, 50%);
  --orangeOrange: hsl(34, 100%, 50%);
  --purplePurple: hsl(231, 100%, 60%);
  --yellowYellow: hsl(54, 50%, 42%);
  --brownBrown: hsl(20, 100%, 59%);
  --redRed: hsl(0, 100%, 60%);
  --pinkPink: hsl(295, 58%, 34%);
  --whiteWhite: rgb(145, 133, 133);
}

#about {
  background-color: #424fad;
  background-color: #1b2735;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

.back-end-tech {
  color: #fff;
}

.about-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.flex {
  position: relative;
  display: grid;
  place-content: center;
  width: 230px;
  height: 230px;
  -webkit-animation-name: planetRotate;
          animation-name: planetRotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  transition: 310ms;
  margin-bottom: 5rem;
}

@-webkit-keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-animation: counterRotate 60s linear 0s infinite;
          animation: counterRotate 60s linear 0s infinite;
}

.flex:hover .centered-image {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.centered-image > img {
  position: absolute;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: opacity 500ms;
  border-radius: 20px;
  opacity: 1;
}

.centered-image img:last-child:hover {
  opacity: 0;
}

.flex span a img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation-name: planetScaleUpDown;
          animation-name: planetScaleUpDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: planetScaleUpDown 500ms 5s;
}

@-webkit-keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.flex span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(80deg * var(--i)));
}

.bg {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  transform: translateX(-30%);
  -webkit-animation: counterRotatePlanet 60s linear infinite alternate;
          animation: counterRotatePlanet 60s linear infinite alternate;
}

@-webkit-keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.laravel {
  background-color: var(--blue);
}

.laravel::before {
  content: "Laravel";
  border-radius: inherit;
}

.laravel:hover::before {
  background-color: var(--blueBlue);
  opacity: 1;
}

.vue {
  background-color: var(--orange);
}

.vue::before {
  content: "Vue";
  border-radius: inherit;
  transform: rotate(200deg);
}

.vue:hover::before {
  background-color: var(--orangeOrange);
  opacity: 1;
}

.react {
  background-color: var(--purple);
}

.react::before {
  content: "React";
  border-radius: inherit;
  transform: rotate(-42deg);
}

.react:hover::before {
  background-color: var(--purplePurple);
  opacity: 1;
}

.bootstrap {
  background-color: var(--yellow);
}

.bootstrap::before {
  content: "Bootstrap";
  border-radius: inherit;
  transform: rotate(240deg);
}

.bootstrap:hover::before {
  background-color: var(--yellowYellow);
  opacity: 1;
}

.php {
  background-color: var(--green);
}

.php::before {
  border-radius: inherit;
  transform: rotate(120deg);
  content: "PHP";
}

.php:hover::before {
  background-color: var(--greenGreen);
  opacity: 1;
}

.mysql {
  background-color: var(--brown);
}

.mysql::before {
  border-radius: inherit;
  transform: rotate(40deg);
  content: "MySQL";
}

.mysql:hover::before {
  background-color: var(--brownBrown);
  opacity: 1;
}

.gitlab {
  background-color: var(--red);
}

.gitlab::before {
  content: "GitLab";
  border-radius: inherit;
  transform: rotate(160deg);
}

.gitlab:hover::before {
  background-color: var(--redRed);
  opacity: 1;
}

.jquery {
  background-color: var(--pink);
}

.jquery::before {
  content: "jQuery";
  border-radius: inherit;
  transform: rotate(80deg);
}

.jquery:hover::before {
  background-color: var(--pinkPink);
  opacity: 1;
}

.js {
  background-color: var(--white);
}

.js::before {
  content: "JavaScript";
  border-radius: inherit;
}

.js:hover::before {
  background-color: var(--whiteWhite);
  opacity: 1;
}

:is(.laravel, .vue, .php, .mysql, .bootstrap, .react, .gitlab, .jquery, .js)::before {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms linear;
  font-weight: bolder;
  font-size: 15;
  border-radius: inherit;
}

.contact-container {
  background-color: #1b2735;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.section-divider {
  width: 100px;
  height: 6px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.contact-container input, .contact-container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.contact-container [type=submit] {
  box-sizing: content-box;
}

.contact-me-text {
  color: #fff;
}

.my-email {
  color: rgba(67, 221, 16, 0.9);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact input, #contact textarea {
    width: 60%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  #contact input, #contact textarea {
    width: 70%;
  }
}
.contact-container textarea::-moz-placeholder {
  font-family: Arial;
}
.contact-container textarea:-ms-input-placeholder {
  font-family: Arial;
}
.contact-container textarea::placeholder {
  font-family: Arial;
}

.contact-container [type=submit]:hover {
  background-color: #1b2735;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #contact input, #contact textarea {
    width: 80%;
  }
}
