@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap);
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1b2735;
}

#header {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#header .name {
  font-size: 5rem;
  background: -webkit-linear-gradient(white, #31235a);
  -webkit-background-clip: text;
  background-clip: text;
}

#header .web-title {
  font-size: 2rem;
  display: inherit;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 533px 159px #FFF , 846px 1326px #FFF , 410px 1030px #FFF , 1486px 213px #FFF , 7px 1379px #FFF , 1687px 784px #FFF , 961px 1149px #FFF , 1594px 1202px #FFF , 1731px 1070px #FFF , 1920px 1319px #FFF , 1471px 160px #FFF , 382px 1497px #FFF , 966px 1608px #FFF , 380px 168px #FFF , 441px 492px #FFF , 545px 885px #FFF , 1652px 1862px #FFF , 557px 1013px #FFF , 1297px 1305px #FFF , 1465px 1113px #FFF , 446px 1855px #FFF , 1255px 1776px #FFF , 297px 421px #FFF , 946px 205px #FFF , 942px 1726px #FFF , 1155px 1349px #FFF , 275px 972px #FFF , 1201px 1602px #FFF , 1625px 228px #FFF , 24px 184px #FFF , 1725px 1123px #FFF , 398px 1851px #FFF , 1253px 1256px #FFF , 1664px 1712px #FFF , 589px 498px #FFF , 1311px 747px #FFF , 952px 1004px #FFF , 432px 609px #FFF , 414px 1073px #FFF , 1096px 1874px #FFF , 424px 835px #FFF , 364px 1702px #FFF , 117px 962px #FFF , 215px 672px #FFF , 1669px 1341px #FFF , 575px 1362px #FFF , 511px 1155px #FFF , 616px 677px #FFF , 1183px 571px #FFF , 1109px 1855px #FFF , 1082px 852px #FFF , 210px 1436px #FFF , 1177px 902px #FFF , 778px 1194px #FFF , 535px 75px #FFF , 1872px 621px #FFF , 1240px 856px #FFF , 1302px 1004px #FFF , 118px 79px #FFF , 1616px 271px #FFF , 913px 1683px #FFF , 1398px 386px #FFF , 961px 1504px #FFF , 1028px 356px #FFF , 324px 1129px #FFF , 835px 1279px #FFF , 1461px 1832px #FFF , 1434px 406px #FFF , 1754px 611px #FFF , 1404px 599px #FFF , 1596px 769px #FFF , 304px 790px #FFF , 810px 1737px #FFF , 657px 967px #FFF , 1061px 1709px #FFF , 1765px 835px #FFF , 1840px 143px #FFF , 78px 1240px #FFF , 1268px 767px #FFF , 797px 1538px #FFF , 168px 310px #FFF , 281px 80px #FFF , 426px 14px #FFF , 34px 1103px #FFF , 1593px 969px #FFF , 1829px 706px #FFF , 1802px 1734px #FFF , 1942px 1144px #FFF , 1422px 1335px #FFF , 1342px 509px #FFF , 1487px 1659px #FFF , 1722px 1414px #FFF , 998px 127px #FFF , 104px 277px #FFF , 1251px 1340px #FFF , 1421px 1815px #FFF , 1220px 259px #FFF , 1839px 856px #FFF , 108px 1846px #FFF , 1141px 58px #FFF , 1551px 1720px #FFF , 873px 128px #FFF , 350px 608px #FFF , 1277px 1236px #FFF , 991px 1299px #FFF , 750px 1604px #FFF , 1961px 795px #FFF , 773px 1693px #FFF , 1900px 17px #FFF , 10px 1659px #FFF , 518px 762px #FFF , 961px 1758px #FFF , 1886px 1753px #FFF , 1142px 1335px #FFF , 1191px 821px #FFF , 547px 1425px #FFF , 1874px 1784px #FFF , 739px 1978px #FFF , 1595px 1220px #FFF , 363px 24px #FFF , 309px 934px #FFF , 173px 1854px #FFF , 647px 1159px #FFF , 1787px 1636px #FFF , 927px 288px #FFF , 1417px 1840px #FFF , 1068px 893px #FFF , 583px 95px #FFF , 859px 325px #FFF , 1472px 1820px #FFF , 464px 859px #FFF , 386px 1897px #FFF , 513px 978px #FFF , 280px 1942px #FFF , 144px 1215px #FFF , 1596px 1173px #FFF , 1965px 949px #FFF , 1279px 468px #FFF , 836px 1969px #FFF , 169px 1782px #FFF , 114px 879px #FFF , 1962px 739px #FFF , 209px 1544px #FFF , 761px 1865px #FFF , 1156px 738px #FFF , 248px 1776px #FFF , 779px 1214px #FFF , 456px 1461px #FFF , 1925px 1674px #FFF , 1120px 813px #FFF , 1506px 1128px #FFF , 36px 71px #FFF , 1400px 1374px #FFF , 1979px 346px #FFF , 1035px 741px #FFF , 224px 42px #FFF , 1290px 1223px #FFF , 1592px 1276px #FFF , 295px 1995px #FFF , 1229px 340px #FFF , 364px 806px #FFF , 925px 990px #FFF , 1081px 667px #FFF , 1180px 341px #FFF , 1193px 829px #FFF , 1475px 1715px #FFF , 1388px 323px #FFF , 61px 1394px #FFF , 330px 1863px #FFF , 1574px 361px #FFF , 1227px 497px #FFF , 1543px 1206px #FFF , 1472px 1820px #FFF , 128px 1743px #FFF , 176px 848px #FFF , 577px 1576px #FFF , 1329px 1310px #FFF , 1189px 1772px #FFF , 1356px 15px #FFF , 1518px 1786px #FFF , 560px 1356px #FFF , 1925px 1946px #FFF , 1476px 1791px #FFF , 747px 45px #FFF , 745px 1796px #FFF , 1789px 1337px #FFF , 43px 36px #FFF , 610px 1534px #FFF , 253px 1150px #FFF , 1526px 671px #FFF , 1276px 195px #FFF , 1927px 273px #FFF , 226px 778px #FFF , 376px 1029px #FFF , 420px 1500px #FFF , 1625px 695px #FFF , 610px 1246px #FFF , 1449px 730px #FFF , 74px 983px #FFF , 162px 1496px #FFF , 1378px 1636px #FFF , 8px 966px #FFF , 1666px 1769px #FFF , 83px 606px #FFF , 1966px 818px #FFF , 1369px 100px #FFF , 440px 956px #FFF , 80px 1002px #FFF , 1877px 639px #FFF , 1593px 563px #FFF , 1239px 1084px #FFF , 1890px 759px #FFF , 777px 361px #FFF , 372px 1521px #FFF , 578px 1158px #FFF , 30px 994px #FFF , 721px 616px #FFF , 107px 226px #FFF , 530px 252px #FFF , 995px 1071px #FFF , 350px 1076px #FFF , 38px 1620px #FFF , 1608px 695px #FFF , 384px 1142px #FFF , 451px 1308px #FFF , 422px 1096px #FFF , 1927px 1377px #FFF , 1592px 1654px #FFF , 1189px 1100px #FFF , 378px 166px #FFF , 972px 379px #FFF , 534px 967px #FFF , 412px 890px #FFF , 983px 1233px #FFF , 710px 474px #FFF , 1911px 836px #FFF , 476px 111px #FFF , 1667px 1936px #FFF , 786px 1413px #FFF , 386px 519px #FFF , 2px 1282px #FFF , 357px 1853px #FFF , 564px 275px #FFF , 911px 1902px #FFF , 1456px 690px #FFF , 10px 1428px #FFF , 1322px 1129px #FFF , 759px 932px #FFF , 847px 1772px #FFF , 374px 724px #FFF , 1449px 1299px #FFF , 996px 97px #FFF , 1331px 1451px #FFF , 1892px 646px #FFF , 1617px 1603px #FFF , 1577px 10px #FFF , 1163px 1703px #FFF , 1230px 911px #FFF , 993px 1106px #FFF , 1386px 1138px #FFF , 44px 614px #FFF , 1772px 1502px #FFF , 665px 970px #FFF , 261px 1102px #FFF , 1763px 357px #FFF , 262px 672px #FFF , 1540px 61px #FFF , 1495px 272px #FFF , 733px 491px #FFF , 1205px 588px #FFF , 1781px 1190px #FFF , 751px 258px #FFF , 1822px 219px #FFF , 1371px 71px #FFF , 410px 441px #FFF , 212px 613px #FFF , 1955px 964px #FFF , 58px 1241px #FFF , 1975px 871px #FFF , 1488px 171px #FFF , 887px 164px #FFF , 121px 1107px #FFF , 1974px 1422px #FFF , 1504px 575px #FFF , 437px 576px #FFF , 549px 1031px #FFF , 1653px 32px #FFF , 117px 411px #FFF , 1602px 1216px #FFF , 1486px 319px #FFF , 1180px 1173px #FFF , 1937px 888px #FFF , 390px 744px #FFF , 1874px 1879px #FFF , 685px 860px #FFF , 1584px 1655px #FFF , 1177px 1208px #FFF , 220px 374px #FFF , 1495px 601px #FFF , 1768px 192px #FFF , 127px 239px #FFF , 1790px 932px #FFF , 1379px 902px #FFF , 742px 1708px #FFF , 168px 1743px #FFF , 838px 796px #FFF , 876px 1480px #FFF , 303px 493px #FFF , 423px 31px #FFF , 1885px 1785px #FFF , 280px 365px #FFF , 1272px 1694px #FFF , 1006px 506px #FFF , 932px 311px #FFF , 1117px 1895px #FFF , 1593px 304px #FFF , 1874px 1638px #FFF , 1673px 208px #FFF , 264px 1635px #FFF , 1599px 565px #FFF , 1072px 1507px #FFF , 634px 1664px #FFF , 1436px 1792px #FFF , 1684px 1849px #FFF , 655px 1062px #FFF , 1146px 1278px #FFF , 1607px 285px #FFF , 1254px 1095px #FFF , 1628px 207px #FFF , 1449px 1369px #FFF , 1600px 1323px #FFF , 285px 686px #FFF , 517px 708px #FFF , 1246px 1179px #FFF , 140px 500px #FFF , 1254px 821px #FFF , 1242px 977px #FFF , 1107px 693px #FFF , 274px 487px #FFF , 434px 404px #FFF , 1289px 590px #FFF , 1394px 1903px #FFF , 1667px 1189px #FFF , 799px 256px #FFF , 1534px 1223px #FFF , 736px 962px #FFF , 54px 1851px #FFF , 194px 731px #FFF , 1739px 1847px #FFF , 197px 1923px #FFF , 1980px 1091px #FFF , 1254px 449px #FFF , 1372px 1868px #FFF , 1655px 1682px #FFF , 497px 1595px #FFF , 1625px 125px #FFF , 340px 29px #FFF , 612px 974px #FFF , 1292px 1555px #FFF , 1429px 1888px #FFF , 889px 643px #FFF , 1859px 242px #FFF , 1459px 446px #FFF , 1621px 1414px #FFF , 1826px 1959px #FFF , 1597px 268px #FFF , 1612px 1620px #FFF , 1706px 534px #FFF , 381px 23px #FFF , 630px 701px #FFF , 1925px 734px #FFF , 470px 387px #FFF , 1354px 764px #FFF , 691px 1268px #FFF , 810px 683px #FFF , 923px 1061px #FFF , 1018px 759px #FFF , 1792px 268px #FFF , 747px 707px #FFF , 1792px 590px #FFF , 413px 30px #FFF , 394px 1168px #FFF , 916px 1062px #FFF , 1138px 1519px #FFF , 1714px 255px #FFF , 123px 1753px #FFF , 1568px 1181px #FFF , 365px 1898px #FFF , 1663px 223px #FFF , 1704px 1718px #FFF , 1115px 691px #FFF , 727px 964px #FFF , 241px 1677px #FFF , 477px 419px #FFF , 882px 1025px #FFF , 224px 158px #FFF , 1286px 1417px #FFF , 550px 1617px #FFF , 915px 1035px #FFF , 1579px 1387px #FFF , 472px 888px #FFF , 1559px 1159px #FFF , 1665px 714px #FFF , 1454px 983px #FFF , 658px 1090px #FFF , 19px 1559px #FFF , 664px 20px #FFF , 1876px 84px #FFF , 1622px 1371px #FFF , 1763px 1198px #FFF , 1500px 1663px #FFF , 906px 1930px #FFF , 718px 835px #FFF , 1263px 1163px #FFF , 114px 907px #FFF , 127px 885px #FFF , 881px 925px #FFF , 307px 157px #FFF , 377px 1547px #FFF , 1792px 473px #FFF , 498px 924px #FFF , 75px 218px #FFF , 1779px 641px #FFF , 762px 1199px #FFF , 1323px 890px #FFF , 1263px 1459px #FFF , 1181px 1205px #FFF , 1384px 1216px #FFF , 1954px 1470px #FFF , 1301px 1934px #FFF , 834px 1498px #FFF , 1025px 1725px #FFF , 1152px 313px #FFF , 770px 1040px #FFF , 1249px 1711px #FFF , 1814px 1259px #FFF , 110px 946px #FFF , 881px 1975px #FFF , 167px 1016px #FFF , 150px 935px #FFF , 343px 1826px #FFF , 839px 1457px #FFF , 1731px 1124px #FFF , 1970px 388px #FFF , 324px 1126px #FFF , 588px 785px #FFF , 1135px 787px #FFF , 1513px 894px #FFF , 1910px 877px #FFF , 776px 1770px #FFF , 1564px 1159px #FFF , 1470px 56px #FFF , 181px 1758px #FFF , 1515px 579px #FFF , 1801px 938px #FFF , 1862px 1418px #FFF , 1459px 967px #FFF , 1307px 1387px #FFF , 1844px 1459px #FFF , 552px 1887px #FFF , 1921px 704px #FFF , 37px 17px #FFF , 1712px 1438px #FFF , 365px 488px #FFF , 1279px 149px #FFF , 325px 1333px #FFF , 1185px 1633px #FFF , 855px 651px #FFF , 327px 1033px #FFF , 735px 777px #FFF , 1235px 1829px #FFF , 122px 280px #FFF , 530px 585px #FFF , 1223px 517px #FFF , 1120px 1952px #FFF , 1569px 1070px #FFF , 58px 488px #FFF , 335px 320px #FFF , 1161px 814px #FFF , 714px 561px #FFF , 439px 656px #FFF , 1022px 1085px #FFF , 1924px 377px #FFF , 1698px 1521px #FFF , 1252px 1181px #FFF , 207px 1627px #FFF , 1240px 217px #FFF , 1422px 431px #FFF , 114px 16px #FFF , 208px 332px #FFF , 1115px 639px #FFF , 1614px 1043px #FFF , 1653px 1154px #FFF , 1789px 513px #FFF , 1710px 481px #FFF , 717px 93px #FFF , 1778px 1481px #FFF , 431px 1789px #FFF , 1189px 933px #FFF , 627px 912px #FFF , 1897px 1814px #FFF , 5px 1693px #FFF , 29px 1697px #FFF , 891px 1874px #FFF , 1146px 645px #FFF , 1962px 1474px #FFF , 1727px 1259px #FFF , 1859px 754px #FFF , 1358px 977px #FFF , 26px 600px #FFF , 1389px 174px #FFF , 1204px 850px #FFF , 1440px 268px #FFF , 1185px 720px #FFF , 978px 487px #FFF , 1132px 1155px #FFF , 511px 1672px #FFF , 1012px 966px #FFF , 934px 1794px #FFF , 1647px 13px #FFF , 712px 7px #FFF , 1877px 751px #FFF , 302px 733px #FFF , 410px 742px #FFF , 780px 1518px #FFF , 1077px 453px #FFF , 1410px 776px #FFF , 266px 1662px #FFF , 1314px 1735px #FFF , 1930px 773px #FFF , 988px 1965px #FFF , 1880px 1197px #FFF , 1450px 1840px #FFF , 1759px 1372px #FFF , 1682px 616px #FFF , 1553px 1304px #FFF , 1053px 1652px #FFF , 352px 647px #FFF , 1708px 102px #FFF , 1002px 1904px #FFF , 1628px 15px #FFF , 950px 87px #FFF , 168px 354px #FFF , 1756px 190px #FFF , 1621px 56px #FFF , 1937px 621px #FFF , 1505px 1318px #FFF , 236px 727px #FFF , 1479px 1279px #FFF , 1235px 361px #FFF , 482px 1152px #FFF , 1645px 897px #FFF , 1196px 114px #FFF , 562px 85px #FFF , 268px 1736px #FFF , 1399px 1284px #FFF , 174px 1446px #FFF , 1930px 553px #FFF , 1435px 1315px #FFF , 819px 1134px #FFF , 1596px 533px #FFF , 728px 936px #FFF , 1577px 1689px #FFF , 1260px 952px #FFF , 1545px 1983px #FFF , 413px 186px #FFF , 595px 1045px #FFF , 160px 744px #FFF , 377px 722px #FFF , 447px 738px #FFF , 1248px 811px #FFF , 609px 30px #FFF , 39px 1935px #FFF , 1341px 317px #FFF , 574px 230px #FFF , 675px 314px #FFF , 1375px 1383px #FFF , 1094px 1884px #FFF , 657px 202px #FFF , 122px 1413px #FFF , 581px 1538px #FFF , 1968px 315px #FFF , 154px 1602px #FFF , 1298px 1032px #FFF , 376px 1782px #FFF , 1734px 1251px #FFF , 233px 1984px #FFF , 1533px 640px #FFF , 1431px 968px #FFF , 37px 1005px #FFF , 272px 618px #FFF , 1218px 1216px #FFF , 1580px 807px #FFF , 13px 1750px #FFF , 14px 608px #FFF , 873px 224px #FFF , 1052px 1943px #FFF , 461px 1548px #FFF , 856px 1293px #FFF , 1167px 1651px #FFF , 1228px 175px #FFF , 1241px 1747px #FFF , 1525px 219px #FFF , 1851px 1799px #FFF , 1392px 202px #FFF , 273px 1690px #FFF , 205px 163px #FFF , 1670px 74px #FFF , 1524px 1809px #FFF , 1416px 1281px #FFF , 75px 1317px #FFF , 1776px 754px #FFF , 812px 738px #FFF , 986px 157px #FFF , 1741px 849px #FFF , 474px 1398px #FFF , 974px 1020px #FFF , 1926px 1983px #FFF , 487px 1047px #FFF , 1211px 1856px #FFF , 1128px 1360px #FFF , 1892px 1949px #FFF , 509px 1886px #FFF , 1287px 86px #FFF , 1818px 1109px #FFF , 1438px 1018px #FFF , 1547px 1156px #FFF , 751px 393px #FFF , 968px 1974px #FFF , 399px 763px #FFF , 1439px 726px #FFF , 693px 823px #FFF , 31px 1838px #FFF , 1973px 1924px #FFF , 965px 642px #FFF , 1268px 731px #FFF , 1455px 865px #FFF , 172px 945px #FFF , 1645px 969px #FFF , 1460px 124px #FFF , 1040px 466px #FFF , 1799px 782px #FFF , 687px 50px #FFF , 129px 160px #FFF , 1349px 778px #FFF , 1972px 1960px #FFF , 604px 676px #FFF , 1457px 277px #FFF , 705px 1938px #FFF , 1569px 1334px #FFF , 1572px 1645px #FFF , 506px 1390px #FFF , 601px 1492px #FFF , 543px 674px #FFF , 806px 927px #FFF , 988px 987px #FFF , 1399px 1790px #FFF , 1064px 1547px #FFF , 1147px 1160px #FFF , 135px 1390px #FFF , 259px 1691px #FFF , 1616px 1582px #FFF , 518px 1192px #FFF , 148px 889px #FFF , 1670px 401px #FFF , 247px 1906px #FFF , 1392px 1605px #FFF , 1744px 1691px #FFF , 780px 1045px #FFF , 1288px 1675px #FFF , 1736px 150px #FFF , 316px 182px #FFF , 610px 163px #FFF , 675px 797px #FFF , 1103px 350px #FFF , 1253px 1870px #FFF , 1535px 1829px #FFF , 836px 1559px #FFF , 98px 1523px #FFF , 755px 1169px #FFF , 1126px 622px #FFF , 1285px 524px #FFF , 239px 1996px #FFF , 1806px 1302px #FFF , 1043px 550px #FFF , 1429px 1601px #FFF , 1291px 274px #FFF , 995px 471px #FFF , 259px 597px #FFF , 869px 350px #FFF , 152px 134px #FFF , 495px 1933px #FFF , 15px 392px #FFF , 83px 1410px #FFF , 303px 1913px #FFF , 394px 927px #FFF , 1064px 329px #FFF , 472px 93px #FFF , 817px 1474px #FFF , 1416px 1753px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 533px 159px #FFF , 846px 1326px #FFF , 410px 1030px #FFF , 1486px 213px #FFF , 7px 1379px #FFF , 1687px 784px #FFF , 961px 1149px #FFF , 1594px 1202px #FFF , 1731px 1070px #FFF , 1920px 1319px #FFF , 1471px 160px #FFF , 382px 1497px #FFF , 966px 1608px #FFF , 380px 168px #FFF , 441px 492px #FFF , 545px 885px #FFF , 1652px 1862px #FFF , 557px 1013px #FFF , 1297px 1305px #FFF , 1465px 1113px #FFF , 446px 1855px #FFF , 1255px 1776px #FFF , 297px 421px #FFF , 946px 205px #FFF , 942px 1726px #FFF , 1155px 1349px #FFF , 275px 972px #FFF , 1201px 1602px #FFF , 1625px 228px #FFF , 24px 184px #FFF , 1725px 1123px #FFF , 398px 1851px #FFF , 1253px 1256px #FFF , 1664px 1712px #FFF , 589px 498px #FFF , 1311px 747px #FFF , 952px 1004px #FFF , 432px 609px #FFF , 414px 1073px #FFF , 1096px 1874px #FFF , 424px 835px #FFF , 364px 1702px #FFF , 117px 962px #FFF , 215px 672px #FFF , 1669px 1341px #FFF , 575px 1362px #FFF , 511px 1155px #FFF , 616px 677px #FFF , 1183px 571px #FFF , 1109px 1855px #FFF , 1082px 852px #FFF , 210px 1436px #FFF , 1177px 902px #FFF , 778px 1194px #FFF , 535px 75px #FFF , 1872px 621px #FFF , 1240px 856px #FFF , 1302px 1004px #FFF , 118px 79px #FFF , 1616px 271px #FFF , 913px 1683px #FFF , 1398px 386px #FFF , 961px 1504px #FFF , 1028px 356px #FFF , 324px 1129px #FFF , 835px 1279px #FFF , 1461px 1832px #FFF , 1434px 406px #FFF , 1754px 611px #FFF , 1404px 599px #FFF , 1596px 769px #FFF , 304px 790px #FFF , 810px 1737px #FFF , 657px 967px #FFF , 1061px 1709px #FFF , 1765px 835px #FFF , 1840px 143px #FFF , 78px 1240px #FFF , 1268px 767px #FFF , 797px 1538px #FFF , 168px 310px #FFF , 281px 80px #FFF , 426px 14px #FFF , 34px 1103px #FFF , 1593px 969px #FFF , 1829px 706px #FFF , 1802px 1734px #FFF , 1942px 1144px #FFF , 1422px 1335px #FFF , 1342px 509px #FFF , 1487px 1659px #FFF , 1722px 1414px #FFF , 998px 127px #FFF , 104px 277px #FFF , 1251px 1340px #FFF , 1421px 1815px #FFF , 1220px 259px #FFF , 1839px 856px #FFF , 108px 1846px #FFF , 1141px 58px #FFF , 1551px 1720px #FFF , 873px 128px #FFF , 350px 608px #FFF , 1277px 1236px #FFF , 991px 1299px #FFF , 750px 1604px #FFF , 1961px 795px #FFF , 773px 1693px #FFF , 1900px 17px #FFF , 10px 1659px #FFF , 518px 762px #FFF , 961px 1758px #FFF , 1886px 1753px #FFF , 1142px 1335px #FFF , 1191px 821px #FFF , 547px 1425px #FFF , 1874px 1784px #FFF , 739px 1978px #FFF , 1595px 1220px #FFF , 363px 24px #FFF , 309px 934px #FFF , 173px 1854px #FFF , 647px 1159px #FFF , 1787px 1636px #FFF , 927px 288px #FFF , 1417px 1840px #FFF , 1068px 893px #FFF , 583px 95px #FFF , 859px 325px #FFF , 1472px 1820px #FFF , 464px 859px #FFF , 386px 1897px #FFF , 513px 978px #FFF , 280px 1942px #FFF , 144px 1215px #FFF , 1596px 1173px #FFF , 1965px 949px #FFF , 1279px 468px #FFF , 836px 1969px #FFF , 169px 1782px #FFF , 114px 879px #FFF , 1962px 739px #FFF , 209px 1544px #FFF , 761px 1865px #FFF , 1156px 738px #FFF , 248px 1776px #FFF , 779px 1214px #FFF , 456px 1461px #FFF , 1925px 1674px #FFF , 1120px 813px #FFF , 1506px 1128px #FFF , 36px 71px #FFF , 1400px 1374px #FFF , 1979px 346px #FFF , 1035px 741px #FFF , 224px 42px #FFF , 1290px 1223px #FFF , 1592px 1276px #FFF , 295px 1995px #FFF , 1229px 340px #FFF , 364px 806px #FFF , 925px 990px #FFF , 1081px 667px #FFF , 1180px 341px #FFF , 1193px 829px #FFF , 1475px 1715px #FFF , 1388px 323px #FFF , 61px 1394px #FFF , 330px 1863px #FFF , 1574px 361px #FFF , 1227px 497px #FFF , 1543px 1206px #FFF , 1472px 1820px #FFF , 128px 1743px #FFF , 176px 848px #FFF , 577px 1576px #FFF , 1329px 1310px #FFF , 1189px 1772px #FFF , 1356px 15px #FFF , 1518px 1786px #FFF , 560px 1356px #FFF , 1925px 1946px #FFF , 1476px 1791px #FFF , 747px 45px #FFF , 745px 1796px #FFF , 1789px 1337px #FFF , 43px 36px #FFF , 610px 1534px #FFF , 253px 1150px #FFF , 1526px 671px #FFF , 1276px 195px #FFF , 1927px 273px #FFF , 226px 778px #FFF , 376px 1029px #FFF , 420px 1500px #FFF , 1625px 695px #FFF , 610px 1246px #FFF , 1449px 730px #FFF , 74px 983px #FFF , 162px 1496px #FFF , 1378px 1636px #FFF , 8px 966px #FFF , 1666px 1769px #FFF , 83px 606px #FFF , 1966px 818px #FFF , 1369px 100px #FFF , 440px 956px #FFF , 80px 1002px #FFF , 1877px 639px #FFF , 1593px 563px #FFF , 1239px 1084px #FFF , 1890px 759px #FFF , 777px 361px #FFF , 372px 1521px #FFF , 578px 1158px #FFF , 30px 994px #FFF , 721px 616px #FFF , 107px 226px #FFF , 530px 252px #FFF , 995px 1071px #FFF , 350px 1076px #FFF , 38px 1620px #FFF , 1608px 695px #FFF , 384px 1142px #FFF , 451px 1308px #FFF , 422px 1096px #FFF , 1927px 1377px #FFF , 1592px 1654px #FFF , 1189px 1100px #FFF , 378px 166px #FFF , 972px 379px #FFF , 534px 967px #FFF , 412px 890px #FFF , 983px 1233px #FFF , 710px 474px #FFF , 1911px 836px #FFF , 476px 111px #FFF , 1667px 1936px #FFF , 786px 1413px #FFF , 386px 519px #FFF , 2px 1282px #FFF , 357px 1853px #FFF , 564px 275px #FFF , 911px 1902px #FFF , 1456px 690px #FFF , 10px 1428px #FFF , 1322px 1129px #FFF , 759px 932px #FFF , 847px 1772px #FFF , 374px 724px #FFF , 1449px 1299px #FFF , 996px 97px #FFF , 1331px 1451px #FFF , 1892px 646px #FFF , 1617px 1603px #FFF , 1577px 10px #FFF , 1163px 1703px #FFF , 1230px 911px #FFF , 993px 1106px #FFF , 1386px 1138px #FFF , 44px 614px #FFF , 1772px 1502px #FFF , 665px 970px #FFF , 261px 1102px #FFF , 1763px 357px #FFF , 262px 672px #FFF , 1540px 61px #FFF , 1495px 272px #FFF , 733px 491px #FFF , 1205px 588px #FFF , 1781px 1190px #FFF , 751px 258px #FFF , 1822px 219px #FFF , 1371px 71px #FFF , 410px 441px #FFF , 212px 613px #FFF , 1955px 964px #FFF , 58px 1241px #FFF , 1975px 871px #FFF , 1488px 171px #FFF , 887px 164px #FFF , 121px 1107px #FFF , 1974px 1422px #FFF , 1504px 575px #FFF , 437px 576px #FFF , 549px 1031px #FFF , 1653px 32px #FFF , 117px 411px #FFF , 1602px 1216px #FFF , 1486px 319px #FFF , 1180px 1173px #FFF , 1937px 888px #FFF , 390px 744px #FFF , 1874px 1879px #FFF , 685px 860px #FFF , 1584px 1655px #FFF , 1177px 1208px #FFF , 220px 374px #FFF , 1495px 601px #FFF , 1768px 192px #FFF , 127px 239px #FFF , 1790px 932px #FFF , 1379px 902px #FFF , 742px 1708px #FFF , 168px 1743px #FFF , 838px 796px #FFF , 876px 1480px #FFF , 303px 493px #FFF , 423px 31px #FFF , 1885px 1785px #FFF , 280px 365px #FFF , 1272px 1694px #FFF , 1006px 506px #FFF , 932px 311px #FFF , 1117px 1895px #FFF , 1593px 304px #FFF , 1874px 1638px #FFF , 1673px 208px #FFF , 264px 1635px #FFF , 1599px 565px #FFF , 1072px 1507px #FFF , 634px 1664px #FFF , 1436px 1792px #FFF , 1684px 1849px #FFF , 655px 1062px #FFF , 1146px 1278px #FFF , 1607px 285px #FFF , 1254px 1095px #FFF , 1628px 207px #FFF , 1449px 1369px #FFF , 1600px 1323px #FFF , 285px 686px #FFF , 517px 708px #FFF , 1246px 1179px #FFF , 140px 500px #FFF , 1254px 821px #FFF , 1242px 977px #FFF , 1107px 693px #FFF , 274px 487px #FFF , 434px 404px #FFF , 1289px 590px #FFF , 1394px 1903px #FFF , 1667px 1189px #FFF , 799px 256px #FFF , 1534px 1223px #FFF , 736px 962px #FFF , 54px 1851px #FFF , 194px 731px #FFF , 1739px 1847px #FFF , 197px 1923px #FFF , 1980px 1091px #FFF , 1254px 449px #FFF , 1372px 1868px #FFF , 1655px 1682px #FFF , 497px 1595px #FFF , 1625px 125px #FFF , 340px 29px #FFF , 612px 974px #FFF , 1292px 1555px #FFF , 1429px 1888px #FFF , 889px 643px #FFF , 1859px 242px #FFF , 1459px 446px #FFF , 1621px 1414px #FFF , 1826px 1959px #FFF , 1597px 268px #FFF , 1612px 1620px #FFF , 1706px 534px #FFF , 381px 23px #FFF , 630px 701px #FFF , 1925px 734px #FFF , 470px 387px #FFF , 1354px 764px #FFF , 691px 1268px #FFF , 810px 683px #FFF , 923px 1061px #FFF , 1018px 759px #FFF , 1792px 268px #FFF , 747px 707px #FFF , 1792px 590px #FFF , 413px 30px #FFF , 394px 1168px #FFF , 916px 1062px #FFF , 1138px 1519px #FFF , 1714px 255px #FFF , 123px 1753px #FFF , 1568px 1181px #FFF , 365px 1898px #FFF , 1663px 223px #FFF , 1704px 1718px #FFF , 1115px 691px #FFF , 727px 964px #FFF , 241px 1677px #FFF , 477px 419px #FFF , 882px 1025px #FFF , 224px 158px #FFF , 1286px 1417px #FFF , 550px 1617px #FFF , 915px 1035px #FFF , 1579px 1387px #FFF , 472px 888px #FFF , 1559px 1159px #FFF , 1665px 714px #FFF , 1454px 983px #FFF , 658px 1090px #FFF , 19px 1559px #FFF , 664px 20px #FFF , 1876px 84px #FFF , 1622px 1371px #FFF , 1763px 1198px #FFF , 1500px 1663px #FFF , 906px 1930px #FFF , 718px 835px #FFF , 1263px 1163px #FFF , 114px 907px #FFF , 127px 885px #FFF , 881px 925px #FFF , 307px 157px #FFF , 377px 1547px #FFF , 1792px 473px #FFF , 498px 924px #FFF , 75px 218px #FFF , 1779px 641px #FFF , 762px 1199px #FFF , 1323px 890px #FFF , 1263px 1459px #FFF , 1181px 1205px #FFF , 1384px 1216px #FFF , 1954px 1470px #FFF , 1301px 1934px #FFF , 834px 1498px #FFF , 1025px 1725px #FFF , 1152px 313px #FFF , 770px 1040px #FFF , 1249px 1711px #FFF , 1814px 1259px #FFF , 110px 946px #FFF , 881px 1975px #FFF , 167px 1016px #FFF , 150px 935px #FFF , 343px 1826px #FFF , 839px 1457px #FFF , 1731px 1124px #FFF , 1970px 388px #FFF , 324px 1126px #FFF , 588px 785px #FFF , 1135px 787px #FFF , 1513px 894px #FFF , 1910px 877px #FFF , 776px 1770px #FFF , 1564px 1159px #FFF , 1470px 56px #FFF , 181px 1758px #FFF , 1515px 579px #FFF , 1801px 938px #FFF , 1862px 1418px #FFF , 1459px 967px #FFF , 1307px 1387px #FFF , 1844px 1459px #FFF , 552px 1887px #FFF , 1921px 704px #FFF , 37px 17px #FFF , 1712px 1438px #FFF , 365px 488px #FFF , 1279px 149px #FFF , 325px 1333px #FFF , 1185px 1633px #FFF , 855px 651px #FFF , 327px 1033px #FFF , 735px 777px #FFF , 1235px 1829px #FFF , 122px 280px #FFF , 530px 585px #FFF , 1223px 517px #FFF , 1120px 1952px #FFF , 1569px 1070px #FFF , 58px 488px #FFF , 335px 320px #FFF , 1161px 814px #FFF , 714px 561px #FFF , 439px 656px #FFF , 1022px 1085px #FFF , 1924px 377px #FFF , 1698px 1521px #FFF , 1252px 1181px #FFF , 207px 1627px #FFF , 1240px 217px #FFF , 1422px 431px #FFF , 114px 16px #FFF , 208px 332px #FFF , 1115px 639px #FFF , 1614px 1043px #FFF , 1653px 1154px #FFF , 1789px 513px #FFF , 1710px 481px #FFF , 717px 93px #FFF , 1778px 1481px #FFF , 431px 1789px #FFF , 1189px 933px #FFF , 627px 912px #FFF , 1897px 1814px #FFF , 5px 1693px #FFF , 29px 1697px #FFF , 891px 1874px #FFF , 1146px 645px #FFF , 1962px 1474px #FFF , 1727px 1259px #FFF , 1859px 754px #FFF , 1358px 977px #FFF , 26px 600px #FFF , 1389px 174px #FFF , 1204px 850px #FFF , 1440px 268px #FFF , 1185px 720px #FFF , 978px 487px #FFF , 1132px 1155px #FFF , 511px 1672px #FFF , 1012px 966px #FFF , 934px 1794px #FFF , 1647px 13px #FFF , 712px 7px #FFF , 1877px 751px #FFF , 302px 733px #FFF , 410px 742px #FFF , 780px 1518px #FFF , 1077px 453px #FFF , 1410px 776px #FFF , 266px 1662px #FFF , 1314px 1735px #FFF , 1930px 773px #FFF , 988px 1965px #FFF , 1880px 1197px #FFF , 1450px 1840px #FFF , 1759px 1372px #FFF , 1682px 616px #FFF , 1553px 1304px #FFF , 1053px 1652px #FFF , 352px 647px #FFF , 1708px 102px #FFF , 1002px 1904px #FFF , 1628px 15px #FFF , 950px 87px #FFF , 168px 354px #FFF , 1756px 190px #FFF , 1621px 56px #FFF , 1937px 621px #FFF , 1505px 1318px #FFF , 236px 727px #FFF , 1479px 1279px #FFF , 1235px 361px #FFF , 482px 1152px #FFF , 1645px 897px #FFF , 1196px 114px #FFF , 562px 85px #FFF , 268px 1736px #FFF , 1399px 1284px #FFF , 174px 1446px #FFF , 1930px 553px #FFF , 1435px 1315px #FFF , 819px 1134px #FFF , 1596px 533px #FFF , 728px 936px #FFF , 1577px 1689px #FFF , 1260px 952px #FFF , 1545px 1983px #FFF , 413px 186px #FFF , 595px 1045px #FFF , 160px 744px #FFF , 377px 722px #FFF , 447px 738px #FFF , 1248px 811px #FFF , 609px 30px #FFF , 39px 1935px #FFF , 1341px 317px #FFF , 574px 230px #FFF , 675px 314px #FFF , 1375px 1383px #FFF , 1094px 1884px #FFF , 657px 202px #FFF , 122px 1413px #FFF , 581px 1538px #FFF , 1968px 315px #FFF , 154px 1602px #FFF , 1298px 1032px #FFF , 376px 1782px #FFF , 1734px 1251px #FFF , 233px 1984px #FFF , 1533px 640px #FFF , 1431px 968px #FFF , 37px 1005px #FFF , 272px 618px #FFF , 1218px 1216px #FFF , 1580px 807px #FFF , 13px 1750px #FFF , 14px 608px #FFF , 873px 224px #FFF , 1052px 1943px #FFF , 461px 1548px #FFF , 856px 1293px #FFF , 1167px 1651px #FFF , 1228px 175px #FFF , 1241px 1747px #FFF , 1525px 219px #FFF , 1851px 1799px #FFF , 1392px 202px #FFF , 273px 1690px #FFF , 205px 163px #FFF , 1670px 74px #FFF , 1524px 1809px #FFF , 1416px 1281px #FFF , 75px 1317px #FFF , 1776px 754px #FFF , 812px 738px #FFF , 986px 157px #FFF , 1741px 849px #FFF , 474px 1398px #FFF , 974px 1020px #FFF , 1926px 1983px #FFF , 487px 1047px #FFF , 1211px 1856px #FFF , 1128px 1360px #FFF , 1892px 1949px #FFF , 509px 1886px #FFF , 1287px 86px #FFF , 1818px 1109px #FFF , 1438px 1018px #FFF , 1547px 1156px #FFF , 751px 393px #FFF , 968px 1974px #FFF , 399px 763px #FFF , 1439px 726px #FFF , 693px 823px #FFF , 31px 1838px #FFF , 1973px 1924px #FFF , 965px 642px #FFF , 1268px 731px #FFF , 1455px 865px #FFF , 172px 945px #FFF , 1645px 969px #FFF , 1460px 124px #FFF , 1040px 466px #FFF , 1799px 782px #FFF , 687px 50px #FFF , 129px 160px #FFF , 1349px 778px #FFF , 1972px 1960px #FFF , 604px 676px #FFF , 1457px 277px #FFF , 705px 1938px #FFF , 1569px 1334px #FFF , 1572px 1645px #FFF , 506px 1390px #FFF , 601px 1492px #FFF , 543px 674px #FFF , 806px 927px #FFF , 988px 987px #FFF , 1399px 1790px #FFF , 1064px 1547px #FFF , 1147px 1160px #FFF , 135px 1390px #FFF , 259px 1691px #FFF , 1616px 1582px #FFF , 518px 1192px #FFF , 148px 889px #FFF , 1670px 401px #FFF , 247px 1906px #FFF , 1392px 1605px #FFF , 1744px 1691px #FFF , 780px 1045px #FFF , 1288px 1675px #FFF , 1736px 150px #FFF , 316px 182px #FFF , 610px 163px #FFF , 675px 797px #FFF , 1103px 350px #FFF , 1253px 1870px #FFF , 1535px 1829px #FFF , 836px 1559px #FFF , 98px 1523px #FFF , 755px 1169px #FFF , 1126px 622px #FFF , 1285px 524px #FFF , 239px 1996px #FFF , 1806px 1302px #FFF , 1043px 550px #FFF , 1429px 1601px #FFF , 1291px 274px #FFF , 995px 471px #FFF , 259px 597px #FFF , 869px 350px #FFF , 152px 134px #FFF , 495px 1933px #FFF , 15px 392px #FFF , 83px 1410px #FFF , 303px 1913px #FFF , 394px 927px #FFF , 1064px 329px #FFF , 472px 93px #FFF , 817px 1474px #FFF , 1416px 1753px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1939px 1950px #FFF , 1740px 498px #FFF , 1779px 908px #FFF , 1495px 719px #FFF , 760px 620px #FFF , 1861px 1301px #FFF , 446px 1915px #FFF , 1987px 428px #FFF , 1231px 984px #FFF , 1985px 1596px #FFF , 114px 1302px #FFF , 1339px 1040px #FFF , 727px 701px #FFF , 438px 1585px #FFF , 1647px 1416px #FFF , 261px 175px #FFF , 1009px 803px #FFF , 352px 166px #FFF , 25px 467px #FFF , 43px 1376px #FFF , 1817px 1951px #FFF , 803px 1800px #FFF , 442px 345px #FFF , 511px 120px #FFF , 152px 38px #FFF , 1153px 430px #FFF , 1200px 1367px #FFF , 1830px 977px #FFF , 560px 1114px #FFF , 640px 1240px #FFF , 277px 1071px #FFF , 728px 775px #FFF , 1102px 1978px #FFF , 1077px 1711px #FFF , 887px 1197px #FFF , 541px 935px #FFF , 1208px 1776px #FFF , 72px 956px #FFF , 783px 375px #FFF , 912px 782px #FFF , 1483px 1785px #FFF , 941px 1002px #FFF , 1728px 1650px #FFF , 1815px 835px #FFF , 1643px 266px #FFF , 390px 1739px #FFF , 802px 1252px #FFF , 1061px 654px #FFF , 1520px 960px #FFF , 957px 61px #FFF , 575px 1197px #FFF , 538px 1308px #FFF , 1687px 833px #FFF , 548px 152px #FFF , 1804px 1831px #FFF , 1282px 165px #FFF , 243px 47px #FFF , 884px 757px #FFF , 888px 1945px #FFF , 1247px 153px #FFF , 1184px 1596px #FFF , 387px 35px #FFF , 820px 1473px #FFF , 748px 186px #FFF , 506px 262px #FFF , 1081px 129px #FFF , 1524px 1221px #FFF , 999px 814px #FFF , 841px 1427px #FFF , 1747px 467px #FFF , 1608px 1689px #FFF , 1600px 376px #FFF , 1456px 1427px #FFF , 511px 1815px #FFF , 147px 1466px #FFF , 422px 1541px #FFF , 1057px 129px #FFF , 883px 1824px #FFF , 1670px 395px #FFF , 711px 660px #FFF , 864px 450px #FFF , 66px 1349px #FFF , 1856px 1995px #FFF , 1335px 26px #FFF , 1850px 1382px #FFF , 185px 1743px #FFF , 1888px 987px #FFF , 1874px 395px #FFF , 1769px 1053px #FFF , 1777px 578px #FFF , 187px 1872px #FFF , 87px 54px #FFF , 322px 1801px #FFF , 728px 1763px #FFF , 879px 1968px #FFF , 326px 1495px #FFF , 1835px 1048px #FFF , 494px 1171px #FFF , 776px 944px #FFF , 812px 1018px #FFF , 1379px 1367px #FFF , 1076px 772px #FFF , 479px 1946px #FFF , 1709px 334px #FFF , 827px 775px #FFF , 1271px 1647px #FFF , 299px 1934px #FFF , 1299px 1574px #FFF , 1281px 1192px #FFF , 1456px 1002px #FFF , 230px 254px #FFF , 21px 1054px #FFF , 1521px 554px #FFF , 544px 587px #FFF , 1010px 163px #FFF , 1541px 890px #FFF , 1373px 391px #FFF , 290px 1880px #FFF , 542px 191px #FFF , 531px 974px #FFF , 1355px 1287px #FFF , 1794px 1238px #FFF , 1983px 1549px #FFF , 1604px 1720px #FFF , 764px 363px #FFF , 639px 1831px #FFF , 1730px 1462px #FFF , 938px 1735px #FFF , 1515px 1381px #FFF , 735px 1967px #FFF , 1529px 827px #FFF , 1016px 222px #FFF , 324px 75px #FFF , 306px 1244px #FFF , 554px 472px #FFF , 1384px 1804px #FFF , 401px 1291px #FFF , 965px 1931px #FFF , 612px 694px #FFF , 103px 1400px #FFF , 107px 489px #FFF , 455px 34px #FFF , 1533px 1617px #FFF , 78px 60px #FFF , 104px 290px #FFF , 45px 888px #FFF , 1380px 1930px #FFF , 1784px 493px #FFF , 1961px 1437px #FFF , 1379px 504px #FFF , 531px 1599px #FFF , 1524px 544px #FFF , 1369px 206px #FFF , 481px 1023px #FFF , 1757px 345px #FFF , 76px 1897px #FFF , 1521px 602px #FFF , 1675px 573px #FFF , 1358px 27px #FFF , 1139px 1947px #FFF , 186px 1332px #FFF , 1785px 882px #FFF , 1677px 839px #FFF , 1409px 1436px #FFF , 1484px 107px #FFF , 1080px 522px #FFF , 743px 1870px #FFF , 1735px 438px #FFF , 1069px 1497px #FFF , 1046px 106px #FFF , 426px 1572px #FFF , 1946px 1401px #FFF , 1329px 621px #FFF , 805px 1665px #FFF , 336px 1775px #FFF , 1334px 712px #FFF , 199px 304px #FFF , 997px 743px #FFF , 1519px 20px #FFF , 106px 1523px #FFF , 311px 667px #FFF , 502px 1940px #FFF , 1515px 684px #FFF , 1964px 757px #FFF , 1787px 1359px #FFF , 619px 740px #FFF , 1680px 408px #FFF , 1187px 778px #FFF , 1171px 859px #FFF , 459px 348px #FFF , 1603px 145px #FFF , 1155px 544px #FFF , 713px 1304px #FFF , 1835px 177px #FFF , 1507px 1348px #FFF , 1751px 30px #FFF , 1427px 1266px #FFF , 1156px 1556px #FFF , 104px 1729px #FFF , 377px 772px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1939px 1950px #FFF , 1740px 498px #FFF , 1779px 908px #FFF , 1495px 719px #FFF , 760px 620px #FFF , 1861px 1301px #FFF , 446px 1915px #FFF , 1987px 428px #FFF , 1231px 984px #FFF , 1985px 1596px #FFF , 114px 1302px #FFF , 1339px 1040px #FFF , 727px 701px #FFF , 438px 1585px #FFF , 1647px 1416px #FFF , 261px 175px #FFF , 1009px 803px #FFF , 352px 166px #FFF , 25px 467px #FFF , 43px 1376px #FFF , 1817px 1951px #FFF , 803px 1800px #FFF , 442px 345px #FFF , 511px 120px #FFF , 152px 38px #FFF , 1153px 430px #FFF , 1200px 1367px #FFF , 1830px 977px #FFF , 560px 1114px #FFF , 640px 1240px #FFF , 277px 1071px #FFF , 728px 775px #FFF , 1102px 1978px #FFF , 1077px 1711px #FFF , 887px 1197px #FFF , 541px 935px #FFF , 1208px 1776px #FFF , 72px 956px #FFF , 783px 375px #FFF , 912px 782px #FFF , 1483px 1785px #FFF , 941px 1002px #FFF , 1728px 1650px #FFF , 1815px 835px #FFF , 1643px 266px #FFF , 390px 1739px #FFF , 802px 1252px #FFF , 1061px 654px #FFF , 1520px 960px #FFF , 957px 61px #FFF , 575px 1197px #FFF , 538px 1308px #FFF , 1687px 833px #FFF , 548px 152px #FFF , 1804px 1831px #FFF , 1282px 165px #FFF , 243px 47px #FFF , 884px 757px #FFF , 888px 1945px #FFF , 1247px 153px #FFF , 1184px 1596px #FFF , 387px 35px #FFF , 820px 1473px #FFF , 748px 186px #FFF , 506px 262px #FFF , 1081px 129px #FFF , 1524px 1221px #FFF , 999px 814px #FFF , 841px 1427px #FFF , 1747px 467px #FFF , 1608px 1689px #FFF , 1600px 376px #FFF , 1456px 1427px #FFF , 511px 1815px #FFF , 147px 1466px #FFF , 422px 1541px #FFF , 1057px 129px #FFF , 883px 1824px #FFF , 1670px 395px #FFF , 711px 660px #FFF , 864px 450px #FFF , 66px 1349px #FFF , 1856px 1995px #FFF , 1335px 26px #FFF , 1850px 1382px #FFF , 185px 1743px #FFF , 1888px 987px #FFF , 1874px 395px #FFF , 1769px 1053px #FFF , 1777px 578px #FFF , 187px 1872px #FFF , 87px 54px #FFF , 322px 1801px #FFF , 728px 1763px #FFF , 879px 1968px #FFF , 326px 1495px #FFF , 1835px 1048px #FFF , 494px 1171px #FFF , 776px 944px #FFF , 812px 1018px #FFF , 1379px 1367px #FFF , 1076px 772px #FFF , 479px 1946px #FFF , 1709px 334px #FFF , 827px 775px #FFF , 1271px 1647px #FFF , 299px 1934px #FFF , 1299px 1574px #FFF , 1281px 1192px #FFF , 1456px 1002px #FFF , 230px 254px #FFF , 21px 1054px #FFF , 1521px 554px #FFF , 544px 587px #FFF , 1010px 163px #FFF , 1541px 890px #FFF , 1373px 391px #FFF , 290px 1880px #FFF , 542px 191px #FFF , 531px 974px #FFF , 1355px 1287px #FFF , 1794px 1238px #FFF , 1983px 1549px #FFF , 1604px 1720px #FFF , 764px 363px #FFF , 639px 1831px #FFF , 1730px 1462px #FFF , 938px 1735px #FFF , 1515px 1381px #FFF , 735px 1967px #FFF , 1529px 827px #FFF , 1016px 222px #FFF , 324px 75px #FFF , 306px 1244px #FFF , 554px 472px #FFF , 1384px 1804px #FFF , 401px 1291px #FFF , 965px 1931px #FFF , 612px 694px #FFF , 103px 1400px #FFF , 107px 489px #FFF , 455px 34px #FFF , 1533px 1617px #FFF , 78px 60px #FFF , 104px 290px #FFF , 45px 888px #FFF , 1380px 1930px #FFF , 1784px 493px #FFF , 1961px 1437px #FFF , 1379px 504px #FFF , 531px 1599px #FFF , 1524px 544px #FFF , 1369px 206px #FFF , 481px 1023px #FFF , 1757px 345px #FFF , 76px 1897px #FFF , 1521px 602px #FFF , 1675px 573px #FFF , 1358px 27px #FFF , 1139px 1947px #FFF , 186px 1332px #FFF , 1785px 882px #FFF , 1677px 839px #FFF , 1409px 1436px #FFF , 1484px 107px #FFF , 1080px 522px #FFF , 743px 1870px #FFF , 1735px 438px #FFF , 1069px 1497px #FFF , 1046px 106px #FFF , 426px 1572px #FFF , 1946px 1401px #FFF , 1329px 621px #FFF , 805px 1665px #FFF , 336px 1775px #FFF , 1334px 712px #FFF , 199px 304px #FFF , 997px 743px #FFF , 1519px 20px #FFF , 106px 1523px #FFF , 311px 667px #FFF , 502px 1940px #FFF , 1515px 684px #FFF , 1964px 757px #FFF , 1787px 1359px #FFF , 619px 740px #FFF , 1680px 408px #FFF , 1187px 778px #FFF , 1171px 859px #FFF , 459px 348px #FFF , 1603px 145px #FFF , 1155px 544px #FFF , 713px 1304px #FFF , 1835px 177px #FFF , 1507px 1348px #FFF , 1751px 30px #FFF , 1427px 1266px #FFF , 1156px 1556px #FFF , 104px 1729px #FFF , 377px 772px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 998px 1608px #FFF , 850px 1242px #FFF , 1933px 1729px #FFF , 310px 1667px #FFF , 1197px 438px #FFF , 1688px 801px #FFF , 358px 1251px #FFF , 1552px 1041px #FFF , 233px 1862px #FFF , 876px 430px #FFF , 1187px 1339px #FFF , 573px 1162px #FFF , 227px 1407px #FFF , 1368px 433px #FFF , 1859px 211px #FFF , 1266px 134px #FFF , 1058px 1001px #FFF , 1382px 1556px #FFF , 328px 1459px #FFF , 917px 1939px #FFF , 1360px 938px #FFF , 183px 652px #FFF , 120px 793px #FFF , 49px 1366px #FFF , 1578px 600px #FFF , 257px 907px #FFF , 1628px 1396px #FFF , 1207px 1798px #FFF , 1849px 1797px #FFF , 1473px 1350px #FFF , 775px 92px #FFF , 677px 1375px #FFF , 536px 1006px #FFF , 1882px 34px #FFF , 532px 959px #FFF , 1462px 759px #FFF , 1286px 1636px #FFF , 1728px 184px #FFF , 1614px 342px #FFF , 1121px 1629px #FFF , 1685px 1643px #FFF , 1791px 565px #FFF , 415px 746px #FFF , 1896px 1076px #FFF , 1380px 882px #FFF , 1213px 1611px #FFF , 1900px 1958px #FFF , 679px 1138px #FFF , 12px 1942px #FFF , 1275px 1626px #FFF , 1987px 966px #FFF , 1327px 222px #FFF , 709px 1332px #FFF , 1245px 1913px #FFF , 1681px 1578px #FFF , 39px 1775px #FFF , 782px 782px #FFF , 1716px 507px #FFF , 1329px 343px #FFF , 1201px 852px #FFF , 1394px 476px #FFF , 547px 276px #FFF , 899px 710px #FFF , 1381px 1151px #FFF , 1305px 643px #FFF , 1000px 113px #FFF , 792px 1292px #FFF , 703px 1825px #FFF , 1681px 1102px #FFF , 1581px 1779px #FFF , 459px 1844px #FFF , 617px 316px #FFF , 1903px 909px #FFF , 1689px 154px #FFF , 1293px 361px #FFF , 1418px 1858px #FFF , 299px 827px #FFF , 1425px 1502px #FFF , 1122px 1381px #FFF , 330px 807px #FFF , 362px 333px #FFF , 1461px 1914px #FFF , 167px 1781px #FFF , 1923px 1531px #FFF , 442px 1490px #FFF , 1824px 751px #FFF , 1246px 1208px #FFF , 1117px 617px #FFF , 1304px 646px #FFF , 602px 1167px #FFF , 632px 1137px #FFF , 229px 313px #FFF , 508px 165px #FFF , 837px 1299px #FFF , 1921px 1043px #FFF , 506px 1903px #FFF , 1773px 384px #FFF , 102px 1560px #FFF , 1343px 1100px #FFF , 1368px 449px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 998px 1608px #FFF , 850px 1242px #FFF , 1933px 1729px #FFF , 310px 1667px #FFF , 1197px 438px #FFF , 1688px 801px #FFF , 358px 1251px #FFF , 1552px 1041px #FFF , 233px 1862px #FFF , 876px 430px #FFF , 1187px 1339px #FFF , 573px 1162px #FFF , 227px 1407px #FFF , 1368px 433px #FFF , 1859px 211px #FFF , 1266px 134px #FFF , 1058px 1001px #FFF , 1382px 1556px #FFF , 328px 1459px #FFF , 917px 1939px #FFF , 1360px 938px #FFF , 183px 652px #FFF , 120px 793px #FFF , 49px 1366px #FFF , 1578px 600px #FFF , 257px 907px #FFF , 1628px 1396px #FFF , 1207px 1798px #FFF , 1849px 1797px #FFF , 1473px 1350px #FFF , 775px 92px #FFF , 677px 1375px #FFF , 536px 1006px #FFF , 1882px 34px #FFF , 532px 959px #FFF , 1462px 759px #FFF , 1286px 1636px #FFF , 1728px 184px #FFF , 1614px 342px #FFF , 1121px 1629px #FFF , 1685px 1643px #FFF , 1791px 565px #FFF , 415px 746px #FFF , 1896px 1076px #FFF , 1380px 882px #FFF , 1213px 1611px #FFF , 1900px 1958px #FFF , 679px 1138px #FFF , 12px 1942px #FFF , 1275px 1626px #FFF , 1987px 966px #FFF , 1327px 222px #FFF , 709px 1332px #FFF , 1245px 1913px #FFF , 1681px 1578px #FFF , 39px 1775px #FFF , 782px 782px #FFF , 1716px 507px #FFF , 1329px 343px #FFF , 1201px 852px #FFF , 1394px 476px #FFF , 547px 276px #FFF , 899px 710px #FFF , 1381px 1151px #FFF , 1305px 643px #FFF , 1000px 113px #FFF , 792px 1292px #FFF , 703px 1825px #FFF , 1681px 1102px #FFF , 1581px 1779px #FFF , 459px 1844px #FFF , 617px 316px #FFF , 1903px 909px #FFF , 1689px 154px #FFF , 1293px 361px #FFF , 1418px 1858px #FFF , 299px 827px #FFF , 1425px 1502px #FFF , 1122px 1381px #FFF , 330px 807px #FFF , 362px 333px #FFF , 1461px 1914px #FFF , 167px 1781px #FFF , 1923px 1531px #FFF , 442px 1490px #FFF , 1824px 751px #FFF , 1246px 1208px #FFF , 1117px 617px #FFF , 1304px 646px #FFF , 602px 1167px #FFF , 632px 1137px #FFF , 229px 313px #FFF , 508px 165px #FFF , 837px 1299px #FFF , 1921px 1043px #FFF , 506px 1903px #FFF , 1773px 384px #FFF , 102px 1560px #FFF , 1343px 1100px #FFF , 1368px 449px #FFF;
}

#title {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .view-work {
  font-family: "lato", sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
#header .view-work:hover img {
  transform: rotate(180deg);
}
#header .view-work:hover::after {
  transform: scale(1);
  bottom: 100%;
  left: 100%;
}
#header .view-work::after {
  content: attr(data-tool-tip);
  position: absolute;
  display: block;
  background-color: rgba(128, 128, 128, 0.3);
  color: #fff;
  padding: 1em 1em;
  border-radius: 10px;
  bottom: 50%;
  left: 50%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms, left ease-out 150ms;
}

.view-work-container {
  display: inline-block;
  margin-top: 5rem;
}

#header .view-work a {
  text-decoration: none;
}

#header .view-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

#header .view-work img {
  max-width: 50px;
  position: relative;
  right: -11px;
  transition: transform 0.2s ease-in-out;
}

#projects {
  background-color: #1b2735;
  box-sizing: content-box;
}

#projects .projects-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

#projects .project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

#projects .projects-container img {
  max-width: 100%;
}

.about-me {
  font-size: 23px;
  color: #fff;
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 3rem;
  justify-self: baseline;
}

.front-end {
  color: rgba(67, 221, 16, 0.9);
}

.back-end {
  color: rgb(214, 144, 184);
  color: #df0f86;
}

.project-big-title, .about-big-title, .contact-big-title {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 3rem;
  text-align: center;
}

.project-big-title::before, .about-big-title::before, .contact-big-title::before {
  content: "";
  width: 100px;
  height: 6px;
  display: block;
  margin-top: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.tech-used {
  display: flex;
  justify-content: space-around;
}

.tech-used span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  color: #b15959;
  font-weight: 700;
}

.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}

.title-line {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}

.project-content {
  max-width: 100%;
  height: 300px;
  border-top: none;
  padding: 1rem;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5019607843);
  box-sizing: border-box;
}
@media screen and (max-width: 927px) {
  .project-content {
    max-width: 640px;
    box-sizing: border-box;
  }
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
:root {
  /* Background-Colors */
  --green: #a4d6a6;
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --purple: hsl(231deg 12% 81%);
  --purple: #465295;
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: #e69e9e;
  --pink: hsl(295, 42%, 76%);
  --white: hsl(1, 0%, 100%);
  /* Hover Colors */
  --greenGreen: hsl(101, 100%, 30%);
  --blueBlue: hsl(210, 100%, 50%);
  --orangeOrange: hsl(34, 100%, 50%);
  --purplePurple: hsl(231, 100%, 60%);
  --yellowYellow: hsl(54, 50%, 42%);
  --brownBrown: hsl(20, 100%, 59%);
  --redRed: hsl(0, 100%, 60%);
  --pinkPink: hsl(295, 58%, 34%);
  --whiteWhite: rgb(145, 133, 133);
}

#about {
  background-color: #424fad;
  background-color: #1b2735;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff;
}

.back-end-tech {
  color: #fff;
}

.about-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.flex {
  position: relative;
  display: grid;
  place-content: center;
  width: 230px;
  height: 230px;
  -webkit-animation-name: planetRotate;
          animation-name: planetRotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  transition: 310ms;
  margin-bottom: 5rem;
}

@-webkit-keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-animation: counterRotate 60s linear 0s infinite;
          animation: counterRotate 60s linear 0s infinite;
}

.flex:hover .centered-image {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.centered-image:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.centered-image > img {
  position: absolute;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: opacity 500ms;
  border-radius: 20px;
  opacity: 1;
}

.centered-image img:last-child:hover {
  opacity: 0;
}

.flex span a img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation-name: planetScaleUpDown;
          animation-name: planetScaleUpDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: planetScaleUpDown 500ms 5s;
}

@-webkit-keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.flex span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(80deg * var(--i)));
}

.bg {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  transform: translateX(-30%);
  -webkit-animation: counterRotatePlanet 60s linear infinite alternate;
          animation: counterRotatePlanet 60s linear infinite alternate;
}

@-webkit-keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.laravel {
  background-color: var(--blue);
}

.laravel::before {
  content: "Laravel";
  border-radius: inherit;
}

.laravel:hover::before {
  background-color: var(--blueBlue);
  opacity: 1;
}

.vue {
  background-color: var(--orange);
}

.vue::before {
  content: "Vue";
  border-radius: inherit;
  transform: rotate(200deg);
}

.vue:hover::before {
  background-color: var(--orangeOrange);
  opacity: 1;
}

.react {
  background-color: var(--purple);
}

.react::before {
  content: "React";
  border-radius: inherit;
  transform: rotate(-42deg);
}

.react:hover::before {
  background-color: var(--purplePurple);
  opacity: 1;
}

.bootstrap {
  background-color: var(--yellow);
}

.bootstrap::before {
  content: "Bootstrap";
  border-radius: inherit;
  transform: rotate(240deg);
}

.bootstrap:hover::before {
  background-color: var(--yellowYellow);
  opacity: 1;
}

.php {
  background-color: var(--green);
}

.php::before {
  border-radius: inherit;
  transform: rotate(120deg);
  content: "PHP";
}

.php:hover::before {
  background-color: var(--greenGreen);
  opacity: 1;
}

.mysql {
  background-color: var(--brown);
}

.mysql::before {
  border-radius: inherit;
  transform: rotate(40deg);
  content: "MySQL";
}

.mysql:hover::before {
  background-color: var(--brownBrown);
  opacity: 1;
}

.gitlab {
  background-color: var(--red);
}

.gitlab::before {
  content: "GitLab";
  border-radius: inherit;
  transform: rotate(160deg);
}

.gitlab:hover::before {
  background-color: var(--redRed);
  opacity: 1;
}

.jquery {
  background-color: var(--pink);
}

.jquery::before {
  content: "jQuery";
  border-radius: inherit;
  transform: rotate(80deg);
}

.jquery:hover::before {
  background-color: var(--pinkPink);
  opacity: 1;
}

.js {
  background-color: var(--white);
}

.js::before {
  content: "JavaScript";
  border-radius: inherit;
}

.js:hover::before {
  background-color: var(--whiteWhite);
  opacity: 1;
}

:is(.laravel, .vue, .php, .mysql, .bootstrap, .react, .gitlab, .jquery, .js)::before {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms linear;
  font-weight: bolder;
  font-size: 15;
  border-radius: inherit;
}

.contact-container {
  background-color: #1b2735;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.section-divider {
  width: 100px;
  height: 6px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.contact-container input, .contact-container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.contact-container [type=submit] {
  box-sizing: content-box;
}

.contact-me-text {
  color: #fff;
}

.my-email {
  color: rgba(67, 221, 16, 0.9);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact input, #contact textarea {
    width: 60%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  #contact input, #contact textarea {
    width: 70%;
  }
}
.contact-container textarea::-moz-placeholder {
  font-family: Arial;
}
.contact-container textarea:-ms-input-placeholder {
  font-family: Arial;
}
.contact-container textarea::placeholder {
  font-family: Arial;
}

.contact-container [type=submit]:hover {
  background-color: #1b2735;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #contact input, #contact textarea {
    width: 80%;
  }
}

