.image-move-container {
  max-width: 100px;
  position: relative;
  margin: 0 auto;
}
.image-container {
  position: relative;
}
.image-container img {
  max-width: 100%;
  transform: rotate(180deg);
}
.edge {
  border: 1px solid #000;
  width: 120px;
  position: absolute;
  right: 61px;
}
.edge2 {
  top: 160px;
}
.edge3 {
  top: 320px;
}
.image-container.active {
  top: 160px;
}
.image-container.activeBeat3 {
  top: 320px;
}
.image-container .hide-baton-btn {
  /* position: absolute;
  top: 141px;
  right: 122px; */
}
