.contact_container {
  background: #852323;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact_container h1 {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 500;
}
.contact_container p {
  color: #000;
  font-size: 1.2rem;
}
.contact_container input,
.contact_container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}
.contact_container textarea {
  font-size: 20px;
}
.contact_container ::-webkit-input-placeholder {
  font-size: 20px;
}
.contact_container ::-moz-placeholder {
  font-size: 20px;
}
.contact_container :-ms-input-placeholder {
  font-size: 20px;
}
.contact_container ::placeholder {
  font-size: 20px;
}
.contact_container input[type="submit"]:hover {
  background-color: #852323;
  color: #fff;
  cursor: pointer;
}
.contact_container {
  text-align: center;
}
