main .main__arrow {
  animation: moveInBottom;
  animation-fill-mode: initial;
  animation-duration: 3s;
  animation-play-state: running;
  cursor: pointer;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 5%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  columns: #fff;
  transition: all 0.5s ease-out;
}
main .main__arrow a {
  display: inline-block;
  padding: 0.8rem;
}
main .main__arrow svg {
  transition: all 0.5s ease-out;
}
main .main__arrow:hover {
  background: #852323;
}
main .main__arrow:hover svg {
  transform: rotate(90deg);
}
main#home h1 {
  margin-top: 20vh;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  animation: moveInLeft;
  animation-duration: 2s;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
