@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
html {
  height: 100%;
  scroll-behavior: smooth; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #1b2735; }

#header {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); }

#header .name {
  font-size: 5rem;
  background: -webkit-linear-gradient(white, #31235a);
  -webkit-background-clip: text;
  background-clip: text; }

#header .web-title {
  font-size: 2rem;
  display: inherit; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 857px 1176px #FFF , 547px 1960px #FFF , 1107px 508px #FFF , 1403px 1994px #FFF , 1263px 1611px #FFF , 454px 785px #FFF , 629px 665px #FFF , 54px 1501px #FFF , 316px 189px #FFF , 1330px 882px #FFF , 166px 1839px #FFF , 789px 1113px #FFF , 1126px 1785px #FFF , 404px 1047px #FFF , 1635px 532px #FFF , 206px 1207px #FFF , 477px 1720px #FFF , 1401px 422px #FFF , 698px 687px #FFF , 1702px 1137px #FFF , 679px 1161px #FFF , 1037px 614px #FFF , 1544px 546px #FFF , 1830px 1550px #FFF , 1306px 1471px #FFF , 617px 448px #FFF , 1562px 214px #FFF , 1951px 798px #FFF , 611px 275px #FFF , 1608px 386px #FFF , 163px 750px #FFF , 1784px 1001px #FFF , 1576px 633px #FFF , 251px 832px #FFF , 1585px 1964px #FFF , 1835px 834px #FFF , 1825px 326px #FFF , 1114px 965px #FFF , 1440px 1472px #FFF , 463px 804px #FFF , 155px 1741px #FFF , 936px 452px #FFF , 156px 835px #FFF , 1503px 1118px #FFF , 917px 1362px #FFF , 1775px 1338px #FFF , 630px 321px #FFF , 946px 1977px #FFF , 1213px 1242px #FFF , 1832px 1859px #FFF , 786px 1129px #FFF , 1243px 798px #FFF , 1410px 1576px #FFF , 543px 59px #FFF , 949px 996px #FFF , 1065px 1014px #FFF , 1236px 290px #FFF , 1517px 1493px #FFF , 1034px 1015px #FFF , 1965px 561px #FFF , 1835px 132px #FFF , 639px 1250px #FFF , 348px 1147px #FFF , 1690px 1088px #FFF , 1130px 1890px #FFF , 131px 1570px #FFF , 1353px 1188px #FFF , 426px 1713px #FFF , 962px 533px #FFF , 154px 981px #FFF , 877px 1139px #FFF , 1990px 384px #FFF , 412px 1655px #FFF , 7px 515px #FFF , 577px 329px #FFF , 519px 1578px #FFF , 1855px 1037px #FFF , 501px 748px #FFF , 1596px 1811px #FFF , 1575px 751px #FFF , 505px 118px #FFF , 200px 899px #FFF , 1207px 1024px #FFF , 85px 1770px #FFF , 946px 1796px #FFF , 1234px 1041px #FFF , 175px 1667px #FFF , 1492px 1730px #FFF , 1719px 1098px #FFF , 140px 468px #FFF , 720px 500px #FFF , 1904px 1750px #FFF , 1383px 1965px #FFF , 206px 35px #FFF , 1445px 1952px #FFF , 1455px 1950px #FFF , 1216px 771px #FFF , 453px 642px #FFF , 805px 1588px #FFF , 947px 1293px #FFF , 545px 984px #FFF , 1720px 105px #FFF , 38px 1888px #FFF , 1254px 1108px #FFF , 642px 39px #FFF , 203px 1289px #FFF , 1116px 919px #FFF , 656px 202px #FFF , 77px 654px #FFF , 1982px 1848px #FFF , 448px 1864px #FFF , 1336px 1431px #FFF , 734px 784px #FFF , 1318px 1606px #FFF , 162px 453px #FFF , 371px 1215px #FFF , 1335px 95px #FFF , 397px 1575px #FFF , 549px 208px #FFF , 1035px 803px #FFF , 1686px 131px #FFF , 1096px 1259px #FFF , 324px 1935px #FFF , 394px 873px #FFF , 320px 355px #FFF , 395px 780px #FFF , 1978px 258px #FFF , 1875px 677px #FFF , 1605px 780px #FFF , 466px 594px #FFF , 1574px 343px #FFF , 1894px 1916px #FFF , 1362px 403px #FFF , 8px 89px #FFF , 12px 1635px #FFF , 1228px 739px #FFF , 1734px 1058px #FFF , 97px 1617px #FFF , 821px 1675px #FFF , 940px 1127px #FFF , 282px 746px #FFF , 1898px 990px #FFF , 1160px 1661px #FFF , 1554px 1750px #FFF , 138px 1003px #FFF , 134px 1739px #FFF , 579px 347px #FFF , 972px 867px #FFF , 1816px 1794px #FFF , 1987px 817px #FFF , 1386px 1480px #FFF , 508px 452px #FFF , 69px 507px #FFF , 585px 66px #FFF , 1168px 1529px #FFF , 418px 1414px #FFF , 58px 113px #FFF , 393px 1154px #FFF , 22px 1000px #FFF , 1670px 1649px #FFF , 214px 1247px #FFF , 561px 1321px #FFF , 831px 1054px #FFF , 796px 1302px #FFF , 1293px 1805px #FFF , 410px 1799px #FFF , 1714px 1623px #FFF , 1658px 1042px #FFF , 1674px 591px #FFF , 1054px 1682px #FFF , 1524px 1412px #FFF , 1486px 253px #FFF , 1206px 691px #FFF , 536px 629px #FFF , 1883px 681px #FFF , 1288px 1571px #FFF , 865px 148px #FFF , 93px 1458px #FFF , 683px 1923px #FFF , 1446px 657px #FFF , 437px 216px #FFF , 1340px 783px #FFF , 125px 1560px #FFF , 833px 150px #FFF , 687px 829px #FFF , 1681px 464px #FFF , 1695px 493px #FFF , 578px 1124px #FFF , 368px 268px #FFF , 289px 757px #FFF , 128px 815px #FFF , 1093px 1846px #FFF , 904px 87px #FFF , 555px 1664px #FFF , 1667px 1961px #FFF , 1946px 1142px #FFF , 1486px 1005px #FFF , 465px 475px #FFF , 457px 615px #FFF , 1333px 1797px #FFF , 1328px 1007px #FFF , 952px 1902px #FFF , 43px 1902px #FFF , 1933px 1204px #FFF , 1958px 1968px #FFF , 1225px 797px #FFF , 1776px 986px #FFF , 92px 876px #FFF , 1593px 406px #FFF , 884px 703px #FFF , 1099px 1475px #FFF , 1305px 227px #FFF , 104px 1666px #FFF , 1377px 1484px #FFF , 1996px 1497px #FFF , 1284px 1225px #FFF , 254px 263px #FFF , 1471px 730px #FFF , 472px 372px #FFF , 600px 1318px #FFF , 1642px 1143px #FFF , 870px 1326px #FFF , 1188px 1748px #FFF , 1263px 1620px #FFF , 986px 1171px #FFF , 1715px 781px #FFF , 1052px 1330px #FFF , 491px 785px #FFF , 77px 1622px #FFF , 1452px 1003px #FFF , 726px 1579px #FFF , 1792px 635px #FFF , 115px 1796px #FFF , 1592px 1241px #FFF , 943px 1271px #FFF , 21px 814px #FFF , 1341px 771px #FFF , 1229px 451px #FFF , 476px 1416px #FFF , 773px 962px #FFF , 305px 529px #FFF , 601px 1117px #FFF , 593px 1698px #FFF , 1795px 1448px #FFF , 1213px 502px #FFF , 449px 132px #FFF , 1847px 1921px #FFF , 587px 556px #FFF , 358px 1238px #FFF , 528px 989px #FFF , 1378px 1386px #FFF , 649px 82px #FFF , 1070px 168px #FFF , 1699px 1469px #FFF , 1922px 1535px #FFF , 51px 517px #FFF , 673px 912px #FFF , 1482px 41px #FFF , 612px 1994px #FFF , 724px 1673px #FFF , 1089px 780px #FFF , 26px 956px #FFF , 505px 449px #FFF , 976px 977px #FFF , 1792px 1034px #FFF , 32px 505px #FFF , 942px 1183px #FFF , 1778px 1460px #FFF , 1268px 1754px #FFF , 174px 384px #FFF , 337px 859px #FFF , 1360px 284px #FFF , 766px 1250px #FFF , 1215px 135px #FFF , 1231px 1142px #FFF , 1868px 1747px #FFF , 537px 560px #FFF , 1534px 1803px #FFF , 201px 287px #FFF , 794px 37px #FFF , 1451px 1669px #FFF , 671px 68px #FFF , 1815px 524px #FFF , 1647px 382px #FFF , 1359px 1921px #FFF , 1969px 1983px #FFF , 835px 1047px #FFF , 1872px 1291px #FFF , 1255px 204px #FFF , 1412px 1452px #FFF , 536px 1102px #FFF , 1358px 1980px #FFF , 931px 601px #FFF , 1104px 8px #FFF , 1761px 532px #FFF , 1068px 709px #FFF , 1470px 1683px #FFF , 644px 1487px #FFF , 1737px 1175px #FFF , 1710px 912px #FFF , 765px 1856px #FFF , 1219px 128px #FFF , 253px 1420px #FFF , 1366px 1827px #FFF , 150px 1415px #FFF , 1203px 1777px #FFF , 85px 221px #FFF , 1636px 1370px #FFF , 1676px 1507px #FFF , 843px 605px #FFF , 1048px 1739px #FFF , 1862px 1587px #FFF , 1550px 1168px #FFF , 704px 1748px #FFF , 1121px 782px #FFF , 124px 1816px #FFF , 1936px 1400px #FFF , 365px 1270px #FFF , 294px 1783px #FFF , 1334px 1740px #FFF , 362px 332px #FFF , 850px 48px #FFF , 1420px 220px #FFF , 1041px 1578px #FFF , 587px 1423px #FFF , 204px 301px #FFF , 142px 1089px #FFF , 722px 1814px #FFF , 1482px 684px #FFF , 190px 1427px #FFF , 452px 501px #FFF , 1542px 1655px #FFF , 1425px 397px #FFF , 1991px 1484px #FFF , 144px 498px #FFF , 1960px 917px #FFF , 444px 1364px #FFF , 579px 1450px #FFF , 262px 908px #FFF , 784px 489px #FFF , 52px 530px #FFF , 113px 1088px #FFF , 1427px 1071px #FFF , 315px 859px #FFF , 123px 485px #FFF , 85px 657px #FFF , 560px 1144px #FFF , 674px 1359px #FFF , 308px 1449px #FFF , 1498px 871px #FFF , 751px 564px #FFF , 1012px 1735px #FFF , 879px 1937px #FFF , 1854px 236px #FFF , 1001px 1613px #FFF , 1811px 1836px #FFF , 113px 1613px #FFF , 1025px 174px #FFF , 346px 1374px #FFF , 1070px 1212px #FFF , 1820px 79px #FFF , 442px 952px #FFF , 129px 1005px #FFF , 627px 1560px #FFF , 649px 869px #FFF , 1767px 976px #FFF , 1480px 1504px #FFF , 1448px 1471px #FFF , 869px 373px #FFF , 1268px 1110px #FFF , 219px 681px #FFF , 901px 287px #FFF , 426px 1232px #FFF , 684px 742px #FFF , 1380px 1658px #FFF , 862px 429px #FFF , 814px 834px #FFF , 1028px 535px #FFF , 186px 657px #FFF , 32px 778px #FFF , 652px 1685px #FFF , 1113px 1210px #FFF , 39px 997px #FFF , 1643px 1404px #FFF , 1856px 835px #FFF , 720px 103px #FFF , 1176px 388px #FFF , 97px 1003px #FFF , 280px 1917px #FFF , 1193px 1948px #FFF , 145px 129px #FFF , 1231px 791px #FFF , 1502px 1153px #FFF , 320px 28px #FFF , 1784px 741px #FFF , 329px 434px #FFF , 1576px 1085px #FFF , 596px 1437px #FFF , 1819px 314px #FFF , 820px 1985px #FFF , 1005px 1343px #FFF , 701px 978px #FFF , 979px 1276px #FFF , 1489px 594px #FFF , 948px 113px #FFF , 219px 168px #FFF , 1391px 1323px #FFF , 1522px 547px #FFF , 856px 216px #FFF , 1209px 426px #FFF , 845px 1270px #FFF , 1463px 181px #FFF , 1088px 82px #FFF , 673px 681px #FFF , 631px 1026px #FFF , 1899px 1586px #FFF , 958px 166px #FFF , 1636px 739px #FFF , 682px 701px #FFF , 208px 384px #FFF , 460px 1102px #FFF , 2px 979px #FFF , 981px 479px #FFF , 1525px 730px #FFF , 1124px 1550px #FFF , 1994px 232px #FFF , 1542px 421px #FFF , 419px 1028px #FFF , 1220px 310px #FFF , 146px 113px #FFF , 1654px 714px #FFF , 208px 1432px #FFF , 845px 1784px #FFF , 1606px 1606px #FFF , 260px 835px #FFF , 1512px 242px #FFF , 1323px 1497px #FFF , 776px 1674px #FFF , 103px 181px #FFF , 916px 10px #FFF , 905px 393px #FFF , 1998px 433px #FFF , 381px 1263px #FFF , 215px 1102px #FFF , 839px 1516px #FFF , 1642px 1463px #FFF , 1018px 13px #FFF , 521px 560px #FFF , 1946px 1102px #FFF , 337px 512px #FFF , 358px 489px #FFF , 897px 1516px #FFF , 128px 1622px #FFF , 1003px 981px #FFF , 1294px 1296px #FFF , 734px 1004px #FFF , 748px 470px #FFF , 1373px 492px #FFF , 1095px 134px #FFF , 1019px 1166px #FFF , 898px 681px #FFF , 589px 104px #FFF , 161px 806px #FFF , 1768px 1844px #FFF , 626px 1274px #FFF , 716px 1082px #FFF , 1668px 1539px #FFF , 333px 3px #FFF , 1456px 97px #FFF , 1001px 597px #FFF , 1596px 1888px #FFF , 931px 1049px #FFF , 294px 1788px #FFF , 1745px 408px #FFF , 456px 1846px #FFF , 1435px 224px #FFF , 36px 1796px #FFF , 10px 1711px #FFF , 951px 1377px #FFF , 745px 494px #FFF , 1456px 4px #FFF , 104px 479px #FFF , 3px 252px #FFF , 1602px 503px #FFF , 511px 1248px #FFF , 1478px 559px #FFF , 1322px 68px #FFF , 1937px 263px #FFF , 1447px 1674px #FFF , 90px 444px #FFF , 1029px 66px #FFF , 357px 1161px #FFF , 623px 1859px #FFF , 212px 1155px #FFF , 1419px 1125px #FFF , 329px 580px #FFF , 665px 598px #FFF , 340px 98px #FFF , 1572px 805px #FFF , 1147px 138px #FFF , 263px 49px #FFF , 1360px 79px #FFF , 1063px 1475px #FFF , 860px 380px #FFF , 400px 1336px #FFF , 1685px 350px #FFF , 1971px 1401px #FFF , 1545px 348px #FFF , 645px 592px #FFF , 409px 1637px #FFF , 1627px 1043px #FFF , 1640px 471px #FFF , 1972px 1628px #FFF , 773px 1328px #FFF , 816px 1833px #FFF , 968px 663px #FFF , 249px 1439px #FFF , 390px 164px #FFF , 92px 188px #FFF , 187px 1144px #FFF , 960px 298px #FFF , 193px 346px #FFF , 400px 477px #FFF , 713px 530px #FFF , 1195px 467px #FFF , 1351px 15px #FFF , 606px 918px #FFF , 1953px 1985px #FFF , 939px 425px #FFF , 1552px 1216px #FFF , 194px 1px #FFF , 1252px 798px #FFF , 1480px 1698px #FFF , 1315px 1960px #FFF , 1972px 233px #FFF , 295px 305px #FFF , 379px 846px #FFF , 1965px 1363px #FFF , 1903px 901px #FFF , 398px 1508px #FFF , 988px 754px #FFF , 760px 664px #FFF , 1018px 809px #FFF , 1779px 820px #FFF , 759px 16px #FFF , 484px 1046px #FFF , 1200px 1499px #FFF , 1569px 149px #FFF , 729px 105px #FFF , 1436px 51px #FFF , 768px 883px #FFF , 413px 1800px #FFF , 1699px 856px #FFF , 1319px 49px #FFF , 1744px 1942px #FFF , 688px 1644px #FFF , 1341px 1346px #FFF , 1617px 1749px #FFF , 1336px 1156px #FFF , 1069px 727px #FFF , 1361px 149px #FFF , 153px 1773px #FFF , 428px 761px #FFF , 988px 978px #FFF , 791px 985px #FFF , 1594px 618px #FFF , 588px 1016px #FFF , 499px 1823px #FFF , 728px 829px #FFF , 866px 1872px #FFF , 1819px 257px #FFF , 1623px 1074px #FFF , 797px 11px #FFF , 97px 343px #FFF , 1443px 1685px #FFF , 757px 1887px #FFF , 1073px 131px #FFF , 169px 1975px #FFF , 929px 122px #FFF , 1998px 729px #FFF , 1408px 1925px #FFF , 293px 537px #FFF , 892px 1176px #FFF , 1740px 1432px #FFF , 38px 83px #FFF , 592px 1861px #FFF , 1233px 948px #FFF , 1133px 1353px #FFF , 352px 1772px #FFF , 1421px 1837px #FFF , 472px 361px #FFF , 1019px 1060px #FFF , 1164px 857px #FFF , 1742px 1376px #FFF , 1380px 58px #FFF , 338px 42px #FFF , 437px 540px #FFF , 857px 1049px #FFF , 386px 1626px #FFF , 656px 1306px #FFF , 740px 501px #FFF , 790px 1001px #FFF , 1705px 1857px #FFF , 1840px 1772px #FFF , 500px 1519px #FFF , 1877px 1130px #FFF , 1453px 323px #FFF , 1322px 451px #FFF , 1209px 1795px #FFF , 202px 409px #FFF , 429px 242px #FFF , 883px 1282px #FFF , 1320px 725px #FFF , 1814px 977px #FFF , 509px 77px #FFF , 1552px 857px #FFF , 120px 569px #FFF , 501px 530px #FFF , 1262px 1693px #FFF , 1497px 347px #FFF , 1372px 502px #FFF , 1959px 155px #FFF , 529px 1819px #FFF , 453px 1946px #FFF , 652px 1593px #FFF , 441px 1413px #FFF , 1236px 554px #FFF , 1956px 1566px #FFF , 1685px 6px #FFF , 940px 1508px #FFF , 583px 816px #FFF , 366px 26px #FFF , 264px 1999px #FFF , 1658px 214px #FFF , 274px 1690px #FFF , 1903px 116px #FFF , 1723px 561px #FFF , 1548px 1568px #FFF , 54px 1603px #FFF , 1671px 389px #FFF , 488px 1997px #FFF , 1766px 1699px #FFF , 851px 772px #FFF , 1822px 363px #FFF , 1163px 1766px #FFF , 1215px 107px #FFF , 1838px 166px #FFF , 789px 1195px #FFF , 80px 646px #FFF , 1362px 698px #FFF , 1497px 791px #FFF , 1862px 1341px #FFF , 1834px 102px #FFF , 1974px 1292px #FFF , 1106px 1809px #FFF , 729px 527px #FFF , 1314px 1255px #FFF , 889px 1358px #FFF , 1958px 1075px #FFF , 1797px 889px #FFF , 1979px 1520px #FFF , 1987px 90px #FFF , 1039px 1117px #FFF , 1838px 1895px #FFF , 469px 745px #FFF , 1396px 941px #FFF , 1840px 1238px #FFF , 241px 1061px #FFF , 740px 1640px #FFF , 718px 1779px #FFF , 744px 540px #FFF , 1198px 378px #FFF , 584px 1997px #FFF , 1158px 1233px #FFF , 1096px 1285px #FFF , 1347px 1139px #FFF , 1395px 644px #FFF , 1869px 1571px #FFF , 1559px 617px #FFF , 1152px 1055px #FFF , 1236px 1897px #FFF , 1823px 148px #FFF , 1352px 1226px #FFF , 840px 630px #FFF , 818px 1758px #FFF , 1974px 206px #FFF , 140px 95px #FFF , 1190px 705px #FFF , 384px 444px #FFF , 1653px 1008px #FFF , 524px 261px #FFF , 1333px 939px #FFF , 252px 1647px #FFF , 25px 1142px #FFF , 72px 1422px #FFF , 1572px 169px #FFF , 219px 394px #FFF , 1125px 1527px #FFF , 1086px 224px #FFF , 1468px 1711px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 857px 1176px #FFF , 547px 1960px #FFF , 1107px 508px #FFF , 1403px 1994px #FFF , 1263px 1611px #FFF , 454px 785px #FFF , 629px 665px #FFF , 54px 1501px #FFF , 316px 189px #FFF , 1330px 882px #FFF , 166px 1839px #FFF , 789px 1113px #FFF , 1126px 1785px #FFF , 404px 1047px #FFF , 1635px 532px #FFF , 206px 1207px #FFF , 477px 1720px #FFF , 1401px 422px #FFF , 698px 687px #FFF , 1702px 1137px #FFF , 679px 1161px #FFF , 1037px 614px #FFF , 1544px 546px #FFF , 1830px 1550px #FFF , 1306px 1471px #FFF , 617px 448px #FFF , 1562px 214px #FFF , 1951px 798px #FFF , 611px 275px #FFF , 1608px 386px #FFF , 163px 750px #FFF , 1784px 1001px #FFF , 1576px 633px #FFF , 251px 832px #FFF , 1585px 1964px #FFF , 1835px 834px #FFF , 1825px 326px #FFF , 1114px 965px #FFF , 1440px 1472px #FFF , 463px 804px #FFF , 155px 1741px #FFF , 936px 452px #FFF , 156px 835px #FFF , 1503px 1118px #FFF , 917px 1362px #FFF , 1775px 1338px #FFF , 630px 321px #FFF , 946px 1977px #FFF , 1213px 1242px #FFF , 1832px 1859px #FFF , 786px 1129px #FFF , 1243px 798px #FFF , 1410px 1576px #FFF , 543px 59px #FFF , 949px 996px #FFF , 1065px 1014px #FFF , 1236px 290px #FFF , 1517px 1493px #FFF , 1034px 1015px #FFF , 1965px 561px #FFF , 1835px 132px #FFF , 639px 1250px #FFF , 348px 1147px #FFF , 1690px 1088px #FFF , 1130px 1890px #FFF , 131px 1570px #FFF , 1353px 1188px #FFF , 426px 1713px #FFF , 962px 533px #FFF , 154px 981px #FFF , 877px 1139px #FFF , 1990px 384px #FFF , 412px 1655px #FFF , 7px 515px #FFF , 577px 329px #FFF , 519px 1578px #FFF , 1855px 1037px #FFF , 501px 748px #FFF , 1596px 1811px #FFF , 1575px 751px #FFF , 505px 118px #FFF , 200px 899px #FFF , 1207px 1024px #FFF , 85px 1770px #FFF , 946px 1796px #FFF , 1234px 1041px #FFF , 175px 1667px #FFF , 1492px 1730px #FFF , 1719px 1098px #FFF , 140px 468px #FFF , 720px 500px #FFF , 1904px 1750px #FFF , 1383px 1965px #FFF , 206px 35px #FFF , 1445px 1952px #FFF , 1455px 1950px #FFF , 1216px 771px #FFF , 453px 642px #FFF , 805px 1588px #FFF , 947px 1293px #FFF , 545px 984px #FFF , 1720px 105px #FFF , 38px 1888px #FFF , 1254px 1108px #FFF , 642px 39px #FFF , 203px 1289px #FFF , 1116px 919px #FFF , 656px 202px #FFF , 77px 654px #FFF , 1982px 1848px #FFF , 448px 1864px #FFF , 1336px 1431px #FFF , 734px 784px #FFF , 1318px 1606px #FFF , 162px 453px #FFF , 371px 1215px #FFF , 1335px 95px #FFF , 397px 1575px #FFF , 549px 208px #FFF , 1035px 803px #FFF , 1686px 131px #FFF , 1096px 1259px #FFF , 324px 1935px #FFF , 394px 873px #FFF , 320px 355px #FFF , 395px 780px #FFF , 1978px 258px #FFF , 1875px 677px #FFF , 1605px 780px #FFF , 466px 594px #FFF , 1574px 343px #FFF , 1894px 1916px #FFF , 1362px 403px #FFF , 8px 89px #FFF , 12px 1635px #FFF , 1228px 739px #FFF , 1734px 1058px #FFF , 97px 1617px #FFF , 821px 1675px #FFF , 940px 1127px #FFF , 282px 746px #FFF , 1898px 990px #FFF , 1160px 1661px #FFF , 1554px 1750px #FFF , 138px 1003px #FFF , 134px 1739px #FFF , 579px 347px #FFF , 972px 867px #FFF , 1816px 1794px #FFF , 1987px 817px #FFF , 1386px 1480px #FFF , 508px 452px #FFF , 69px 507px #FFF , 585px 66px #FFF , 1168px 1529px #FFF , 418px 1414px #FFF , 58px 113px #FFF , 393px 1154px #FFF , 22px 1000px #FFF , 1670px 1649px #FFF , 214px 1247px #FFF , 561px 1321px #FFF , 831px 1054px #FFF , 796px 1302px #FFF , 1293px 1805px #FFF , 410px 1799px #FFF , 1714px 1623px #FFF , 1658px 1042px #FFF , 1674px 591px #FFF , 1054px 1682px #FFF , 1524px 1412px #FFF , 1486px 253px #FFF , 1206px 691px #FFF , 536px 629px #FFF , 1883px 681px #FFF , 1288px 1571px #FFF , 865px 148px #FFF , 93px 1458px #FFF , 683px 1923px #FFF , 1446px 657px #FFF , 437px 216px #FFF , 1340px 783px #FFF , 125px 1560px #FFF , 833px 150px #FFF , 687px 829px #FFF , 1681px 464px #FFF , 1695px 493px #FFF , 578px 1124px #FFF , 368px 268px #FFF , 289px 757px #FFF , 128px 815px #FFF , 1093px 1846px #FFF , 904px 87px #FFF , 555px 1664px #FFF , 1667px 1961px #FFF , 1946px 1142px #FFF , 1486px 1005px #FFF , 465px 475px #FFF , 457px 615px #FFF , 1333px 1797px #FFF , 1328px 1007px #FFF , 952px 1902px #FFF , 43px 1902px #FFF , 1933px 1204px #FFF , 1958px 1968px #FFF , 1225px 797px #FFF , 1776px 986px #FFF , 92px 876px #FFF , 1593px 406px #FFF , 884px 703px #FFF , 1099px 1475px #FFF , 1305px 227px #FFF , 104px 1666px #FFF , 1377px 1484px #FFF , 1996px 1497px #FFF , 1284px 1225px #FFF , 254px 263px #FFF , 1471px 730px #FFF , 472px 372px #FFF , 600px 1318px #FFF , 1642px 1143px #FFF , 870px 1326px #FFF , 1188px 1748px #FFF , 1263px 1620px #FFF , 986px 1171px #FFF , 1715px 781px #FFF , 1052px 1330px #FFF , 491px 785px #FFF , 77px 1622px #FFF , 1452px 1003px #FFF , 726px 1579px #FFF , 1792px 635px #FFF , 115px 1796px #FFF , 1592px 1241px #FFF , 943px 1271px #FFF , 21px 814px #FFF , 1341px 771px #FFF , 1229px 451px #FFF , 476px 1416px #FFF , 773px 962px #FFF , 305px 529px #FFF , 601px 1117px #FFF , 593px 1698px #FFF , 1795px 1448px #FFF , 1213px 502px #FFF , 449px 132px #FFF , 1847px 1921px #FFF , 587px 556px #FFF , 358px 1238px #FFF , 528px 989px #FFF , 1378px 1386px #FFF , 649px 82px #FFF , 1070px 168px #FFF , 1699px 1469px #FFF , 1922px 1535px #FFF , 51px 517px #FFF , 673px 912px #FFF , 1482px 41px #FFF , 612px 1994px #FFF , 724px 1673px #FFF , 1089px 780px #FFF , 26px 956px #FFF , 505px 449px #FFF , 976px 977px #FFF , 1792px 1034px #FFF , 32px 505px #FFF , 942px 1183px #FFF , 1778px 1460px #FFF , 1268px 1754px #FFF , 174px 384px #FFF , 337px 859px #FFF , 1360px 284px #FFF , 766px 1250px #FFF , 1215px 135px #FFF , 1231px 1142px #FFF , 1868px 1747px #FFF , 537px 560px #FFF , 1534px 1803px #FFF , 201px 287px #FFF , 794px 37px #FFF , 1451px 1669px #FFF , 671px 68px #FFF , 1815px 524px #FFF , 1647px 382px #FFF , 1359px 1921px #FFF , 1969px 1983px #FFF , 835px 1047px #FFF , 1872px 1291px #FFF , 1255px 204px #FFF , 1412px 1452px #FFF , 536px 1102px #FFF , 1358px 1980px #FFF , 931px 601px #FFF , 1104px 8px #FFF , 1761px 532px #FFF , 1068px 709px #FFF , 1470px 1683px #FFF , 644px 1487px #FFF , 1737px 1175px #FFF , 1710px 912px #FFF , 765px 1856px #FFF , 1219px 128px #FFF , 253px 1420px #FFF , 1366px 1827px #FFF , 150px 1415px #FFF , 1203px 1777px #FFF , 85px 221px #FFF , 1636px 1370px #FFF , 1676px 1507px #FFF , 843px 605px #FFF , 1048px 1739px #FFF , 1862px 1587px #FFF , 1550px 1168px #FFF , 704px 1748px #FFF , 1121px 782px #FFF , 124px 1816px #FFF , 1936px 1400px #FFF , 365px 1270px #FFF , 294px 1783px #FFF , 1334px 1740px #FFF , 362px 332px #FFF , 850px 48px #FFF , 1420px 220px #FFF , 1041px 1578px #FFF , 587px 1423px #FFF , 204px 301px #FFF , 142px 1089px #FFF , 722px 1814px #FFF , 1482px 684px #FFF , 190px 1427px #FFF , 452px 501px #FFF , 1542px 1655px #FFF , 1425px 397px #FFF , 1991px 1484px #FFF , 144px 498px #FFF , 1960px 917px #FFF , 444px 1364px #FFF , 579px 1450px #FFF , 262px 908px #FFF , 784px 489px #FFF , 52px 530px #FFF , 113px 1088px #FFF , 1427px 1071px #FFF , 315px 859px #FFF , 123px 485px #FFF , 85px 657px #FFF , 560px 1144px #FFF , 674px 1359px #FFF , 308px 1449px #FFF , 1498px 871px #FFF , 751px 564px #FFF , 1012px 1735px #FFF , 879px 1937px #FFF , 1854px 236px #FFF , 1001px 1613px #FFF , 1811px 1836px #FFF , 113px 1613px #FFF , 1025px 174px #FFF , 346px 1374px #FFF , 1070px 1212px #FFF , 1820px 79px #FFF , 442px 952px #FFF , 129px 1005px #FFF , 627px 1560px #FFF , 649px 869px #FFF , 1767px 976px #FFF , 1480px 1504px #FFF , 1448px 1471px #FFF , 869px 373px #FFF , 1268px 1110px #FFF , 219px 681px #FFF , 901px 287px #FFF , 426px 1232px #FFF , 684px 742px #FFF , 1380px 1658px #FFF , 862px 429px #FFF , 814px 834px #FFF , 1028px 535px #FFF , 186px 657px #FFF , 32px 778px #FFF , 652px 1685px #FFF , 1113px 1210px #FFF , 39px 997px #FFF , 1643px 1404px #FFF , 1856px 835px #FFF , 720px 103px #FFF , 1176px 388px #FFF , 97px 1003px #FFF , 280px 1917px #FFF , 1193px 1948px #FFF , 145px 129px #FFF , 1231px 791px #FFF , 1502px 1153px #FFF , 320px 28px #FFF , 1784px 741px #FFF , 329px 434px #FFF , 1576px 1085px #FFF , 596px 1437px #FFF , 1819px 314px #FFF , 820px 1985px #FFF , 1005px 1343px #FFF , 701px 978px #FFF , 979px 1276px #FFF , 1489px 594px #FFF , 948px 113px #FFF , 219px 168px #FFF , 1391px 1323px #FFF , 1522px 547px #FFF , 856px 216px #FFF , 1209px 426px #FFF , 845px 1270px #FFF , 1463px 181px #FFF , 1088px 82px #FFF , 673px 681px #FFF , 631px 1026px #FFF , 1899px 1586px #FFF , 958px 166px #FFF , 1636px 739px #FFF , 682px 701px #FFF , 208px 384px #FFF , 460px 1102px #FFF , 2px 979px #FFF , 981px 479px #FFF , 1525px 730px #FFF , 1124px 1550px #FFF , 1994px 232px #FFF , 1542px 421px #FFF , 419px 1028px #FFF , 1220px 310px #FFF , 146px 113px #FFF , 1654px 714px #FFF , 208px 1432px #FFF , 845px 1784px #FFF , 1606px 1606px #FFF , 260px 835px #FFF , 1512px 242px #FFF , 1323px 1497px #FFF , 776px 1674px #FFF , 103px 181px #FFF , 916px 10px #FFF , 905px 393px #FFF , 1998px 433px #FFF , 381px 1263px #FFF , 215px 1102px #FFF , 839px 1516px #FFF , 1642px 1463px #FFF , 1018px 13px #FFF , 521px 560px #FFF , 1946px 1102px #FFF , 337px 512px #FFF , 358px 489px #FFF , 897px 1516px #FFF , 128px 1622px #FFF , 1003px 981px #FFF , 1294px 1296px #FFF , 734px 1004px #FFF , 748px 470px #FFF , 1373px 492px #FFF , 1095px 134px #FFF , 1019px 1166px #FFF , 898px 681px #FFF , 589px 104px #FFF , 161px 806px #FFF , 1768px 1844px #FFF , 626px 1274px #FFF , 716px 1082px #FFF , 1668px 1539px #FFF , 333px 3px #FFF , 1456px 97px #FFF , 1001px 597px #FFF , 1596px 1888px #FFF , 931px 1049px #FFF , 294px 1788px #FFF , 1745px 408px #FFF , 456px 1846px #FFF , 1435px 224px #FFF , 36px 1796px #FFF , 10px 1711px #FFF , 951px 1377px #FFF , 745px 494px #FFF , 1456px 4px #FFF , 104px 479px #FFF , 3px 252px #FFF , 1602px 503px #FFF , 511px 1248px #FFF , 1478px 559px #FFF , 1322px 68px #FFF , 1937px 263px #FFF , 1447px 1674px #FFF , 90px 444px #FFF , 1029px 66px #FFF , 357px 1161px #FFF , 623px 1859px #FFF , 212px 1155px #FFF , 1419px 1125px #FFF , 329px 580px #FFF , 665px 598px #FFF , 340px 98px #FFF , 1572px 805px #FFF , 1147px 138px #FFF , 263px 49px #FFF , 1360px 79px #FFF , 1063px 1475px #FFF , 860px 380px #FFF , 400px 1336px #FFF , 1685px 350px #FFF , 1971px 1401px #FFF , 1545px 348px #FFF , 645px 592px #FFF , 409px 1637px #FFF , 1627px 1043px #FFF , 1640px 471px #FFF , 1972px 1628px #FFF , 773px 1328px #FFF , 816px 1833px #FFF , 968px 663px #FFF , 249px 1439px #FFF , 390px 164px #FFF , 92px 188px #FFF , 187px 1144px #FFF , 960px 298px #FFF , 193px 346px #FFF , 400px 477px #FFF , 713px 530px #FFF , 1195px 467px #FFF , 1351px 15px #FFF , 606px 918px #FFF , 1953px 1985px #FFF , 939px 425px #FFF , 1552px 1216px #FFF , 194px 1px #FFF , 1252px 798px #FFF , 1480px 1698px #FFF , 1315px 1960px #FFF , 1972px 233px #FFF , 295px 305px #FFF , 379px 846px #FFF , 1965px 1363px #FFF , 1903px 901px #FFF , 398px 1508px #FFF , 988px 754px #FFF , 760px 664px #FFF , 1018px 809px #FFF , 1779px 820px #FFF , 759px 16px #FFF , 484px 1046px #FFF , 1200px 1499px #FFF , 1569px 149px #FFF , 729px 105px #FFF , 1436px 51px #FFF , 768px 883px #FFF , 413px 1800px #FFF , 1699px 856px #FFF , 1319px 49px #FFF , 1744px 1942px #FFF , 688px 1644px #FFF , 1341px 1346px #FFF , 1617px 1749px #FFF , 1336px 1156px #FFF , 1069px 727px #FFF , 1361px 149px #FFF , 153px 1773px #FFF , 428px 761px #FFF , 988px 978px #FFF , 791px 985px #FFF , 1594px 618px #FFF , 588px 1016px #FFF , 499px 1823px #FFF , 728px 829px #FFF , 866px 1872px #FFF , 1819px 257px #FFF , 1623px 1074px #FFF , 797px 11px #FFF , 97px 343px #FFF , 1443px 1685px #FFF , 757px 1887px #FFF , 1073px 131px #FFF , 169px 1975px #FFF , 929px 122px #FFF , 1998px 729px #FFF , 1408px 1925px #FFF , 293px 537px #FFF , 892px 1176px #FFF , 1740px 1432px #FFF , 38px 83px #FFF , 592px 1861px #FFF , 1233px 948px #FFF , 1133px 1353px #FFF , 352px 1772px #FFF , 1421px 1837px #FFF , 472px 361px #FFF , 1019px 1060px #FFF , 1164px 857px #FFF , 1742px 1376px #FFF , 1380px 58px #FFF , 338px 42px #FFF , 437px 540px #FFF , 857px 1049px #FFF , 386px 1626px #FFF , 656px 1306px #FFF , 740px 501px #FFF , 790px 1001px #FFF , 1705px 1857px #FFF , 1840px 1772px #FFF , 500px 1519px #FFF , 1877px 1130px #FFF , 1453px 323px #FFF , 1322px 451px #FFF , 1209px 1795px #FFF , 202px 409px #FFF , 429px 242px #FFF , 883px 1282px #FFF , 1320px 725px #FFF , 1814px 977px #FFF , 509px 77px #FFF , 1552px 857px #FFF , 120px 569px #FFF , 501px 530px #FFF , 1262px 1693px #FFF , 1497px 347px #FFF , 1372px 502px #FFF , 1959px 155px #FFF , 529px 1819px #FFF , 453px 1946px #FFF , 652px 1593px #FFF , 441px 1413px #FFF , 1236px 554px #FFF , 1956px 1566px #FFF , 1685px 6px #FFF , 940px 1508px #FFF , 583px 816px #FFF , 366px 26px #FFF , 264px 1999px #FFF , 1658px 214px #FFF , 274px 1690px #FFF , 1903px 116px #FFF , 1723px 561px #FFF , 1548px 1568px #FFF , 54px 1603px #FFF , 1671px 389px #FFF , 488px 1997px #FFF , 1766px 1699px #FFF , 851px 772px #FFF , 1822px 363px #FFF , 1163px 1766px #FFF , 1215px 107px #FFF , 1838px 166px #FFF , 789px 1195px #FFF , 80px 646px #FFF , 1362px 698px #FFF , 1497px 791px #FFF , 1862px 1341px #FFF , 1834px 102px #FFF , 1974px 1292px #FFF , 1106px 1809px #FFF , 729px 527px #FFF , 1314px 1255px #FFF , 889px 1358px #FFF , 1958px 1075px #FFF , 1797px 889px #FFF , 1979px 1520px #FFF , 1987px 90px #FFF , 1039px 1117px #FFF , 1838px 1895px #FFF , 469px 745px #FFF , 1396px 941px #FFF , 1840px 1238px #FFF , 241px 1061px #FFF , 740px 1640px #FFF , 718px 1779px #FFF , 744px 540px #FFF , 1198px 378px #FFF , 584px 1997px #FFF , 1158px 1233px #FFF , 1096px 1285px #FFF , 1347px 1139px #FFF , 1395px 644px #FFF , 1869px 1571px #FFF , 1559px 617px #FFF , 1152px 1055px #FFF , 1236px 1897px #FFF , 1823px 148px #FFF , 1352px 1226px #FFF , 840px 630px #FFF , 818px 1758px #FFF , 1974px 206px #FFF , 140px 95px #FFF , 1190px 705px #FFF , 384px 444px #FFF , 1653px 1008px #FFF , 524px 261px #FFF , 1333px 939px #FFF , 252px 1647px #FFF , 25px 1142px #FFF , 72px 1422px #FFF , 1572px 169px #FFF , 219px 394px #FFF , 1125px 1527px #FFF , 1086px 224px #FFF , 1468px 1711px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1722px 556px #FFF , 759px 948px #FFF , 1847px 72px #FFF , 341px 718px #FFF , 948px 1516px #FFF , 311px 1485px #FFF , 1902px 1973px #FFF , 216px 682px #FFF , 1365px 1368px #FFF , 1352px 1012px #FFF , 1195px 756px #FFF , 976px 1199px #FFF , 703px 1961px #FFF , 972px 1782px #FFF , 722px 470px #FFF , 650px 870px #FFF , 921px 1972px #FFF , 1038px 943px #FFF , 1377px 689px #FFF , 1031px 989px #FFF , 1239px 424px #FFF , 1292px 12px #FFF , 1322px 1803px #FFF , 927px 1928px #FFF , 993px 1508px #FFF , 269px 167px #FFF , 984px 861px #FFF , 480px 157px #FFF , 992px 1149px #FFF , 1770px 1567px #FFF , 739px 554px #FFF , 1661px 1322px #FFF , 1079px 957px #FFF , 1460px 135px #FFF , 686px 804px #FFF , 1678px 1608px #FFF , 18px 177px #FFF , 1115px 304px #FFF , 320px 935px #FFF , 937px 1606px #FFF , 51px 1025px #FFF , 523px 1488px #FFF , 1652px 1132px #FFF , 1158px 1496px #FFF , 1355px 1498px #FFF , 1106px 727px #FFF , 606px 1129px #FFF , 1542px 1994px #FFF , 1487px 403px #FFF , 1715px 1719px #FFF , 1525px 1872px #FFF , 577px 939px #FFF , 1531px 1748px #FFF , 1107px 1635px #FFF , 804px 406px #FFF , 1520px 821px #FFF , 1840px 906px #FFF , 1200px 277px #FFF , 1161px 1305px #FFF , 1447px 774px #FFF , 537px 1153px #FFF , 1496px 1828px #FFF , 1175px 55px #FFF , 1052px 1427px #FFF , 1732px 468px #FFF , 537px 304px #FFF , 1327px 1964px #FFF , 263px 643px #FFF , 487px 1881px #FFF , 1252px 1900px #FFF , 1507px 1096px #FFF , 297px 825px #FFF , 551px 294px #FFF , 317px 1140px #FFF , 777px 1093px #FFF , 1183px 1757px #FFF , 1012px 1991px #FFF , 1066px 1590px #FFF , 723px 128px #FFF , 593px 1637px #FFF , 1963px 1295px #FFF , 540px 1399px #FFF , 1428px 1571px #FFF , 899px 1397px #FFF , 1331px 621px #FFF , 1744px 17px #FFF , 1395px 1925px #FFF , 1755px 1162px #FFF , 1530px 828px #FFF , 1115px 1437px #FFF , 352px 895px #FFF , 113px 760px #FFF , 1465px 1943px #FFF , 801px 1667px #FFF , 723px 1072px #FFF , 1398px 618px #FFF , 975px 1413px #FFF , 605px 182px #FFF , 542px 1336px #FFF , 1441px 46px #FFF , 628px 1014px #FFF , 417px 1979px #FFF , 953px 1696px #FFF , 382px 1786px #FFF , 1994px 692px #FFF , 520px 587px #FFF , 1729px 1441px #FFF , 1337px 692px #FFF , 19px 161px #FFF , 802px 91px #FFF , 1355px 1110px #FFF , 983px 1659px #FFF , 1670px 1605px #FFF , 1601px 76px #FFF , 1845px 1512px #FFF , 1841px 718px #FFF , 950px 890px #FFF , 831px 1009px #FFF , 1270px 876px #FFF , 132px 836px #FFF , 1375px 519px #FFF , 1579px 1263px #FFF , 1616px 777px #FFF , 1712px 390px #FFF , 480px 860px #FFF , 123px 127px #FFF , 1976px 1569px #FFF , 1678px 222px #FFF , 1184px 899px #FFF , 1156px 1892px #FFF , 1009px 1897px #FFF , 1557px 1204px #FFF , 474px 1996px #FFF , 1893px 215px #FFF , 521px 1855px #FFF , 212px 821px #FFF , 1944px 1270px #FFF , 1234px 357px #FFF , 1292px 1217px #FFF , 1536px 1059px #FFF , 645px 883px #FFF , 634px 1919px #FFF , 477px 537px #FFF , 1196px 1765px #FFF , 1169px 758px #FFF , 836px 246px #FFF , 1842px 1802px #FFF , 1251px 1736px #FFF , 959px 1412px #FFF , 639px 1183px #FFF , 362px 349px #FFF , 1831px 1814px #FFF , 1380px 1334px #FFF , 818px 1731px #FFF , 1675px 319px #FFF , 1755px 226px #FFF , 99px 763px #FFF , 1574px 98px #FFF , 1949px 237px #FFF , 1795px 659px #FFF , 473px 174px #FFF , 1418px 1485px #FFF , 341px 537px #FFF , 818px 834px #FFF , 1995px 1128px #FFF , 908px 434px #FFF , 400px 1826px #FFF , 883px 696px #FFF , 65px 32px #FFF , 1128px 1061px #FFF , 971px 549px #FFF , 1831px 1200px #FFF , 1118px 1902px #FFF , 713px 1480px #FFF , 611px 875px #FFF , 1464px 273px #FFF , 1269px 1940px #FFF , 660px 425px #FFF , 546px 934px #FFF , 1718px 1125px #FFF , 802px 263px #FFF , 285px 272px #FFF , 102px 43px #FFF , 982px 222px #FFF , 84px 524px #FFF , 69px 1055px #FFF , 1074px 45px #FFF , 399px 1946px #FFF , 1691px 1876px #FFF , 725px 969px #FFF , 213px 1453px #FFF , 1850px 421px #FFF , 1926px 1736px #FFF , 1288px 1813px #FFF , 418px 1730px #FFF , 1843px 122px #FFF , 219px 1841px #FFF , 1499px 1112px #FFF , 492px 903px #FFF , 275px 1036px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1722px 556px #FFF , 759px 948px #FFF , 1847px 72px #FFF , 341px 718px #FFF , 948px 1516px #FFF , 311px 1485px #FFF , 1902px 1973px #FFF , 216px 682px #FFF , 1365px 1368px #FFF , 1352px 1012px #FFF , 1195px 756px #FFF , 976px 1199px #FFF , 703px 1961px #FFF , 972px 1782px #FFF , 722px 470px #FFF , 650px 870px #FFF , 921px 1972px #FFF , 1038px 943px #FFF , 1377px 689px #FFF , 1031px 989px #FFF , 1239px 424px #FFF , 1292px 12px #FFF , 1322px 1803px #FFF , 927px 1928px #FFF , 993px 1508px #FFF , 269px 167px #FFF , 984px 861px #FFF , 480px 157px #FFF , 992px 1149px #FFF , 1770px 1567px #FFF , 739px 554px #FFF , 1661px 1322px #FFF , 1079px 957px #FFF , 1460px 135px #FFF , 686px 804px #FFF , 1678px 1608px #FFF , 18px 177px #FFF , 1115px 304px #FFF , 320px 935px #FFF , 937px 1606px #FFF , 51px 1025px #FFF , 523px 1488px #FFF , 1652px 1132px #FFF , 1158px 1496px #FFF , 1355px 1498px #FFF , 1106px 727px #FFF , 606px 1129px #FFF , 1542px 1994px #FFF , 1487px 403px #FFF , 1715px 1719px #FFF , 1525px 1872px #FFF , 577px 939px #FFF , 1531px 1748px #FFF , 1107px 1635px #FFF , 804px 406px #FFF , 1520px 821px #FFF , 1840px 906px #FFF , 1200px 277px #FFF , 1161px 1305px #FFF , 1447px 774px #FFF , 537px 1153px #FFF , 1496px 1828px #FFF , 1175px 55px #FFF , 1052px 1427px #FFF , 1732px 468px #FFF , 537px 304px #FFF , 1327px 1964px #FFF , 263px 643px #FFF , 487px 1881px #FFF , 1252px 1900px #FFF , 1507px 1096px #FFF , 297px 825px #FFF , 551px 294px #FFF , 317px 1140px #FFF , 777px 1093px #FFF , 1183px 1757px #FFF , 1012px 1991px #FFF , 1066px 1590px #FFF , 723px 128px #FFF , 593px 1637px #FFF , 1963px 1295px #FFF , 540px 1399px #FFF , 1428px 1571px #FFF , 899px 1397px #FFF , 1331px 621px #FFF , 1744px 17px #FFF , 1395px 1925px #FFF , 1755px 1162px #FFF , 1530px 828px #FFF , 1115px 1437px #FFF , 352px 895px #FFF , 113px 760px #FFF , 1465px 1943px #FFF , 801px 1667px #FFF , 723px 1072px #FFF , 1398px 618px #FFF , 975px 1413px #FFF , 605px 182px #FFF , 542px 1336px #FFF , 1441px 46px #FFF , 628px 1014px #FFF , 417px 1979px #FFF , 953px 1696px #FFF , 382px 1786px #FFF , 1994px 692px #FFF , 520px 587px #FFF , 1729px 1441px #FFF , 1337px 692px #FFF , 19px 161px #FFF , 802px 91px #FFF , 1355px 1110px #FFF , 983px 1659px #FFF , 1670px 1605px #FFF , 1601px 76px #FFF , 1845px 1512px #FFF , 1841px 718px #FFF , 950px 890px #FFF , 831px 1009px #FFF , 1270px 876px #FFF , 132px 836px #FFF , 1375px 519px #FFF , 1579px 1263px #FFF , 1616px 777px #FFF , 1712px 390px #FFF , 480px 860px #FFF , 123px 127px #FFF , 1976px 1569px #FFF , 1678px 222px #FFF , 1184px 899px #FFF , 1156px 1892px #FFF , 1009px 1897px #FFF , 1557px 1204px #FFF , 474px 1996px #FFF , 1893px 215px #FFF , 521px 1855px #FFF , 212px 821px #FFF , 1944px 1270px #FFF , 1234px 357px #FFF , 1292px 1217px #FFF , 1536px 1059px #FFF , 645px 883px #FFF , 634px 1919px #FFF , 477px 537px #FFF , 1196px 1765px #FFF , 1169px 758px #FFF , 836px 246px #FFF , 1842px 1802px #FFF , 1251px 1736px #FFF , 959px 1412px #FFF , 639px 1183px #FFF , 362px 349px #FFF , 1831px 1814px #FFF , 1380px 1334px #FFF , 818px 1731px #FFF , 1675px 319px #FFF , 1755px 226px #FFF , 99px 763px #FFF , 1574px 98px #FFF , 1949px 237px #FFF , 1795px 659px #FFF , 473px 174px #FFF , 1418px 1485px #FFF , 341px 537px #FFF , 818px 834px #FFF , 1995px 1128px #FFF , 908px 434px #FFF , 400px 1826px #FFF , 883px 696px #FFF , 65px 32px #FFF , 1128px 1061px #FFF , 971px 549px #FFF , 1831px 1200px #FFF , 1118px 1902px #FFF , 713px 1480px #FFF , 611px 875px #FFF , 1464px 273px #FFF , 1269px 1940px #FFF , 660px 425px #FFF , 546px 934px #FFF , 1718px 1125px #FFF , 802px 263px #FFF , 285px 272px #FFF , 102px 43px #FFF , 982px 222px #FFF , 84px 524px #FFF , 69px 1055px #FFF , 1074px 45px #FFF , 399px 1946px #FFF , 1691px 1876px #FFF , 725px 969px #FFF , 213px 1453px #FFF , 1850px 421px #FFF , 1926px 1736px #FFF , 1288px 1813px #FFF , 418px 1730px #FFF , 1843px 122px #FFF , 219px 1841px #FFF , 1499px 1112px #FFF , 492px 903px #FFF , 275px 1036px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1878px 442px #FFF , 707px 970px #FFF , 1436px 409px #FFF , 1467px 1046px #FFF , 132px 1896px #FFF , 1540px 1768px #FFF , 244px 1374px #FFF , 1944px 274px #FFF , 1013px 599px #FFF , 1216px 1782px #FFF , 1231px 1844px #FFF , 1251px 644px #FFF , 1989px 1562px #FFF , 1252px 1042px #FFF , 290px 1501px #FFF , 1075px 1367px #FFF , 1607px 993px #FFF , 675px 1598px #FFF , 1042px 1209px #FFF , 4px 576px #FFF , 891px 1288px #FFF , 649px 573px #FFF , 1305px 1024px #FFF , 1045px 1310px #FFF , 727px 492px #FFF , 1769px 1581px #FFF , 618px 1018px #FFF , 970px 1375px #FFF , 62px 1875px #FFF , 1524px 1860px #FFF , 1904px 770px #FFF , 1438px 1051px #FFF , 743px 1459px #FFF , 1089px 721px #FFF , 1553px 827px #FFF , 413px 55px #FFF , 624px 1031px #FFF , 1756px 1170px #FFF , 264px 625px #FFF , 388px 722px #FFF , 1320px 339px #FFF , 1683px 881px #FFF , 1643px 578px #FFF , 1765px 1030px #FFF , 257px 63px #FFF , 440px 538px #FFF , 635px 757px #FFF , 230px 1458px #FFF , 138px 1611px #FFF , 1769px 1851px #FFF , 1474px 1236px #FFF , 1883px 1278px #FFF , 1605px 752px #FFF , 723px 352px #FFF , 1206px 802px #FFF , 1988px 935px #FFF , 1604px 1363px #FFF , 1451px 306px #FFF , 1551px 167px #FFF , 1254px 1709px #FFF , 687px 754px #FFF , 1242px 729px #FFF , 648px 481px #FFF , 1958px 1901px #FFF , 1517px 419px #FFF , 307px 556px #FFF , 104px 272px #FFF , 1288px 122px #FFF , 1210px 1196px #FFF , 1605px 1614px #FFF , 1620px 1313px #FFF , 387px 1359px #FFF , 1012px 257px #FFF , 1654px 1208px #FFF , 307px 656px #FFF , 1160px 528px #FFF , 1207px 599px #FFF , 106px 452px #FFF , 3px 1760px #FFF , 819px 1033px #FFF , 1604px 342px #FFF , 1744px 1797px #FFF , 395px 1649px #FFF , 729px 845px #FFF , 1192px 1653px #FFF , 1852px 597px #FFF , 1922px 15px #FFF , 1704px 1518px #FFF , 1710px 1927px #FFF , 970px 1995px #FFF , 804px 1346px #FFF , 1464px 347px #FFF , 935px 852px #FFF , 1106px 1138px #FFF , 1647px 1264px #FFF , 262px 210px #FFF , 1207px 553px #FFF , 1466px 319px #FFF , 659px 1937px #FFF , 1133px 612px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1878px 442px #FFF , 707px 970px #FFF , 1436px 409px #FFF , 1467px 1046px #FFF , 132px 1896px #FFF , 1540px 1768px #FFF , 244px 1374px #FFF , 1944px 274px #FFF , 1013px 599px #FFF , 1216px 1782px #FFF , 1231px 1844px #FFF , 1251px 644px #FFF , 1989px 1562px #FFF , 1252px 1042px #FFF , 290px 1501px #FFF , 1075px 1367px #FFF , 1607px 993px #FFF , 675px 1598px #FFF , 1042px 1209px #FFF , 4px 576px #FFF , 891px 1288px #FFF , 649px 573px #FFF , 1305px 1024px #FFF , 1045px 1310px #FFF , 727px 492px #FFF , 1769px 1581px #FFF , 618px 1018px #FFF , 970px 1375px #FFF , 62px 1875px #FFF , 1524px 1860px #FFF , 1904px 770px #FFF , 1438px 1051px #FFF , 743px 1459px #FFF , 1089px 721px #FFF , 1553px 827px #FFF , 413px 55px #FFF , 624px 1031px #FFF , 1756px 1170px #FFF , 264px 625px #FFF , 388px 722px #FFF , 1320px 339px #FFF , 1683px 881px #FFF , 1643px 578px #FFF , 1765px 1030px #FFF , 257px 63px #FFF , 440px 538px #FFF , 635px 757px #FFF , 230px 1458px #FFF , 138px 1611px #FFF , 1769px 1851px #FFF , 1474px 1236px #FFF , 1883px 1278px #FFF , 1605px 752px #FFF , 723px 352px #FFF , 1206px 802px #FFF , 1988px 935px #FFF , 1604px 1363px #FFF , 1451px 306px #FFF , 1551px 167px #FFF , 1254px 1709px #FFF , 687px 754px #FFF , 1242px 729px #FFF , 648px 481px #FFF , 1958px 1901px #FFF , 1517px 419px #FFF , 307px 556px #FFF , 104px 272px #FFF , 1288px 122px #FFF , 1210px 1196px #FFF , 1605px 1614px #FFF , 1620px 1313px #FFF , 387px 1359px #FFF , 1012px 257px #FFF , 1654px 1208px #FFF , 307px 656px #FFF , 1160px 528px #FFF , 1207px 599px #FFF , 106px 452px #FFF , 3px 1760px #FFF , 819px 1033px #FFF , 1604px 342px #FFF , 1744px 1797px #FFF , 395px 1649px #FFF , 729px 845px #FFF , 1192px 1653px #FFF , 1852px 597px #FFF , 1922px 15px #FFF , 1704px 1518px #FFF , 1710px 1927px #FFF , 970px 1995px #FFF , 804px 1346px #FFF , 1464px 347px #FFF , 935px 852px #FFF , 1106px 1138px #FFF , 1647px 1264px #FFF , 262px 210px #FFF , 1207px 553px #FFF , 1466px 319px #FFF , 659px 1937px #FFF , 1133px 612px #FFF; }

#title {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#header .view-work {
  font-family: 'lato',sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
  position: relative; }
  #header .view-work:hover img {
    transform: rotate(180deg); }
  #header .view-work a {
    text-decoration: none; }
  #header .view-work:hover::after {
    transform: scale(1);
    bottom: 100%;
    left: 100%; }
  #header .view-work::after {
    content: attr(data-tool-tip);
    position: absolute;
    display: block;
    background-color: rgba(128, 128, 128, 0.3);
    color: #fff;
    padding: 1em 1em;
    border-radius: 10px;
    bottom: 50%;
    left: 50%;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms,  bottom ease-out 150ms, left ease-out 150ms; }

.view-work-container {
  display: inline-block;
  margin-top: 5rem; }

#header .view-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: 700; }

#header .view-work img {
  max-width: 50px;
  position: relative;
  right: -11px;
  transition: transform .2s ease-in-out; }

#projects {
  background-color: #1b2735;
  box-sizing: content-box; }

#projects .projects-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

#projects .project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff; }

#projects .projects-container img {
  max-width: 100%; }

.about-me {
  font-size: 23px;
  color: #fff;
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 3rem;
  justify-self: baseline; }

.front-end {
  color: rgba(67, 221, 16, 0.9); }

.back-end {
  color: #d690b8;
  color: #df0f86; }

.project-big-title, .about-big-title, .contact-big-title {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 3rem;
  text-align: center; }

.project-big-title::before, .about-big-title::before, .contact-big-title::before {
  content: '';
  width: 100px;
  height: 6px;
  display: block;
  margin-top: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%); }

.tech-used {
  display: flex;
  justify-content: space-around; }

.tech-used span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  color: #b15959;
  font-weight: 700; }

.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem; }

.title-line {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57; }

.project-content {
  max-width: 100%;
  height: 300px;
  border-top: none;
  padding: 1rem;
  box-shadow: 3px 3px 20px #504e4e80;
  box-sizing: border-box; }
  @media screen and (max-width: 927px) {
    .project-content {
      max-width: 640px;
      box-sizing: border-box; } }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

:root {
  /* Background-Colors */
  --green: #a4d6a6;
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --purple:  hsl(231deg 12% 81%);
  --purple:  #465295;
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: #e69e9e;
  --pink: hsl(295, 42%, 76%);
  --white: hsl(1, 0%, 100%);
  /* Hover Colors */
  --greenGreen: hsl(101, 100%, 30%);
  --blueBlue: hsl(210, 100%, 50%);
  --orangeOrange: hsl(34, 100%, 50%);
  --purplePurple: hsl(231, 100%, 60%);
  --yellowYellow: hsl(54, 50%, 42%);
  --brownBrown: hsl(20, 100%, 59%);
  --redRed: hsl(0, 100%, 60%);
  --pinkPink: hsl(295, 58%, 34%);
  --whiteWhite: rgb(145, 133, 133); }

#about {
  background-color: #424fad;
  background-color: #1b2735;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff; }

.back-end-tech {
  color: #fff; }

.about-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

.flex {
  position: relative;
  display: grid;
  place-content: center;
  width: 230px;
  height: 230px;
  animation-name: planetRotate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 60s;
  transition: 310ms;
  margin-bottom: 5rem; }

@keyframes planetRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.flex:hover {
  animation-play-state: paused; }

.centered-image {
  position: relative;
  width: 100px;
  height: 100px;
  animation: counterRotate 60s linear 0s infinite; }

.flex:hover .centered-image {
  animation-play-state: paused; }

.centered-image:hover {
  animation-play-state: paused; }

@keyframes counterRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.centered-image > img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: opacity 500ms;
  border-radius: 20px;
  opacity: 1; }

.centered-image img:last-child:hover {
  opacity: 0; }

.flex span a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  animation-name: planetScaleUpDown;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 3s;
  transition: planetScaleUpDown 500ms 5s; }

@keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.flex span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(80deg * var(--i))); }

.bg {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  transform: translateX(-30%);
  animation: counterRotatePlanet 60s linear infinite alternate; }

@keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.laravel {
  background-color: var(--blue); }

.laravel::before {
  content: "Laravel";
  border-radius: inherit; }

.laravel:hover::before {
  background-color: var(--blueBlue);
  opacity: 1; }

.vue {
  background-color: var(--orange); }

.vue::before {
  content: "Vue";
  border-radius: inherit;
  transform: rotate(200deg); }

.vue:hover::before {
  background-color: var(--orangeOrange);
  opacity: 1; }

.react {
  background-color: var(--purple); }

.react::before {
  content: "React";
  border-radius: inherit;
  transform: rotate(-42deg); }

.react:hover::before {
  background-color: var(--purplePurple);
  opacity: 1; }

.bootstrap {
  background-color: var(--yellow); }

.bootstrap::before {
  content: "Bootstrap";
  border-radius: inherit;
  transform: rotate(240deg); }

.bootstrap:hover::before {
  background-color: var(--yellowYellow);
  opacity: 1; }

.php {
  background-color: var(--green); }

.php::before {
  border-radius: inherit;
  transform: rotate(120deg);
  content: "PHP"; }

.php:hover::before {
  background-color: var(--greenGreen);
  opacity: 1; }

.mysql {
  background-color: var(--brown); }

.mysql::before {
  border-radius: inherit;
  transform: rotate(40deg);
  content: "MySQL"; }

.mysql:hover::before {
  background-color: var(--brownBrown);
  opacity: 1; }

.gitlab {
  background-color: var(--red); }

.gitlab::before {
  content: "GitLab";
  border-radius: inherit;
  transform: rotate(160deg); }

.gitlab:hover::before {
  background-color: var(--redRed);
  opacity: 1; }

.jquery {
  background-color: var(--pink); }

.jquery::before {
  content: "jQuery";
  border-radius: inherit;
  transform: rotate(80deg); }

.jquery:hover::before {
  background-color: var(--pinkPink);
  opacity: 1; }

.js {
  background-color: var(--white); }

.js::before {
  content: "JavaScript";
  border-radius: inherit; }

.js:hover::before {
  background-color: var(--whiteWhite);
  opacity: 1; }

:is(.laravel, .vue, .php, .mysql, .bootstrap, .react, .gitlab, .jquery, .js)::before {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms linear;
  font-weight: bolder;
  font-size: 15;
  border-radius: inherit; }

.contact-container {
  background-color: #1b2735;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

.section-divider {
  width: 100px;
  height: 6px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%); }

.contact-container input, .contact-container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px; }

.contact-container [type=submit] {
  box-sizing: content-box; }

.contact-me-text {
  color: rgba(67, 221, 16, 0.9); }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact input, #contact textarea {
    width: 60%; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  #contact input, #contact textarea {
    width: 70%; } }

.contact-container textarea::placeholder {
  font-family: Arial; }

.contact-container [type=submit]:hover {
  background-color: #1b2735;
  color: #fff;
  cursor: pointer; }

@media screen and (max-width: 500px) {
  #contact input, #contact textarea {
    width: 80%; } }
