@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif; }

#header {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); }

#header .name {
  font-size: 5rem;
  background: -webkit-linear-gradient(white, #31235a);
  -webkit-background-clip: text;
  background-clip: text; }

#header .web-title {
  font-size: 2rem;
  display: inherit; }

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1343px 999px #FFF , 1343px 1348px #FFF , 1138px 509px #FFF , 79px 973px #FFF , 1642px 1191px #FFF , 637px 1900px #FFF , 249px 575px #FFF , 164px 1996px #FFF , 572px 881px #FFF , 452px 1724px #FFF , 707px 1540px #FFF , 237px 198px #FFF , 1642px 401px #FFF , 1612px 1817px #FFF , 1273px 799px #FFF , 1191px 518px #FFF , 1908px 1653px #FFF , 872px 739px #FFF , 1915px 164px #FFF , 1062px 1339px #FFF , 1753px 1063px #FFF , 1686px 637px #FFF , 617px 342px #FFF , 1699px 1089px #FFF , 1372px 1711px #FFF , 678px 1815px #FFF , 1302px 1080px #FFF , 88px 89px #FFF , 263px 555px #FFF , 243px 2px #FFF , 739px 1016px #FFF , 920px 321px #FFF , 1537px 1944px #FFF , 616px 310px #FFF , 1949px 59px #FFF , 748px 888px #FFF , 1832px 793px #FFF , 1957px 1104px #FFF , 1752px 1953px #FFF , 637px 20px #FFF , 1332px 1728px #FFF , 66px 1868px #FFF , 1445px 1350px #FFF , 584px 315px #FFF , 727px 1633px #FFF , 979px 642px #FFF , 776px 1494px #FFF , 1507px 1943px #FFF , 242px 1935px #FFF , 1087px 1239px #FFF , 748px 264px #FFF , 1632px 579px #FFF , 1114px 1459px #FFF , 1182px 277px #FFF , 1053px 1261px #FFF , 243px 1121px #FFF , 654px 62px #FFF , 1661px 399px #FFF , 1318px 736px #FFF , 106px 257px #FFF , 1952px 1754px #FFF , 1772px 1051px #FFF , 273px 1216px #FFF , 517px 1443px #FFF , 354px 1584px #FFF , 549px 1870px #FFF , 1113px 105px #FFF , 271px 31px #FFF , 1128px 1094px #FFF , 1831px 1529px #FFF , 1181px 281px #FFF , 1027px 41px #FFF , 578px 1005px #FFF , 1180px 1130px #FFF , 1473px 1049px #FFF , 719px 407px #FFF , 1509px 72px #FFF , 1492px 154px #FFF , 931px 1669px #FFF , 858px 231px #FFF , 1627px 79px #FFF , 58px 530px #FFF , 236px 1880px #FFF , 810px 1738px #FFF , 499px 1552px #FFF , 633px 1958px #FFF , 1716px 570px #FFF , 526px 601px #FFF , 1681px 1310px #FFF , 196px 936px #FFF , 372px 114px #FFF , 779px 1890px #FFF , 1577px 254px #FFF , 48px 337px #FFF , 625px 588px #FFF , 34px 1037px #FFF , 1254px 1851px #FFF , 700px 1579px #FFF , 422px 123px #FFF , 761px 1330px #FFF , 1793px 834px #FFF , 1368px 818px #FFF , 628px 2000px #FFF , 1815px 1115px #FFF , 81px 470px #FFF , 1613px 1396px #FFF , 1209px 1037px #FFF , 994px 333px #FFF , 1562px 1222px #FFF , 1104px 335px #FFF , 536px 397px #FFF , 409px 748px #FFF , 1602px 1394px #FFF , 521px 693px #FFF , 861px 1829px #FFF , 768px 1764px #FFF , 74px 1332px #FFF , 1196px 1732px #FFF , 1565px 1219px #FFF , 1533px 574px #FFF , 830px 1083px #FFF , 349px 1959px #FFF , 877px 1180px #FFF , 312px 322px #FFF , 32px 1473px #FFF , 1912px 955px #FFF , 1837px 1960px #FFF , 1965px 609px #FFF , 837px 1874px #FFF , 824px 560px #FFF , 232px 1883px #FFF , 1621px 242px #FFF , 1625px 1261px #FFF , 166px 1748px #FFF , 1599px 1814px #FFF , 1726px 1004px #FFF , 958px 1495px #FFF , 1001px 221px #FFF , 1974px 274px #FFF , 1109px 1256px #FFF , 1739px 473px #FFF , 893px 2px #FFF , 91px 1770px #FFF , 928px 1149px #FFF , 1598px 1711px #FFF , 381px 232px #FFF , 118px 1480px #FFF , 1783px 737px #FFF , 1340px 1379px #FFF , 1088px 1042px #FFF , 197px 571px #FFF , 753px 1408px #FFF , 1874px 603px #FFF , 1875px 1352px #FFF , 1651px 1328px #FFF , 472px 1616px #FFF , 1579px 1685px #FFF , 1707px 1242px #FFF , 187px 1098px #FFF , 1678px 1320px #FFF , 1692px 399px #FFF , 179px 1654px #FFF , 430px 1131px #FFF , 20px 257px #FFF , 1512px 907px #FFF , 1213px 118px #FFF , 155px 1825px #FFF , 333px 1427px #FFF , 1634px 1179px #FFF , 894px 154px #FFF , 1303px 1601px #FFF , 1975px 1899px #FFF , 1572px 609px #FFF , 217px 248px #FFF , 915px 390px #FFF , 1242px 1933px #FFF , 173px 469px #FFF , 1610px 1553px #FFF , 65px 1760px #FFF , 1558px 1682px #FFF , 718px 1258px #FFF , 1514px 1749px #FFF , 1579px 656px #FFF , 208px 1627px #FFF , 1578px 1643px #FFF , 1111px 215px #FFF , 1406px 1642px #FFF , 905px 1466px #FFF , 142px 1341px #FFF , 405px 682px #FFF , 165px 1559px #FFF , 1469px 1628px #FFF , 1284px 1903px #FFF , 1149px 1546px #FFF , 1959px 1279px #FFF , 440px 1074px #FFF , 1223px 1416px #FFF , 1040px 1220px #FFF , 1450px 1343px #FFF , 1337px 1271px #FFF , 1424px 1046px #FFF , 1082px 1103px #FFF , 1820px 42px #FFF , 1352px 1869px #FFF , 1971px 855px #FFF , 1320px 392px #FFF , 1249px 1593px #FFF , 340px 890px #FFF , 1925px 1273px #FFF , 389px 39px #FFF , 1716px 551px #FFF , 412px 362px #FFF , 1882px 1459px #FFF , 773px 1214px #FFF , 1735px 629px #FFF , 1185px 1490px #FFF , 573px 320px #FFF , 990px 1860px #FFF , 1655px 1275px #FFF , 1191px 581px #FFF , 1600px 223px #FFF , 1589px 650px #FFF , 830px 1807px #FFF , 1529px 1773px #FFF , 728px 1345px #FFF , 1679px 960px #FFF , 855px 1407px #FFF , 378px 1306px #FFF , 500px 200px #FFF , 107px 141px #FFF , 914px 666px #FFF , 921px 1562px #FFF , 22px 721px #FFF , 1435px 1090px #FFF , 385px 31px #FFF , 189px 1959px #FFF , 999px 468px #FFF , 1599px 926px #FFF , 1273px 1439px #FFF , 233px 365px #FFF , 1630px 59px #FFF , 1928px 595px #FFF , 954px 1159px #FFF , 1344px 327px #FFF , 1894px 1354px #FFF , 1072px 239px #FFF , 1211px 1707px #FFF , 233px 502px #FFF , 714px 1156px #FFF , 1685px 1906px #FFF , 67px 1995px #FFF , 906px 1058px #FFF , 1772px 1140px #FFF , 1362px 275px #FFF , 1898px 1272px #FFF , 1365px 1395px #FFF , 99px 1564px #FFF , 1111px 306px #FFF , 1701px 1754px #FFF , 629px 1307px #FFF , 553px 623px #FFF , 358px 1624px #FFF , 1025px 706px #FFF , 401px 1242px #FFF , 1210px 1729px #FFF , 1177px 1709px #FFF , 481px 1156px #FFF , 546px 604px #FFF , 133px 366px #FFF , 785px 1216px #FFF , 320px 1296px #FFF , 1173px 542px #FFF , 842px 1550px #FFF , 773px 524px #FFF , 1239px 891px #FFF , 1971px 14px #FFF , 1963px 232px #FFF , 796px 1998px #FFF , 717px 117px #FFF , 1431px 222px #FFF , 1444px 1352px #FFF , 1968px 1092px #FFF , 1279px 1965px #FFF , 1087px 1162px #FFF , 150px 1062px #FFF , 655px 1435px #FFF , 343px 1120px #FFF , 911px 1842px #FFF , 1510px 1959px #FFF , 152px 228px #FFF , 1331px 1655px #FFF , 569px 1640px #FFF , 595px 1111px #FFF , 712px 882px #FFF , 652px 1883px #FFF , 1885px 1779px #FFF , 1275px 452px #FFF , 1178px 223px #FFF , 5px 1698px #FFF , 599px 183px #FFF , 422px 1438px #FFF , 1606px 1110px #FFF , 1746px 1962px #FFF , 1709px 1171px #FFF , 290px 31px #FFF , 1789px 775px #FFF , 1229px 152px #FFF , 876px 987px #FFF , 1310px 1004px #FFF , 1888px 1970px #FFF , 1637px 1707px #FFF , 1053px 1445px #FFF , 1670px 1905px #FFF , 1658px 1059px #FFF , 479px 1564px #FFF , 1749px 1438px #FFF , 1465px 1478px #FFF , 79px 1942px #FFF , 1601px 293px #FFF , 1122px 1516px #FFF , 939px 89px #FFF , 1691px 935px #FFF , 1288px 119px #FFF , 1162px 1331px #FFF , 1067px 1950px #FFF , 1341px 1051px #FFF , 324px 1128px #FFF , 1784px 1293px #FFF , 616px 1243px #FFF , 564px 1403px #FFF , 1654px 989px #FFF , 295px 1459px #FFF , 284px 521px #FFF , 765px 86px #FFF , 1258px 455px #FFF , 367px 37px #FFF , 491px 774px #FFF , 545px 1025px #FFF , 937px 56px #FFF , 1495px 1596px #FFF , 1749px 841px #FFF , 140px 1288px #FFF , 1811px 520px #FFF , 46px 464px #FFF , 156px 88px #FFF , 115px 1654px #FFF , 808px 880px #FFF , 547px 1097px #FFF , 861px 1480px #FFF , 1204px 1268px #FFF , 1414px 620px #FFF , 136px 1347px #FFF , 756px 1852px #FFF , 181px 713px #FFF , 752px 1069px #FFF , 1407px 1163px #FFF , 1722px 1973px #FFF , 1912px 134px #FFF , 489px 477px #FFF , 1495px 1347px #FFF , 679px 966px #FFF , 121px 1051px #FFF , 1336px 1915px #FFF , 1590px 95px #FFF , 1348px 173px #FFF , 619px 1575px #FFF , 1359px 307px #FFF , 523px 814px #FFF , 1393px 1179px #FFF , 1795px 1785px #FFF , 676px 922px #FFF , 824px 1553px #FFF , 1816px 154px #FFF , 1777px 696px #FFF , 1545px 714px #FFF , 1489px 1055px #FFF , 1627px 1361px #FFF , 886px 467px #FFF , 1660px 1238px #FFF , 1347px 78px #FFF , 1880px 769px #FFF , 1522px 1001px #FFF , 1609px 550px #FFF , 1387px 267px #FFF , 1885px 857px #FFF , 1915px 296px #FFF , 1775px 1262px #FFF , 1638px 254px #FFF , 976px 1578px #FFF , 1345px 415px #FFF , 803px 486px #FFF , 757px 142px #FFF , 1403px 98px #FFF , 619px 406px #FFF , 831px 1233px #FFF , 1256px 1153px #FFF , 1474px 1979px #FFF , 1297px 1726px #FFF , 854px 320px #FFF , 1839px 151px #FFF , 1257px 1451px #FFF , 1740px 803px #FFF , 190px 212px #FFF , 1762px 1422px #FFF , 579px 500px #FFF , 35px 1158px #FFF , 1980px 829px #FFF , 540px 1105px #FFF , 1648px 1187px #FFF , 132px 308px #FFF , 1140px 1910px #FFF , 1023px 494px #FFF , 1721px 1044px #FFF , 1685px 1584px #FFF , 899px 1600px #FFF , 1562px 136px #FFF , 827px 1317px #FFF , 58px 679px #FFF , 1903px 971px #FFF , 1635px 780px #FFF , 516px 757px #FFF , 629px 1099px #FFF , 1460px 972px #FFF , 589px 630px #FFF , 934px 1489px #FFF , 1012px 1140px #FFF , 679px 927px #FFF , 1577px 1440px #FFF , 1999px 818px #FFF , 356px 1552px #FFF , 1783px 716px #FFF , 537px 485px #FFF , 520px 53px #FFF , 1370px 573px #FFF , 916px 505px #FFF , 803px 642px #FFF , 591px 96px #FFF , 1784px 696px #FFF , 1104px 472px #FFF , 222px 1666px #FFF , 1987px 1923px #FFF , 1360px 1080px #FFF , 879px 252px #FFF , 164px 1588px #FFF , 94px 1358px #FFF , 600px 891px #FFF , 742px 999px #FFF , 1348px 311px #FFF , 1492px 355px #FFF , 756px 420px #FFF , 1370px 367px #FFF , 1023px 953px #FFF , 459px 1256px #FFF , 1875px 454px #FFF , 235px 926px #FFF , 467px 840px #FFF , 902px 1487px #FFF , 1131px 1740px #FFF , 406px 173px #FFF , 535px 471px #FFF , 836px 1490px #FFF , 1614px 1656px #FFF , 1179px 1275px #FFF , 1337px 551px #FFF , 1563px 641px #FFF , 372px 475px #FFF , 1220px 611px #FFF , 3px 987px #FFF , 1283px 61px #FFF , 1080px 467px #FFF , 1420px 69px #FFF , 1793px 385px #FFF , 525px 543px #FFF , 522px 738px #FFF , 1710px 1485px #FFF , 107px 1701px #FFF , 1952px 13px #FFF , 1653px 126px #FFF , 1115px 1457px #FFF , 1302px 1474px #FFF , 29px 1996px #FFF , 1688px 825px #FFF , 751px 1868px #FFF , 301px 820px #FFF , 332px 664px #FFF , 1841px 1281px #FFF , 54px 1061px #FFF , 1382px 555px #FFF , 712px 1014px #FFF , 1616px 1502px #FFF , 882px 1624px #FFF , 1947px 565px #FFF , 790px 1548px #FFF , 120px 804px #FFF , 440px 1387px #FFF , 313px 689px #FFF , 1898px 889px #FFF , 1167px 1591px #FFF , 848px 588px #FFF , 289px 1766px #FFF , 818px 502px #FFF , 1734px 1009px #FFF , 1155px 228px #FFF , 1161px 714px #FFF , 1424px 1589px #FFF , 49px 999px #FFF , 924px 123px #FFF , 1738px 1551px #FFF , 1626px 992px #FFF , 1916px 1443px #FFF , 1907px 1585px #FFF , 1022px 1672px #FFF , 83px 369px #FFF , 524px 1174px #FFF , 893px 1712px #FFF , 1060px 75px #FFF , 1452px 1098px #FFF , 1314px 1823px #FFF , 459px 1394px #FFF , 1889px 244px #FFF , 1449px 1611px #FFF , 688px 330px #FFF , 457px 1737px #FFF , 1419px 1019px #FFF , 1407px 166px #FFF , 1562px 208px #FFF , 449px 1106px #FFF , 524px 1508px #FFF , 7px 1795px #FFF , 52px 1098px #FFF , 1692px 1448px #FFF , 601px 1203px #FFF , 458px 897px #FFF , 910px 1862px #FFF , 605px 1982px #FFF , 344px 504px #FFF , 457px 1899px #FFF , 393px 942px #FFF , 698px 622px #FFF , 378px 1144px #FFF , 1989px 1385px #FFF , 1432px 269px #FFF , 451px 709px #FFF , 363px 1610px #FFF , 1500px 1793px #FFF , 1762px 1107px #FFF , 1856px 248px #FFF , 1141px 341px #FFF , 1298px 1482px #FFF , 417px 1150px #FFF , 1270px 467px #FFF , 1014px 1769px #FFF , 962px 626px #FFF , 1302px 1979px #FFF , 1332px 1955px #FFF , 405px 1848px #FFF , 677px 203px #FFF , 1091px 1903px #FFF , 965px 1751px #FFF , 1631px 993px #FFF , 611px 507px #FFF , 835px 1926px #FFF , 581px 1243px #FFF , 1412px 263px #FFF , 1214px 147px #FFF , 1802px 396px #FFF , 201px 10px #FFF , 1635px 1266px #FFF , 174px 1669px #FFF , 547px 1718px #FFF , 424px 1842px #FFF , 1977px 941px #FFF , 507px 315px #FFF , 1025px 852px #FFF , 1008px 190px #FFF , 1516px 1549px #FFF , 321px 1948px #FFF , 1506px 1865px #FFF , 1433px 32px #FFF , 920px 463px #FFF , 1898px 988px #FFF , 884px 1577px #FFF , 672px 1036px #FFF , 1356px 1246px #FFF , 888px 981px #FFF , 941px 1509px #FFF , 278px 1728px #FFF , 1378px 910px #FFF , 267px 914px #FFF , 1384px 96px #FFF , 911px 1697px #FFF , 1313px 99px #FFF , 880px 699px #FFF , 1668px 524px #FFF , 1882px 961px #FFF , 1300px 1425px #FFF , 1830px 1131px #FFF , 1355px 45px #FFF , 172px 990px #FFF , 726px 862px #FFF , 107px 269px #FFF , 10px 111px #FFF , 1213px 191px #FFF , 756px 1108px #FFF , 480px 929px #FFF , 1999px 1518px #FFF , 1459px 1714px #FFF , 994px 405px #FFF , 380px 590px #FFF , 1932px 707px #FFF , 961px 166px #FFF , 1613px 1928px #FFF , 1644px 871px #FFF , 806px 1960px #FFF , 804px 947px #FFF , 1148px 1393px #FFF , 109px 118px #FFF , 297px 1663px #FFF , 315px 54px #FFF , 547px 1357px #FFF , 1352px 70px #FFF , 729px 384px #FFF , 84px 1962px #FFF , 432px 1308px #FFF , 1215px 1657px #FFF , 1407px 1290px #FFF , 470px 1896px #FFF , 371px 1409px #FFF , 884px 828px #FFF , 52px 1817px #FFF , 441px 1917px #FFF , 1393px 627px #FFF , 125px 877px #FFF , 924px 1302px #FFF , 694px 1095px #FFF , 1722px 1573px #FFF , 1832px 246px #FFF , 1581px 301px #FFF , 1305px 1436px #FFF , 1035px 514px #FFF , 1045px 1228px #FFF , 1116px 1794px #FFF , 989px 747px #FFF , 1772px 1755px #FFF , 404px 1763px #FFF , 1897px 1930px #FFF , 783px 38px #FFF , 1734px 579px #FFF , 294px 271px #FFF , 1443px 1329px #FFF , 1401px 1086px #FFF , 1197px 341px #FFF , 1922px 1329px #FFF , 1889px 1016px #FFF , 891px 26px #FFF , 407px 888px #FFF , 1261px 63px #FFF , 1778px 256px #FFF , 971px 783px #FFF , 116px 451px #FFF , 175px 76px #FFF , 1436px 24px #FFF , 1636px 1402px #FFF , 1587px 1973px #FFF , 1040px 533px #FFF , 1888px 998px #FFF , 200px 711px #FFF , 1948px 620px #FFF , 1857px 1738px #FFF , 1954px 737px #FFF , 1472px 1306px #FFF , 466px 1221px #FFF , 692px 849px #FFF , 644px 709px #FFF , 127px 738px #FFF , 1071px 1978px #FFF , 1622px 756px #FFF , 1860px 62px #FFF , 967px 180px #FFF , 1905px 326px #FFF , 279px 198px #FFF , 230px 854px #FFF , 888px 1505px #FFF , 1359px 99px #FFF , 1906px 608px #FFF , 974px 1103px #FFF , 498px 16px #FFF , 1722px 1004px #FFF , 1156px 1473px #FFF , 834px 814px #FFF , 1933px 1740px #FFF , 168px 110px #FFF , 1094px 1976px #FFF , 1642px 149px #FFF , 69px 1340px #FFF , 954px 783px #FFF , 1594px 606px #FFF , 1316px 1765px #FFF , 1377px 1370px #FFF , 1221px 1775px #FFF;
  animation: animStar 50s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1343px 999px #FFF , 1343px 1348px #FFF , 1138px 509px #FFF , 79px 973px #FFF , 1642px 1191px #FFF , 637px 1900px #FFF , 249px 575px #FFF , 164px 1996px #FFF , 572px 881px #FFF , 452px 1724px #FFF , 707px 1540px #FFF , 237px 198px #FFF , 1642px 401px #FFF , 1612px 1817px #FFF , 1273px 799px #FFF , 1191px 518px #FFF , 1908px 1653px #FFF , 872px 739px #FFF , 1915px 164px #FFF , 1062px 1339px #FFF , 1753px 1063px #FFF , 1686px 637px #FFF , 617px 342px #FFF , 1699px 1089px #FFF , 1372px 1711px #FFF , 678px 1815px #FFF , 1302px 1080px #FFF , 88px 89px #FFF , 263px 555px #FFF , 243px 2px #FFF , 739px 1016px #FFF , 920px 321px #FFF , 1537px 1944px #FFF , 616px 310px #FFF , 1949px 59px #FFF , 748px 888px #FFF , 1832px 793px #FFF , 1957px 1104px #FFF , 1752px 1953px #FFF , 637px 20px #FFF , 1332px 1728px #FFF , 66px 1868px #FFF , 1445px 1350px #FFF , 584px 315px #FFF , 727px 1633px #FFF , 979px 642px #FFF , 776px 1494px #FFF , 1507px 1943px #FFF , 242px 1935px #FFF , 1087px 1239px #FFF , 748px 264px #FFF , 1632px 579px #FFF , 1114px 1459px #FFF , 1182px 277px #FFF , 1053px 1261px #FFF , 243px 1121px #FFF , 654px 62px #FFF , 1661px 399px #FFF , 1318px 736px #FFF , 106px 257px #FFF , 1952px 1754px #FFF , 1772px 1051px #FFF , 273px 1216px #FFF , 517px 1443px #FFF , 354px 1584px #FFF , 549px 1870px #FFF , 1113px 105px #FFF , 271px 31px #FFF , 1128px 1094px #FFF , 1831px 1529px #FFF , 1181px 281px #FFF , 1027px 41px #FFF , 578px 1005px #FFF , 1180px 1130px #FFF , 1473px 1049px #FFF , 719px 407px #FFF , 1509px 72px #FFF , 1492px 154px #FFF , 931px 1669px #FFF , 858px 231px #FFF , 1627px 79px #FFF , 58px 530px #FFF , 236px 1880px #FFF , 810px 1738px #FFF , 499px 1552px #FFF , 633px 1958px #FFF , 1716px 570px #FFF , 526px 601px #FFF , 1681px 1310px #FFF , 196px 936px #FFF , 372px 114px #FFF , 779px 1890px #FFF , 1577px 254px #FFF , 48px 337px #FFF , 625px 588px #FFF , 34px 1037px #FFF , 1254px 1851px #FFF , 700px 1579px #FFF , 422px 123px #FFF , 761px 1330px #FFF , 1793px 834px #FFF , 1368px 818px #FFF , 628px 2000px #FFF , 1815px 1115px #FFF , 81px 470px #FFF , 1613px 1396px #FFF , 1209px 1037px #FFF , 994px 333px #FFF , 1562px 1222px #FFF , 1104px 335px #FFF , 536px 397px #FFF , 409px 748px #FFF , 1602px 1394px #FFF , 521px 693px #FFF , 861px 1829px #FFF , 768px 1764px #FFF , 74px 1332px #FFF , 1196px 1732px #FFF , 1565px 1219px #FFF , 1533px 574px #FFF , 830px 1083px #FFF , 349px 1959px #FFF , 877px 1180px #FFF , 312px 322px #FFF , 32px 1473px #FFF , 1912px 955px #FFF , 1837px 1960px #FFF , 1965px 609px #FFF , 837px 1874px #FFF , 824px 560px #FFF , 232px 1883px #FFF , 1621px 242px #FFF , 1625px 1261px #FFF , 166px 1748px #FFF , 1599px 1814px #FFF , 1726px 1004px #FFF , 958px 1495px #FFF , 1001px 221px #FFF , 1974px 274px #FFF , 1109px 1256px #FFF , 1739px 473px #FFF , 893px 2px #FFF , 91px 1770px #FFF , 928px 1149px #FFF , 1598px 1711px #FFF , 381px 232px #FFF , 118px 1480px #FFF , 1783px 737px #FFF , 1340px 1379px #FFF , 1088px 1042px #FFF , 197px 571px #FFF , 753px 1408px #FFF , 1874px 603px #FFF , 1875px 1352px #FFF , 1651px 1328px #FFF , 472px 1616px #FFF , 1579px 1685px #FFF , 1707px 1242px #FFF , 187px 1098px #FFF , 1678px 1320px #FFF , 1692px 399px #FFF , 179px 1654px #FFF , 430px 1131px #FFF , 20px 257px #FFF , 1512px 907px #FFF , 1213px 118px #FFF , 155px 1825px #FFF , 333px 1427px #FFF , 1634px 1179px #FFF , 894px 154px #FFF , 1303px 1601px #FFF , 1975px 1899px #FFF , 1572px 609px #FFF , 217px 248px #FFF , 915px 390px #FFF , 1242px 1933px #FFF , 173px 469px #FFF , 1610px 1553px #FFF , 65px 1760px #FFF , 1558px 1682px #FFF , 718px 1258px #FFF , 1514px 1749px #FFF , 1579px 656px #FFF , 208px 1627px #FFF , 1578px 1643px #FFF , 1111px 215px #FFF , 1406px 1642px #FFF , 905px 1466px #FFF , 142px 1341px #FFF , 405px 682px #FFF , 165px 1559px #FFF , 1469px 1628px #FFF , 1284px 1903px #FFF , 1149px 1546px #FFF , 1959px 1279px #FFF , 440px 1074px #FFF , 1223px 1416px #FFF , 1040px 1220px #FFF , 1450px 1343px #FFF , 1337px 1271px #FFF , 1424px 1046px #FFF , 1082px 1103px #FFF , 1820px 42px #FFF , 1352px 1869px #FFF , 1971px 855px #FFF , 1320px 392px #FFF , 1249px 1593px #FFF , 340px 890px #FFF , 1925px 1273px #FFF , 389px 39px #FFF , 1716px 551px #FFF , 412px 362px #FFF , 1882px 1459px #FFF , 773px 1214px #FFF , 1735px 629px #FFF , 1185px 1490px #FFF , 573px 320px #FFF , 990px 1860px #FFF , 1655px 1275px #FFF , 1191px 581px #FFF , 1600px 223px #FFF , 1589px 650px #FFF , 830px 1807px #FFF , 1529px 1773px #FFF , 728px 1345px #FFF , 1679px 960px #FFF , 855px 1407px #FFF , 378px 1306px #FFF , 500px 200px #FFF , 107px 141px #FFF , 914px 666px #FFF , 921px 1562px #FFF , 22px 721px #FFF , 1435px 1090px #FFF , 385px 31px #FFF , 189px 1959px #FFF , 999px 468px #FFF , 1599px 926px #FFF , 1273px 1439px #FFF , 233px 365px #FFF , 1630px 59px #FFF , 1928px 595px #FFF , 954px 1159px #FFF , 1344px 327px #FFF , 1894px 1354px #FFF , 1072px 239px #FFF , 1211px 1707px #FFF , 233px 502px #FFF , 714px 1156px #FFF , 1685px 1906px #FFF , 67px 1995px #FFF , 906px 1058px #FFF , 1772px 1140px #FFF , 1362px 275px #FFF , 1898px 1272px #FFF , 1365px 1395px #FFF , 99px 1564px #FFF , 1111px 306px #FFF , 1701px 1754px #FFF , 629px 1307px #FFF , 553px 623px #FFF , 358px 1624px #FFF , 1025px 706px #FFF , 401px 1242px #FFF , 1210px 1729px #FFF , 1177px 1709px #FFF , 481px 1156px #FFF , 546px 604px #FFF , 133px 366px #FFF , 785px 1216px #FFF , 320px 1296px #FFF , 1173px 542px #FFF , 842px 1550px #FFF , 773px 524px #FFF , 1239px 891px #FFF , 1971px 14px #FFF , 1963px 232px #FFF , 796px 1998px #FFF , 717px 117px #FFF , 1431px 222px #FFF , 1444px 1352px #FFF , 1968px 1092px #FFF , 1279px 1965px #FFF , 1087px 1162px #FFF , 150px 1062px #FFF , 655px 1435px #FFF , 343px 1120px #FFF , 911px 1842px #FFF , 1510px 1959px #FFF , 152px 228px #FFF , 1331px 1655px #FFF , 569px 1640px #FFF , 595px 1111px #FFF , 712px 882px #FFF , 652px 1883px #FFF , 1885px 1779px #FFF , 1275px 452px #FFF , 1178px 223px #FFF , 5px 1698px #FFF , 599px 183px #FFF , 422px 1438px #FFF , 1606px 1110px #FFF , 1746px 1962px #FFF , 1709px 1171px #FFF , 290px 31px #FFF , 1789px 775px #FFF , 1229px 152px #FFF , 876px 987px #FFF , 1310px 1004px #FFF , 1888px 1970px #FFF , 1637px 1707px #FFF , 1053px 1445px #FFF , 1670px 1905px #FFF , 1658px 1059px #FFF , 479px 1564px #FFF , 1749px 1438px #FFF , 1465px 1478px #FFF , 79px 1942px #FFF , 1601px 293px #FFF , 1122px 1516px #FFF , 939px 89px #FFF , 1691px 935px #FFF , 1288px 119px #FFF , 1162px 1331px #FFF , 1067px 1950px #FFF , 1341px 1051px #FFF , 324px 1128px #FFF , 1784px 1293px #FFF , 616px 1243px #FFF , 564px 1403px #FFF , 1654px 989px #FFF , 295px 1459px #FFF , 284px 521px #FFF , 765px 86px #FFF , 1258px 455px #FFF , 367px 37px #FFF , 491px 774px #FFF , 545px 1025px #FFF , 937px 56px #FFF , 1495px 1596px #FFF , 1749px 841px #FFF , 140px 1288px #FFF , 1811px 520px #FFF , 46px 464px #FFF , 156px 88px #FFF , 115px 1654px #FFF , 808px 880px #FFF , 547px 1097px #FFF , 861px 1480px #FFF , 1204px 1268px #FFF , 1414px 620px #FFF , 136px 1347px #FFF , 756px 1852px #FFF , 181px 713px #FFF , 752px 1069px #FFF , 1407px 1163px #FFF , 1722px 1973px #FFF , 1912px 134px #FFF , 489px 477px #FFF , 1495px 1347px #FFF , 679px 966px #FFF , 121px 1051px #FFF , 1336px 1915px #FFF , 1590px 95px #FFF , 1348px 173px #FFF , 619px 1575px #FFF , 1359px 307px #FFF , 523px 814px #FFF , 1393px 1179px #FFF , 1795px 1785px #FFF , 676px 922px #FFF , 824px 1553px #FFF , 1816px 154px #FFF , 1777px 696px #FFF , 1545px 714px #FFF , 1489px 1055px #FFF , 1627px 1361px #FFF , 886px 467px #FFF , 1660px 1238px #FFF , 1347px 78px #FFF , 1880px 769px #FFF , 1522px 1001px #FFF , 1609px 550px #FFF , 1387px 267px #FFF , 1885px 857px #FFF , 1915px 296px #FFF , 1775px 1262px #FFF , 1638px 254px #FFF , 976px 1578px #FFF , 1345px 415px #FFF , 803px 486px #FFF , 757px 142px #FFF , 1403px 98px #FFF , 619px 406px #FFF , 831px 1233px #FFF , 1256px 1153px #FFF , 1474px 1979px #FFF , 1297px 1726px #FFF , 854px 320px #FFF , 1839px 151px #FFF , 1257px 1451px #FFF , 1740px 803px #FFF , 190px 212px #FFF , 1762px 1422px #FFF , 579px 500px #FFF , 35px 1158px #FFF , 1980px 829px #FFF , 540px 1105px #FFF , 1648px 1187px #FFF , 132px 308px #FFF , 1140px 1910px #FFF , 1023px 494px #FFF , 1721px 1044px #FFF , 1685px 1584px #FFF , 899px 1600px #FFF , 1562px 136px #FFF , 827px 1317px #FFF , 58px 679px #FFF , 1903px 971px #FFF , 1635px 780px #FFF , 516px 757px #FFF , 629px 1099px #FFF , 1460px 972px #FFF , 589px 630px #FFF , 934px 1489px #FFF , 1012px 1140px #FFF , 679px 927px #FFF , 1577px 1440px #FFF , 1999px 818px #FFF , 356px 1552px #FFF , 1783px 716px #FFF , 537px 485px #FFF , 520px 53px #FFF , 1370px 573px #FFF , 916px 505px #FFF , 803px 642px #FFF , 591px 96px #FFF , 1784px 696px #FFF , 1104px 472px #FFF , 222px 1666px #FFF , 1987px 1923px #FFF , 1360px 1080px #FFF , 879px 252px #FFF , 164px 1588px #FFF , 94px 1358px #FFF , 600px 891px #FFF , 742px 999px #FFF , 1348px 311px #FFF , 1492px 355px #FFF , 756px 420px #FFF , 1370px 367px #FFF , 1023px 953px #FFF , 459px 1256px #FFF , 1875px 454px #FFF , 235px 926px #FFF , 467px 840px #FFF , 902px 1487px #FFF , 1131px 1740px #FFF , 406px 173px #FFF , 535px 471px #FFF , 836px 1490px #FFF , 1614px 1656px #FFF , 1179px 1275px #FFF , 1337px 551px #FFF , 1563px 641px #FFF , 372px 475px #FFF , 1220px 611px #FFF , 3px 987px #FFF , 1283px 61px #FFF , 1080px 467px #FFF , 1420px 69px #FFF , 1793px 385px #FFF , 525px 543px #FFF , 522px 738px #FFF , 1710px 1485px #FFF , 107px 1701px #FFF , 1952px 13px #FFF , 1653px 126px #FFF , 1115px 1457px #FFF , 1302px 1474px #FFF , 29px 1996px #FFF , 1688px 825px #FFF , 751px 1868px #FFF , 301px 820px #FFF , 332px 664px #FFF , 1841px 1281px #FFF , 54px 1061px #FFF , 1382px 555px #FFF , 712px 1014px #FFF , 1616px 1502px #FFF , 882px 1624px #FFF , 1947px 565px #FFF , 790px 1548px #FFF , 120px 804px #FFF , 440px 1387px #FFF , 313px 689px #FFF , 1898px 889px #FFF , 1167px 1591px #FFF , 848px 588px #FFF , 289px 1766px #FFF , 818px 502px #FFF , 1734px 1009px #FFF , 1155px 228px #FFF , 1161px 714px #FFF , 1424px 1589px #FFF , 49px 999px #FFF , 924px 123px #FFF , 1738px 1551px #FFF , 1626px 992px #FFF , 1916px 1443px #FFF , 1907px 1585px #FFF , 1022px 1672px #FFF , 83px 369px #FFF , 524px 1174px #FFF , 893px 1712px #FFF , 1060px 75px #FFF , 1452px 1098px #FFF , 1314px 1823px #FFF , 459px 1394px #FFF , 1889px 244px #FFF , 1449px 1611px #FFF , 688px 330px #FFF , 457px 1737px #FFF , 1419px 1019px #FFF , 1407px 166px #FFF , 1562px 208px #FFF , 449px 1106px #FFF , 524px 1508px #FFF , 7px 1795px #FFF , 52px 1098px #FFF , 1692px 1448px #FFF , 601px 1203px #FFF , 458px 897px #FFF , 910px 1862px #FFF , 605px 1982px #FFF , 344px 504px #FFF , 457px 1899px #FFF , 393px 942px #FFF , 698px 622px #FFF , 378px 1144px #FFF , 1989px 1385px #FFF , 1432px 269px #FFF , 451px 709px #FFF , 363px 1610px #FFF , 1500px 1793px #FFF , 1762px 1107px #FFF , 1856px 248px #FFF , 1141px 341px #FFF , 1298px 1482px #FFF , 417px 1150px #FFF , 1270px 467px #FFF , 1014px 1769px #FFF , 962px 626px #FFF , 1302px 1979px #FFF , 1332px 1955px #FFF , 405px 1848px #FFF , 677px 203px #FFF , 1091px 1903px #FFF , 965px 1751px #FFF , 1631px 993px #FFF , 611px 507px #FFF , 835px 1926px #FFF , 581px 1243px #FFF , 1412px 263px #FFF , 1214px 147px #FFF , 1802px 396px #FFF , 201px 10px #FFF , 1635px 1266px #FFF , 174px 1669px #FFF , 547px 1718px #FFF , 424px 1842px #FFF , 1977px 941px #FFF , 507px 315px #FFF , 1025px 852px #FFF , 1008px 190px #FFF , 1516px 1549px #FFF , 321px 1948px #FFF , 1506px 1865px #FFF , 1433px 32px #FFF , 920px 463px #FFF , 1898px 988px #FFF , 884px 1577px #FFF , 672px 1036px #FFF , 1356px 1246px #FFF , 888px 981px #FFF , 941px 1509px #FFF , 278px 1728px #FFF , 1378px 910px #FFF , 267px 914px #FFF , 1384px 96px #FFF , 911px 1697px #FFF , 1313px 99px #FFF , 880px 699px #FFF , 1668px 524px #FFF , 1882px 961px #FFF , 1300px 1425px #FFF , 1830px 1131px #FFF , 1355px 45px #FFF , 172px 990px #FFF , 726px 862px #FFF , 107px 269px #FFF , 10px 111px #FFF , 1213px 191px #FFF , 756px 1108px #FFF , 480px 929px #FFF , 1999px 1518px #FFF , 1459px 1714px #FFF , 994px 405px #FFF , 380px 590px #FFF , 1932px 707px #FFF , 961px 166px #FFF , 1613px 1928px #FFF , 1644px 871px #FFF , 806px 1960px #FFF , 804px 947px #FFF , 1148px 1393px #FFF , 109px 118px #FFF , 297px 1663px #FFF , 315px 54px #FFF , 547px 1357px #FFF , 1352px 70px #FFF , 729px 384px #FFF , 84px 1962px #FFF , 432px 1308px #FFF , 1215px 1657px #FFF , 1407px 1290px #FFF , 470px 1896px #FFF , 371px 1409px #FFF , 884px 828px #FFF , 52px 1817px #FFF , 441px 1917px #FFF , 1393px 627px #FFF , 125px 877px #FFF , 924px 1302px #FFF , 694px 1095px #FFF , 1722px 1573px #FFF , 1832px 246px #FFF , 1581px 301px #FFF , 1305px 1436px #FFF , 1035px 514px #FFF , 1045px 1228px #FFF , 1116px 1794px #FFF , 989px 747px #FFF , 1772px 1755px #FFF , 404px 1763px #FFF , 1897px 1930px #FFF , 783px 38px #FFF , 1734px 579px #FFF , 294px 271px #FFF , 1443px 1329px #FFF , 1401px 1086px #FFF , 1197px 341px #FFF , 1922px 1329px #FFF , 1889px 1016px #FFF , 891px 26px #FFF , 407px 888px #FFF , 1261px 63px #FFF , 1778px 256px #FFF , 971px 783px #FFF , 116px 451px #FFF , 175px 76px #FFF , 1436px 24px #FFF , 1636px 1402px #FFF , 1587px 1973px #FFF , 1040px 533px #FFF , 1888px 998px #FFF , 200px 711px #FFF , 1948px 620px #FFF , 1857px 1738px #FFF , 1954px 737px #FFF , 1472px 1306px #FFF , 466px 1221px #FFF , 692px 849px #FFF , 644px 709px #FFF , 127px 738px #FFF , 1071px 1978px #FFF , 1622px 756px #FFF , 1860px 62px #FFF , 967px 180px #FFF , 1905px 326px #FFF , 279px 198px #FFF , 230px 854px #FFF , 888px 1505px #FFF , 1359px 99px #FFF , 1906px 608px #FFF , 974px 1103px #FFF , 498px 16px #FFF , 1722px 1004px #FFF , 1156px 1473px #FFF , 834px 814px #FFF , 1933px 1740px #FFF , 168px 110px #FFF , 1094px 1976px #FFF , 1642px 149px #FFF , 69px 1340px #FFF , 954px 783px #FFF , 1594px 606px #FFF , 1316px 1765px #FFF , 1377px 1370px #FFF , 1221px 1775px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1407px 334px #FFF , 1851px 1469px #FFF , 861px 628px #FFF , 1812px 1338px #FFF , 1562px 1379px #FFF , 10px 329px #FFF , 942px 327px #FFF , 1761px 1028px #FFF , 868px 1846px #FFF , 230px 391px #FFF , 1986px 1948px #FFF , 1588px 1099px #FFF , 735px 762px #FFF , 1661px 445px #FFF , 818px 1570px #FFF , 1556px 1426px #FFF , 1469px 1814px #FFF , 1033px 927px #FFF , 813px 1507px #FFF , 1841px 1482px #FFF , 594px 332px #FFF , 1664px 699px #FFF , 663px 352px #FFF , 301px 1871px #FFF , 1666px 1395px #FFF , 1888px 1482px #FFF , 1695px 1980px #FFF , 1528px 454px #FFF , 1370px 1755px #FFF , 1317px 1080px #FFF , 1147px 1327px #FFF , 340px 798px #FFF , 205px 1363px #FFF , 348px 1748px #FFF , 1758px 1810px #FFF , 997px 211px #FFF , 1094px 1720px #FFF , 1586px 1186px #FFF , 842px 1968px #FFF , 1426px 1772px #FFF , 617px 1497px #FFF , 764px 1788px #FFF , 252px 1113px #FFF , 1404px 1501px #FFF , 340px 771px #FFF , 853px 275px #FFF , 21px 1418px #FFF , 327px 261px #FFF , 1336px 1771px #FFF , 554px 668px #FFF , 155px 1651px #FFF , 833px 1395px #FFF , 1132px 1722px #FFF , 1280px 949px #FFF , 1610px 423px #FFF , 1602px 1358px #FFF , 901px 650px #FFF , 266px 1592px #FFF , 905px 347px #FFF , 1210px 989px #FFF , 1656px 1415px #FFF , 1023px 160px #FFF , 621px 1962px #FFF , 801px 1331px #FFF , 18px 1689px #FFF , 1716px 1942px #FFF , 1844px 948px #FFF , 1965px 816px #FFF , 1370px 1158px #FFF , 1405px 1506px #FFF , 18px 1598px #FFF , 454px 801px #FFF , 784px 1716px #FFF , 813px 1371px #FFF , 644px 1760px #FFF , 1069px 1391px #FFF , 840px 291px #FFF , 1241px 1739px #FFF , 15px 713px #FFF , 1879px 87px #FFF , 1182px 875px #FFF , 264px 742px #FFF , 684px 640px #FFF , 1037px 1133px #FFF , 1431px 1897px #FFF , 1356px 1049px #FFF , 1392px 1339px #FFF , 192px 403px #FFF , 74px 913px #FFF , 800px 267px #FFF , 1889px 457px #FFF , 1248px 19px #FFF , 520px 415px #FFF , 560px 417px #FFF , 459px 683px #FFF , 1458px 312px #FFF , 1494px 1741px #FFF , 1055px 513px #FFF , 1867px 1656px #FFF , 1487px 782px #FFF , 1311px 378px #FFF , 672px 425px #FFF , 231px 1451px #FFF , 896px 465px #FFF , 1422px 339px #FFF , 1842px 1468px #FFF , 58px 367px #FFF , 1619px 1678px #FFF , 1573px 1590px #FFF , 1519px 1986px #FFF , 445px 67px #FFF , 1181px 1639px #FFF , 253px 804px #FFF , 1237px 1057px #FFF , 866px 1980px #FFF , 436px 889px #FFF , 1865px 229px #FFF , 733px 224px #FFF , 616px 671px #FFF , 1544px 953px #FFF , 870px 614px #FFF , 1443px 673px #FFF , 604px 967px #FFF , 597px 1054px #FFF , 1773px 1638px #FFF , 523px 690px #FFF , 1114px 1556px #FFF , 171px 1074px #FFF , 874px 1600px #FFF , 1566px 1494px #FFF , 111px 168px #FFF , 498px 1258px #FFF , 1399px 1624px #FFF , 272px 922px #FFF , 1606px 1377px #FFF , 1562px 604px #FFF , 1641px 1775px #FFF , 336px 1545px #FFF , 304px 719px #FFF , 1581px 1156px #FFF , 1673px 1170px #FFF , 673px 196px #FFF , 1056px 363px #FFF , 255px 1802px #FFF , 847px 341px #FFF , 1685px 435px #FFF , 1576px 565px #FFF , 570px 593px #FFF , 1589px 672px #FFF , 1166px 1630px #FFF , 695px 1320px #FFF , 1426px 1577px #FFF , 813px 28px #FFF , 1066px 911px #FFF , 542px 889px #FFF , 6px 1778px #FFF , 37px 1008px #FFF , 130px 1442px #FFF , 467px 1668px #FFF , 85px 61px #FFF , 1718px 1471px #FFF , 1876px 223px #FFF , 382px 1537px #FFF , 1465px 986px #FFF , 1019px 1284px #FFF , 1243px 1447px #FFF , 596px 123px #FFF , 2px 1751px #FFF , 1906px 1558px #FFF , 670px 1299px #FFF , 1437px 1093px #FFF , 836px 108px #FFF , 714px 1963px #FFF , 919px 1371px #FFF , 677px 403px #FFF , 1881px 72px #FFF , 1259px 790px #FFF , 818px 1907px #FFF , 241px 282px #FFF , 1232px 1533px #FFF , 1479px 1313px #FFF , 79px 1249px #FFF , 466px 230px #FFF , 822px 605px #FFF , 1692px 805px #FFF , 1939px 1072px #FFF , 646px 829px #FFF , 1884px 387px #FFF , 933px 546px #FFF , 97px 782px #FFF , 1369px 836px #FFF , 807px 983px #FFF , 456px 792px #FFF , 326px 786px #FFF , 44px 1557px #FFF , 1463px 1563px #FFF , 315px 1809px #FFF , 1175px 599px #FFF , 1281px 1120px #FFF , 1742px 1143px #FFF;
  animation: animStar 100s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1407px 334px #FFF , 1851px 1469px #FFF , 861px 628px #FFF , 1812px 1338px #FFF , 1562px 1379px #FFF , 10px 329px #FFF , 942px 327px #FFF , 1761px 1028px #FFF , 868px 1846px #FFF , 230px 391px #FFF , 1986px 1948px #FFF , 1588px 1099px #FFF , 735px 762px #FFF , 1661px 445px #FFF , 818px 1570px #FFF , 1556px 1426px #FFF , 1469px 1814px #FFF , 1033px 927px #FFF , 813px 1507px #FFF , 1841px 1482px #FFF , 594px 332px #FFF , 1664px 699px #FFF , 663px 352px #FFF , 301px 1871px #FFF , 1666px 1395px #FFF , 1888px 1482px #FFF , 1695px 1980px #FFF , 1528px 454px #FFF , 1370px 1755px #FFF , 1317px 1080px #FFF , 1147px 1327px #FFF , 340px 798px #FFF , 205px 1363px #FFF , 348px 1748px #FFF , 1758px 1810px #FFF , 997px 211px #FFF , 1094px 1720px #FFF , 1586px 1186px #FFF , 842px 1968px #FFF , 1426px 1772px #FFF , 617px 1497px #FFF , 764px 1788px #FFF , 252px 1113px #FFF , 1404px 1501px #FFF , 340px 771px #FFF , 853px 275px #FFF , 21px 1418px #FFF , 327px 261px #FFF , 1336px 1771px #FFF , 554px 668px #FFF , 155px 1651px #FFF , 833px 1395px #FFF , 1132px 1722px #FFF , 1280px 949px #FFF , 1610px 423px #FFF , 1602px 1358px #FFF , 901px 650px #FFF , 266px 1592px #FFF , 905px 347px #FFF , 1210px 989px #FFF , 1656px 1415px #FFF , 1023px 160px #FFF , 621px 1962px #FFF , 801px 1331px #FFF , 18px 1689px #FFF , 1716px 1942px #FFF , 1844px 948px #FFF , 1965px 816px #FFF , 1370px 1158px #FFF , 1405px 1506px #FFF , 18px 1598px #FFF , 454px 801px #FFF , 784px 1716px #FFF , 813px 1371px #FFF , 644px 1760px #FFF , 1069px 1391px #FFF , 840px 291px #FFF , 1241px 1739px #FFF , 15px 713px #FFF , 1879px 87px #FFF , 1182px 875px #FFF , 264px 742px #FFF , 684px 640px #FFF , 1037px 1133px #FFF , 1431px 1897px #FFF , 1356px 1049px #FFF , 1392px 1339px #FFF , 192px 403px #FFF , 74px 913px #FFF , 800px 267px #FFF , 1889px 457px #FFF , 1248px 19px #FFF , 520px 415px #FFF , 560px 417px #FFF , 459px 683px #FFF , 1458px 312px #FFF , 1494px 1741px #FFF , 1055px 513px #FFF , 1867px 1656px #FFF , 1487px 782px #FFF , 1311px 378px #FFF , 672px 425px #FFF , 231px 1451px #FFF , 896px 465px #FFF , 1422px 339px #FFF , 1842px 1468px #FFF , 58px 367px #FFF , 1619px 1678px #FFF , 1573px 1590px #FFF , 1519px 1986px #FFF , 445px 67px #FFF , 1181px 1639px #FFF , 253px 804px #FFF , 1237px 1057px #FFF , 866px 1980px #FFF , 436px 889px #FFF , 1865px 229px #FFF , 733px 224px #FFF , 616px 671px #FFF , 1544px 953px #FFF , 870px 614px #FFF , 1443px 673px #FFF , 604px 967px #FFF , 597px 1054px #FFF , 1773px 1638px #FFF , 523px 690px #FFF , 1114px 1556px #FFF , 171px 1074px #FFF , 874px 1600px #FFF , 1566px 1494px #FFF , 111px 168px #FFF , 498px 1258px #FFF , 1399px 1624px #FFF , 272px 922px #FFF , 1606px 1377px #FFF , 1562px 604px #FFF , 1641px 1775px #FFF , 336px 1545px #FFF , 304px 719px #FFF , 1581px 1156px #FFF , 1673px 1170px #FFF , 673px 196px #FFF , 1056px 363px #FFF , 255px 1802px #FFF , 847px 341px #FFF , 1685px 435px #FFF , 1576px 565px #FFF , 570px 593px #FFF , 1589px 672px #FFF , 1166px 1630px #FFF , 695px 1320px #FFF , 1426px 1577px #FFF , 813px 28px #FFF , 1066px 911px #FFF , 542px 889px #FFF , 6px 1778px #FFF , 37px 1008px #FFF , 130px 1442px #FFF , 467px 1668px #FFF , 85px 61px #FFF , 1718px 1471px #FFF , 1876px 223px #FFF , 382px 1537px #FFF , 1465px 986px #FFF , 1019px 1284px #FFF , 1243px 1447px #FFF , 596px 123px #FFF , 2px 1751px #FFF , 1906px 1558px #FFF , 670px 1299px #FFF , 1437px 1093px #FFF , 836px 108px #FFF , 714px 1963px #FFF , 919px 1371px #FFF , 677px 403px #FFF , 1881px 72px #FFF , 1259px 790px #FFF , 818px 1907px #FFF , 241px 282px #FFF , 1232px 1533px #FFF , 1479px 1313px #FFF , 79px 1249px #FFF , 466px 230px #FFF , 822px 605px #FFF , 1692px 805px #FFF , 1939px 1072px #FFF , 646px 829px #FFF , 1884px 387px #FFF , 933px 546px #FFF , 97px 782px #FFF , 1369px 836px #FFF , 807px 983px #FFF , 456px 792px #FFF , 326px 786px #FFF , 44px 1557px #FFF , 1463px 1563px #FFF , 315px 1809px #FFF , 1175px 599px #FFF , 1281px 1120px #FFF , 1742px 1143px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1585px 1866px #FFF , 1319px 781px #FFF , 1940px 616px #FFF , 571px 1770px #FFF , 1543px 1564px #FFF , 1203px 124px #FFF , 1081px 1497px #FFF , 18px 1674px #FFF , 181px 1680px #FFF , 1602px 787px #FFF , 1923px 1780px #FFF , 452px 1987px #FFF , 1288px 1863px #FFF , 788px 76px #FFF , 208px 1368px #FFF , 1126px 246px #FFF , 849px 624px #FFF , 635px 1946px #FFF , 510px 357px #FFF , 1991px 321px #FFF , 679px 538px #FFF , 1878px 203px #FFF , 1575px 313px #FFF , 849px 1607px #FFF , 1203px 1532px #FFF , 594px 316px #FFF , 1961px 1767px #FFF , 943px 1564px #FFF , 1319px 1256px #FFF , 1817px 1266px #FFF , 1532px 1549px #FFF , 277px 219px #FFF , 1128px 360px #FFF , 1556px 136px #FFF , 397px 1727px #FFF , 1846px 192px #FFF , 1516px 596px #FFF , 1426px 1340px #FFF , 1219px 63px #FFF , 1515px 1932px #FFF , 1957px 1127px #FFF , 959px 229px #FFF , 1926px 777px #FFF , 1173px 569px #FFF , 257px 1114px #FFF , 622px 217px #FFF , 289px 1574px #FFF , 1666px 1722px #FFF , 1642px 85px #FFF , 153px 1474px #FFF , 279px 1706px #FFF , 1614px 1040px #FFF , 1699px 723px #FFF , 573px 144px #FFF , 545px 627px #FFF , 1259px 1369px #FFF , 1821px 1376px #FFF , 1052px 392px #FFF , 171px 508px #FFF , 923px 1191px #FFF , 1001px 1823px #FFF , 513px 1228px #FFF , 1982px 852px #FFF , 1541px 847px #FFF , 1499px 1977px #FFF , 1763px 1616px #FFF , 1423px 799px #FFF , 1461px 1034px #FFF , 928px 826px #FFF , 787px 549px #FFF , 257px 1817px #FFF , 149px 623px #FFF , 1582px 1058px #FFF , 1815px 1487px #FFF , 657px 1772px #FFF , 1458px 260px #FFF , 626px 1281px #FFF , 442px 1004px #FFF , 1676px 944px #FFF , 659px 67px #FFF , 1131px 1866px #FFF , 1272px 1244px #FFF , 95px 1020px #FFF , 511px 1923px #FFF , 1488px 171px #FFF , 1005px 1594px #FFF , 25px 1736px #FFF , 1705px 289px #FFF , 1709px 201px #FFF , 1821px 1319px #FFF , 1151px 1005px #FFF , 1576px 1844px #FFF , 1575px 1467px #FFF , 362px 1211px #FFF , 656px 1935px #FFF , 1699px 1460px #FFF , 60px 831px #FFF , 727px 1848px #FFF , 1737px 68px #FFF , 1096px 1723px #FFF;
  animation: animStar 150s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1585px 1866px #FFF , 1319px 781px #FFF , 1940px 616px #FFF , 571px 1770px #FFF , 1543px 1564px #FFF , 1203px 124px #FFF , 1081px 1497px #FFF , 18px 1674px #FFF , 181px 1680px #FFF , 1602px 787px #FFF , 1923px 1780px #FFF , 452px 1987px #FFF , 1288px 1863px #FFF , 788px 76px #FFF , 208px 1368px #FFF , 1126px 246px #FFF , 849px 624px #FFF , 635px 1946px #FFF , 510px 357px #FFF , 1991px 321px #FFF , 679px 538px #FFF , 1878px 203px #FFF , 1575px 313px #FFF , 849px 1607px #FFF , 1203px 1532px #FFF , 594px 316px #FFF , 1961px 1767px #FFF , 943px 1564px #FFF , 1319px 1256px #FFF , 1817px 1266px #FFF , 1532px 1549px #FFF , 277px 219px #FFF , 1128px 360px #FFF , 1556px 136px #FFF , 397px 1727px #FFF , 1846px 192px #FFF , 1516px 596px #FFF , 1426px 1340px #FFF , 1219px 63px #FFF , 1515px 1932px #FFF , 1957px 1127px #FFF , 959px 229px #FFF , 1926px 777px #FFF , 1173px 569px #FFF , 257px 1114px #FFF , 622px 217px #FFF , 289px 1574px #FFF , 1666px 1722px #FFF , 1642px 85px #FFF , 153px 1474px #FFF , 279px 1706px #FFF , 1614px 1040px #FFF , 1699px 723px #FFF , 573px 144px #FFF , 545px 627px #FFF , 1259px 1369px #FFF , 1821px 1376px #FFF , 1052px 392px #FFF , 171px 508px #FFF , 923px 1191px #FFF , 1001px 1823px #FFF , 513px 1228px #FFF , 1982px 852px #FFF , 1541px 847px #FFF , 1499px 1977px #FFF , 1763px 1616px #FFF , 1423px 799px #FFF , 1461px 1034px #FFF , 928px 826px #FFF , 787px 549px #FFF , 257px 1817px #FFF , 149px 623px #FFF , 1582px 1058px #FFF , 1815px 1487px #FFF , 657px 1772px #FFF , 1458px 260px #FFF , 626px 1281px #FFF , 442px 1004px #FFF , 1676px 944px #FFF , 659px 67px #FFF , 1131px 1866px #FFF , 1272px 1244px #FFF , 95px 1020px #FFF , 511px 1923px #FFF , 1488px 171px #FFF , 1005px 1594px #FFF , 25px 1736px #FFF , 1705px 289px #FFF , 1709px 201px #FFF , 1821px 1319px #FFF , 1151px 1005px #FFF , 1576px 1844px #FFF , 1575px 1467px #FFF , 362px 1211px #FFF , 656px 1935px #FFF , 1699px 1460px #FFF , 60px 831px #FFF , 727px 1848px #FFF , 1737px 68px #FFF , 1096px 1723px #FFF; }

#title {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#header span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#header .view-work {
  font-family: 'lato',sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
  position: relative; }
  #header .view-work:hover img {
    transform: rotate(180deg); }
  #header .view-work:hover::after {
    transform: scale(1);
    bottom: 100%;
    left: 100%; }
  #header .view-work::after {
    content: attr(data-tool-tip);
    position: absolute;
    display: block;
    background-color: rgba(128, 128, 128, 0.3);
    color: #fff;
    padding: 1em 1em;
    border-radius: 10px;
    bottom: 50%;
    left: 50%;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms,  bottom ease-out 150ms, left ease-out 150ms; }

.view-work-container {
  display: inline-block;
  margin-top: 5rem; }

#header .view-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: 700; }

#header .view-work img {
  max-width: 50px;
  position: relative;
  right: -11px;
  transition: transform .2s ease-in-out; }

#projects {
  background-color: #1b2735;
  box-sizing: content-box; }

#projects .projects-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

#projects .project-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff; }

#projects .projects-container img {
  max-width: 100%; }

.about-me {
  font-size: 23px;
  color: #fff;
  padding: 2rem;
  padding-left: 0;
  margin-bottom: 3rem;
  justify-self: baseline; }

.front-end {
  color: rgba(94, 13, 225, 0.9); }

.back-end {
  color: #d690b8; }

.project-big-title, .about-big-title, .contact-big-title {
  font-weight: 800;
  font-size: 65px;
  line-height: 72px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 3rem;
  text-align: center; }

.tech-used {
  display: flex;
  justify-content: space-around; }

.tech-used span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  color: #b15959;
  font-weight: 700; }

.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem; }

.title-line {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57; }

.project-content {
  max-width: 100%;
  height: 300px;
  border-top: none;
  padding: 1rem;
  box-shadow: 3px 3px 20px #504e4e80;
  box-sizing: border-box; }
  @media screen and (max-width: 927px) {
    .project-content {
      max-width: 640px;
      box-sizing: border-box; } }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

:root {
  /* Background-Colors */
  --green: #a4d6a6;
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --purple:  hsl(231deg 12% 81%);
  --purple:  #465295;
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: #e69e9e;
  --pink: hsl(295, 42%, 76%);
  --white: hsl(1, 0%, 100%);
  /* Hover Colors */
  --greenGreen: hsl(101, 100%, 30%);
  --blueBlue: hsl(210, 100%, 50%);
  --orangeOrange: hsl(34, 100%, 50%);
  --purplePurple: hsl(231, 100%, 60%);
  --yellowYellow: hsl(54, 50%, 42%);
  --brownBrown: hsl(20, 100%, 59%);
  --redRed: hsl(0, 100%, 60%);
  --pinkPink: hsl(295, 58%, 34%);
  --whiteWhite: rgb(145, 133, 133); }

#about {
  background-color: #424fad;
  background-color: #1b2735;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 3rem;
  place-items: center;
  -webkit-column-gap: 2rem;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 1rem;
  row-gap: 3rem;
  color: #fff; }

.back-end-tech {
  color: #fff; }

.about-container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative; }

.flex {
  position: relative;
  display: grid;
  place-content: center;
  width: 230px;
  height: 230px;
  animation-name: planetRotate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 60s;
  transition: 310ms;
  margin-bottom: 5rem; }

@keyframes planetRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.flex:hover {
  animation-play-state: paused; }

.centered-image {
  position: relative;
  width: 100px;
  height: 100px;
  animation: counterRotate 60s linear 0s infinite; }

.flex:hover .centered-image {
  animation-play-state: paused; }

.centered-image:hover {
  animation-play-state: paused; }

@keyframes counterRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.centered-image > img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: opacity 500ms;
  border-radius: 20px;
  opacity: 1; }

.centered-image img:last-child:hover {
  opacity: 0; }

.flex span a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  animation-name: planetScaleUpDown;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 3s;
  transition: planetScaleUpDown 500ms 5s; }

@keyframes planetScaleUpDown {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.flex span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(80deg * var(--i))); }

.bg {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30%;
  transform: translateX(-30%);
  animation: counterRotatePlanet 60s linear infinite alternate; }

@keyframes counterRotatePlanet {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.laravel {
  background-color: var(--blue); }

.laravel::before {
  content: "Laravel";
  border-radius: inherit; }

.laravel:hover::before {
  background-color: var(--blueBlue);
  opacity: 1; }

.vue {
  background-color: var(--orange); }

.vue::before {
  content: "Vue";
  border-radius: inherit;
  transform: rotate(200deg); }

.vue:hover::before {
  background-color: var(--orangeOrange);
  opacity: 1; }

.react {
  background-color: var(--purple); }

.react::before {
  content: "React";
  border-radius: inherit;
  transform: rotate(-42deg); }

.react:hover::before {
  background-color: var(--purplePurple);
  opacity: 1; }

.bootstrap {
  background-color: var(--yellow); }

.bootstrap::before {
  content: "Bootstrap";
  border-radius: inherit;
  transform: rotate(240deg); }

.bootstrap:hover::before {
  background-color: var(--yellowYellow);
  opacity: 1; }

.php {
  background-color: var(--green); }

.php::before {
  border-radius: inherit;
  transform: rotate(120deg);
  content: "PHP"; }

.php:hover::before {
  background-color: var(--greenGreen);
  opacity: 1; }

.mysql {
  background-color: var(--brown); }

.mysql::before {
  border-radius: inherit;
  transform: rotate(40deg);
  content: "MySQL"; }

.mysql:hover::before {
  background-color: var(--brownBrown);
  opacity: 1; }

.gitlab {
  background-color: var(--red); }

.gitlab::before {
  content: "GitLab";
  border-radius: inherit;
  transform: rotate(160deg); }

.gitlab:hover::before {
  background-color: var(--redRed);
  opacity: 1; }

.jquery {
  background-color: var(--pink); }

.jquery::before {
  content: "jQuery";
  border-radius: inherit;
  transform: rotate(80deg); }

.jquery:hover::before {
  background-color: var(--pinkPink);
  opacity: 1; }

.js {
  background-color: var(--white); }

.js::before {
  content: "JavaScript";
  border-radius: inherit; }

.js:hover::before {
  background-color: var(--whiteWhite);
  opacity: 1; }

:is(.laravel, .vue, .php, .mysql, .bootstrap, .react, .gitlab, .jquery, .js)::before {
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms linear;
  font-weight: bolder;
  font-size: 15;
  border-radius: inherit; }

.contact-container {
  background-color: #1b2735;
  padding-bottom: 5rem;
  text-align: center;
  box-sizing: border-box; }

.section-divider {
  width: 100px;
  height: 6px;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%); }

.contact-container input, .contact-container textarea {
  min-width: 200px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px; }

.contact-container [type=submit] {
  box-sizing: content-box; }

.contact-me-text {
  color: #424fad; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #contact input, #contact textarea {
    width: 60%; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  #contact input, #contact textarea {
    width: 70%; } }

.contact-container textarea::placeholder {
  font-family: Arial; }

.contact-container [type=submit]:hover {
  background-color: #852323;
  background-color: #07a9e6;
  color: #fff;
  cursor: pointer; }

@media screen and (max-width: 500px) {
  #contact input, #contact textarea {
    width: 80%; } }
