html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  /* scroll-behavior: smooth; */
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
nav li a.active {
  color: #e31b6d;
}
main {
  padding: 4rem;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

body {
  background: #222121;
  color: #fff;
  height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  background: url(../public/img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 33, 33, 0.8);
  z-index: -1;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eee017;
}
main h1 {
  margin-top: 20vh;
}
#__next {
  height: 100vh;
}

#projects {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: #d4d2d2;
  color: #000;
}
#about {
  /* width: 90%; */
  margin: 0 auto;
  padding: 5rem;
}
#about h1 {
  text-align: center;
  color: #000;
  font-size: 3rem;
  padding: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .navbar .nav-container .navbar-items.active {
    opacity: 1;
    transition: all 0.5s ease-out;
  }
  #projects .projects_titles {
    padding: 0.5rem;
  }
  #projects .projects_titles button {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  #projects .projects_items {
    grid-template-columns: repeat(2, 1fr);
  }
  #contact input,
  #contact textarea {
    width: 60%;
  }
  .projects_items .project_item .project_text h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 2.5rem;
  }
  .navbar .nav-container {
    height: 56px;
    display: block;
  }
  .navbar .nav-container .buttons {
    display: block;
  }
  .navbar .nav-container .navbar-items {
    position: fixed;
    display: block;
    opacity: 0;
    top: 40px;
    width: 100%;
    background: #444;
  }
  #__next nav > div > ul.active {
    opacity: 1;
    transition: all 0.5s ease-out;
  }
  .navbar .nav-container .navbar-items .nav-item {
    position: relative;
    left: -50px;
    margin-bottom: 10px;
    display: block;
  }
  .navbar .nav-container .navbar-items .nav-item:nth-child(1) {
    margin-top: 10px;
  }
  main a {
    font-size: 1.2rem;
  }
  #about {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #about .about_content {
    display: block;
  }
  #about .about_content .about_content_left {
    width: 70%;
    margin: 0 auto;
  }
  #about .about_content .about_content_left .img_container {
    min-height: 300px;
  }
  #about .about_content .about_content_left p {
    display: block;
    font-size: 1.2rem;
  }
  #about .about_content .about_skills {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  #about .about_content .about_skills .progressbar .append .number {
    color: transparent;
  }
  #about .about_content .about_skills .progressbar {
    line-height: 0.5rem;
  }
  #about .about_content .about_skills .progressbar:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  #projects .filter {
    font-size: 13pt;
    padding: 0 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  #projects .projects_items {
    grid-template-columns: repeat(1, 1fr);
  }
  #contact input,
  #contact textarea {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 20vh;
  }
  #projects .projects_titles {
    padding: 0.5rem;
  }
  #projects .projects_titles button {
    padding: 0.5rem;
    margin-left: 0rem;
    font-size: 1rem;
  }
  #projects .filter {
    font-size: 11pt;
    padding: 0 10px;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  #projects .projects_items {
    grid-template-columns: repeat(1, 1fr);
  }
  #contact input,
  #contact textarea {
    width: 80%;
  }
}
.action-btns {
  float: right;
}
.play-cus-btn {
  margin-right: 10px;
}
.delete-step-btn {
  position: absolute;
  right: -70px;
}
.step-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.add-step-btn {
  height: 35px;
  right: 11px;
  position: absolute;
  top: 14px;
}
.measures-numbers input,
.tempo input {
  width: 100px;
}
.button-delete {
  background-color: #d33333 !important;
}
input.form-control,
select.form-control {
  display: block;
  width: 100%;
  padding: 0.1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.metronome_mode {
  text-align: center;
  display: flex;
}
.metronome_container {
  max-width: 647px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  margin-top: 30px;
  position: relative;
}

/* CSS */
.button-3.active {
  background-color: darkblue !important;
  color: #c9dfc9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.48);
}
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

/* .button-3:hover {
  background-color: #2c974b;
} */

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.button-3.mode-button {
  background-color: #3030bb;
}

/* CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
body {
  background-color: #6fa3d1;
}

.image-move-container {
  max-width: 100px;
  position: relative;
  margin: 0 auto;
}
.image-container {
  position: relative;
  min-height: 1000px;
}
.image-container img {
  max-width: 100%;
  transform: rotate(180deg);
}
.edge {
  border: 1px solid #000;
  width: 120px;
  position: absolute;
  right: 61px;
}
.edge2 {
  top: 160px;
}
.edge3 {
  top: 320px;
}
.image-container.active {
  top: 160px;
}
.image-container.activeBeat3 {
  top: 320px;
}
.image-container .hide-baton-btn {
  position: absolute;
  top: 141px;
  right: 122px;
}
.metronome-container {
  margin-bottom: 2rem;
}

.metronome-icons {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.metronome-icons .icon {
  height: 80px;
  width: 80px;
  border: 1px solid #000;
  margin: 10px;
}
.metronome-icons .icon.active {
  background-color: #030e2c;
  animation: blinker 0.1s step-start;
}

.speedometer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}
.text-center {
  text-align: center;
}
.speedometer-bar {
  width: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 32px;
}
.speed {
  font-size: 50px;
  color: #ed5c21;
}
.minus,
.plus {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: thin solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.speedometer span {
  color: #ed5c21;
  position: relative;
  top: -11px;
}
.minus span {
  position: relative;
  bottom: 3px;
}
.play-btn span {
  line-height: 80px;
}
.play-btn {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 50%;
  border: thin solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background: rgb(237, 92, 33);
  border-radius: 1.3px;
  /* border: 0.2px solid #010101; */
}
input[type="range"]::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ed5c21;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 13.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(237, 92, 33);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(237, 92, 33);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: rgb(237, 92, 33);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ed5c21;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ed5c21;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.beat-container {
  display: flex;
}
.tools-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.first-beat-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.first-beat-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.small-minus,
.small-plus {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: thin solid rgba(136, 146, 153, 0.5);
  cursor: pointer;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  background-color: #889299;
  color: #fff;
}
.beat {
  width: 20px;
  line-height: 28px;
}
.small-minus {
  font-size: 39px;
  line-height: 22px;
}
.small-plus {
  font-weight: 800;
  font-size: 27px;
  line-height: 27px;
}
hr {
  margin: 30px 0 30px 0;
}
.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 30px;
  border-color: transparent transparent transparent #ed5c21;
  transition: 50ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 27px;
  top: 25px;
  position: relative;
  left: 9px;
}
.button.paused {
  border-style: double;
  border-width: 0px 0 0px 25px;
  position: relative;
  left: 6px;
}
.button:hover {
  border-color: transparent transparent transparent #e77a4f;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c7baba;
}

/* On mouse-over, add a grey background color */
.first-beat-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.first-beat-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.first-beat-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.first-beat-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
