.navbar {
  opacity: 0.8;
  width: 100%;
  background: #000;
  margin: 0;
  border: 0;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #444;
  z-index: 6;
}
.navbar .nav-container {
  display: flex;
}
.navbar .nav-container .buttons {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.navbar .nav-container .buttons .button {
  background: #fff;
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
  transition: all 0.5s ease-out;
}
.navbar .nav-container .navbar-items {
  list-style: none;
}
.navbar .nav-container .navbar-items .nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 2rem;
}
.navbar .nav-container .navbar-items .nav-item :hover {
  color: #e31b6d;
}
/* .navbar .nav-container .navbar-items .nav-item.active a {
  color: #e31b6d;
}
.navbar .nav-container .navbar-items .nav-item .active {
  color: #e31b6d;
}
.navbar .nav-container .navbar-items .active a.active {
  color: #e31b6d;
} */
nav ul li a.active {
  color: #e31b6d;
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  #projects .projects_titles {
    padding: 0.5rem;
  }
  #projects .projects_titles button {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  #projects .projects_items {
    grid-template-columns: repeat(2, 1fr);
  }
  #contact input,
  #contact textarea {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .navbar .nav-container {
    height: 56px;
    display: block;
  }
  .navbar .nav-container .buttons {
    display: block;
  }
  .navbar .nav-container .navbar-items {
    position: fixed;
    display: block;
    opacity: 0;
    top: 40px;
    width: 100%;
    background: #444;
  }

  .navbar .nav-container .navbar-items .nav-item {
    position: relative;
    left: -50px;
    margin-bottom: 10px;
    display: block;
  }
  .navbar .nav-container .navbar-items .nav-item:nth-child(1) {
    margin-top: 10px;
  }
}
